In [2]:
# Importing the libraries
import numpy as np
import pandas as pd

In [3]:
# Connecting the notebook to database
import psycopg2 as pg
conn = pg.connect(host="readonly-mammoth.cej4egpcwxj3.ap-south-1.rds.amazonaws.com",
dbname=        user=         ,password=  "         ")

In [4]:
# Fetching data from the database
df = pd.read_sql_query("""
select a.user_id, a.address_type, a.building, a.locality, a.city, 
a.state, a.row_status, a.source, b.body
from v3_user_address_data a inner join v3_income_raw_data b 
on a.user_id = b.user_id where a.row_status ='active' and a.city IS NOT NULL and b.category = 'atm_bank'
order by a.user_id limit 50000
""",conn)

In [5]:
df.head()

,user_id,address_type,building,locality,city,state,row_status,source,body
0,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"Cash withdrawal of Rs1,500.00 made on Kotak De..."
1,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,Cash withdrawal of Rs.500 made on Kotak Debit ...
2,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,Cash withdrawal of Rs.500 made on Kotak Debit ...
3,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,You have successfully registered for UPI payme...
4,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,You have successfully registered for UPI payme...

In [6]:
df.tail()

,user_id,address_type,building,locality,city,state,row_status,source,body
49995,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"Use SBI ATMs for better security, convenience ..."
49996,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,Rs 14000 withdrawn at SBI ATM HFBC000727216 ...
49997,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,Rs 1000 withdrawn from A/c xxxx 0746 on 120917...
49998,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"Use SBI ATMs for better security, convenience ..."
49999,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"Use SBI ATMs for better security, convenience ..."

In [7]:
# Importing the list of cities in India csv file
data=pd.read_csv("C:/Users/adars/OneDrive/Desktop/list_of_cities.csv")

In [8]:
data.head()

,S.No,Name of City,State,Type,Population (2011),Population class
0,1,Mumbai,Maharashtra,Municipal Corporation / Corporation,"1,35,97,924",Class I
1,2,Delhi,Delhi,Municipal Corporation / Corporation,"1,10,07,835",Class I
2,3,Bangalore,Karnataka,Municipal Corporation / Corporation,"84,25,970",Class I
3,4,Ahmedabad,Gujarat,Municipal Corporation / Corporation.,"72,08,200",Class I
4,5,Hyderabad,Telangana,Municipal Corporation / Corporation,"68,09,970",Class I

In [9]:
data[data['Name of City'].str.lower() == 'ron']

,S.No,Name of City,State,Type,Population (2011),Population class
1137,1138,Ron,Karnataka,Town Panchayat,"21,643",NaN

In [11]:
# Converting the name of city column to list
my_list = data["Name of City"].drop_duplicates().str.lower().tolist()

In [309]:
my_list

['mumbai',
 'delhi',
 'bangalore',
 'ahmedabad',
 'hyderabad',
 'chennai',
 'kolkata',
 'pune',
 'jaipur',
 'surat',
 'lucknow',
 'kanpur',
 'nagpur',
 'patna',
 'indore',
 'thane',
 'bhopal',
 'visakhapatnam',
 'vadodara',
 'firozabad',
 'ludhiana',
 'rajkot',
 'agra',
 'siliguri',
 'nashik',
 'faridabad',
 'patiala',
 'meerut',
 'kalyan-dombivali',
 'vasai-virar',
 'varanasi',
 'srinagar',
 'dhanbad',
 'jodhpur',
 'amritsar',
 'raipur',
 'allahabad',
 'coimbatore',
 'jabalpur',
 'gwalior',
 'vijayawada',
 'madurai',
 'guwahati',
 'chandigarh',
 'hubli-dharwad',
 'amroha',
 'moradabad',
 'gurgaon',
 'aligarh',
 'solapur',
 'ranchi',
 'jalandhar',
 'tiruchirappalli',
 'bhubaneswar',
 'salem',
 'warangal',
 'mira-bhayandar',
 'thiruvananthapuram',
 'bhiwandi',
 'saharanpur',
 'guntur',
 'amravati',
 'bikaner',
 'noida',
 'jamshedpur',
 'bhilai nagar',
 'cuttack',
 'kochi',
 'udaipur',
 'bhavnagar',
 'dehradun',
 'asansol',
 'nanded-waghala',
 'ajmer',
 'jamnagar',
 'ujjain',
 'sangli',
 'loni',
 'jhansi',
 'pondicherry',
 'nellore',
 'jammu',
 'belagavi',
 'raurkela',
 'mangaluru',
 'tirunelveli',
 'malegaon',
 'gaya',
 'tiruppur',
 'davanagere',
 'kozhikode',
 'akola',
 'kurnool',
 'bokaro steel city',
 'rajahmundry',
 'ballari',
 'agartala',
 'bhagalpur',
 'latur',
 'dhule',
 'korba',
 'bhilwara',
 'brahmapur',
 'mysore',
 'muzaffarpur',
 'ahmednagar',
 'kollam',
 'raghunathganj',
 'bilaspur',
 'shahjahanpur',
 'thrissur',
 'alwar',
 'kakinada',
 'nizamabad',
 'sagar',
 'tumkur',
 'hisar',
 'rohtak',
 'panipat',
 'darbhanga',
 'kharagpur',
 'aizawl',
 'ichalkaranji',
 'tirupati',
 'karnal',
 'bathinda',
 'rampur',
 'shivamogga',
 'ratlam',
 'modinagar',
 'durg',
 'shillong',
 'imphal',
 'hapur',
 'ranipet',
 'anantapur',
 'arrah',
 'karimnagar',
 'parbhani',
 'etawah',
 'bharatpur',
 'begusarai',
 'chhapra',
 'kadapa',
 'ramagundam',
 'pali',
 'satna',
 'vizianagaram',
 'katihar',
 'hardwar',
 'sonipat',
 'nagercoil',
 'thanjavur',
 'murwara (katni)',
 'naihati',
 'sambhal',
 'nadiad',
 'yamunanagar',
 'english bazar',
 'eluru',
 'munger',
 'panchkula',
 'raayachuru',
 'panvel',
 'deoghar',
 'ongole',
 'nandyal',
 'morena',
 'bhiwani',
 'porbandar',
 'palakkad',
 'anand',
 'purnia',
 'baharampur',
 'barmer',
 'morvi',
 'orai',
 'bahraich',
 'sikar',
 'vellore',
 'singrauli',
 'khammam',
 'mahesana',
 'silchar',
 'sambalpur',
 'rewa',
 'unnao',
 'hugli-chinsurah',
 'raiganj',
 'phusro',
 'adityapur',
 'alappuzha',
 'bahadurgarh',
 'machilipatnam',
 'rae bareli',
 'jalpaiguri',
 'bharuch',
 'pathankot',
 'hoshiarpur',
 'baramula',
 'adoni',
 'jind',
 'tonk',
 'tenali',
 'kancheepuram',
 'vapi',
 'sirsa',
 'navsari',
 'mahbubnagar',
 'puri',
 'robertson pet',
 'erode',
 'batala',
 'haldwani-cum-kathgodam',
 'vidisha',
 'saharsa',
 'thanesar',
 'chittoor',
 'veraval',
 'lakhimpur',
 'sitapur',
 'hindupur',
 'santipur',
 'balurghat',
 'ganjbasoda',
 'moga',
 'proddatur',
 'medinipur',
 'habra',
 'sasaram',
 'hajipur',
 'bhuj',
 'shivpuri',
 'ranaghat',
 'shimla',
 'tiruvannamalai',
 'kaithal',
 'rajnandgaon',
 'godhra',
 'hazaribag',
 'bhimavaram',
 'mandsaur',
 'dibrugarh',
 'kolar',
 'bankura',
 'mandya',
 'dehri-on-sone',
 'madanapalle',
 'malerkotla',
 'lalitpur',
 'bettiah',
 'pollachi',
 'khanna',
 'neemuch',
 'palwal',
 'palanpur',
 'guntakal',
 'nabadwip',
 'udupi',
 'jagdalpur',
 'motihari',
 'pilibhit',
 'dimapur',
 'mohali',
 'sadulpur',
 'rajapalayam',
 'dharmavaram',
 'kashipur',
 'sivakasi',
 'darjiling',
 'chikkamagaluru',
 'gudivada',
 'baleshwar town',
 'mancherial',
 'srikakulam',
 'adilabad',
 'yavatmal',
 'barnala',
 'nagaon',
 'narasaraopet',
 'raigarh',
 'roorkee',
 'valsad',
 'ambikapur',
 'giridih',
 'chandausi',
 'purulia',
 'patan',
 'bagaha',
 'hardoi ',
 'achalpur',
 'osmanabad',
 'deesa',
 'nandurbar',
 'azamgarh',
 'ramgarh',
 'firozpur',
 'baripada town',
 'karwar',
 'siwan',
 'rajampet',
 'pudukkottai',
 'anantnag',
 'tadpatri',
 'satara',
 'bhadrak',
 'kishanganj',
 'suryapet',
 'wardha',
 'ranebennuru',
 'amreli',
 'neyveli (ts)',
 'jamalpur',
 'marmagao',
 'udgir',
 'tadepalligudem',
 'nagapattinam',
 'buxar',
 'aurangabad',
 'jehanabad',
 'phagwara',
 'khair',
 'sawai madhopur',
 'kapurthala',
 'chilakaluripet',
 'malappuram',
 'rewari',
 'nagaur',
 'sultanpur',
 'nagda',
 'port blair',
 'lakhisarai',
 'panaji',
 'tinsukia',
 'itarsi',
 'kohima',
 'balangir',
 'nawada',
 'jharsuguda',
 'jagtial',
 'viluppuram',
 'amalner',
 'zirakpur',
 'tanda',
 'tiruchengode',
 'nagina',
 'yemmiganur',
 'vaniyambadi',
 'sarni',
 'theni allinagaram',
 'margao',
 'akot',
 'sehore',
 'mhow cantonment',
 'kot kapura',
 'makrana',
 'pandharpur',
 'miryalaguda',
 'shamli',
 'seoni',
 'ranibennur',
 'kadiri',
 'shrirampur',
 'rudrapur',
 'parli',
 'najibabad',
 'nirmal',
 'udhagamandalam',
 'shikohabad',
 'jhumri tilaiya',
 'aruppukkottai',
 'ponnani',
 'jamui',
 'sitamarhi',
 'chirala',
 'anjar',
 'karaikal',
 'hansi',
 'anakapalle',
 'mahasamund',
 'faridkot',
 'saunda',
 'dhoraji',
 'paramakudi',
 'balaghat',
 'sujangarh',
 'khambhat',
 'muktsar',
 'rajpura',
 'kavali',
 'dhamtari',
 'ashok nagar',
 'sardarshahar',
 'mahuva',
 'bargarh',
 'kamareddy',
 'sahibganj',
 'kothagudem',
 'ramanagaram',
 'gokak',
 'tikamgarh',
 'araria',
 'rishikesh',
 'shahdol',
 'medininagar (daltonganj)',
 'arakkonam',
 'washim',
 'sangrur',
 'bodhan',
 'fazilka',
 'palacole',
 'keshod',
 'sullurpeta',
 'wadhwan',
 'gurdaspur',
 'vatakara',
 'tura',
 'narnaul',
 'kharar',
 'yadgir',
 'ambejogai',
 'ankleshwar',
 'savarkundla',
 'paradip',
 'virudhachalam',
 'kanhangad',
 'kadi',
 'srivilliputhur',
 'gobindgarh',
 'tindivanam',
 'mansa',
 'taliparamba',
 'manmad',
 'tanuku',
 'rayachoti',
 'virudhunagar',
 'koyilandy',
 'jorhat',
 'karur',
 'valparai',
 'srikalahasti',
 'neyyattinkara',
 'bapatla',
 'fatehabad',
 'malout',
 'sankarankovil',
 'tenkasi',
 'ratnagiri',
 'rabkavi banhatti',
 'sikandrabad',
 'chaibasa',
 'chirmiri',
 'palwancha',
 'bhawanipatna',
 'kayamkulam',
 'pithampur',
 'nabha',
 'shahabad, hardoi',
 'dhenkanal',
 'uran islampur',
 'gopalganj',
 'bongaigaon city',
 'palani',
 'pusad',
 'sopore',
 'pilkhuwa',
 'tarn taran',
 'renukoot',
 'mandamarri',
 'shahabad',
 'barbil',
 'koratla',
 'madhubani',
 'arambagh',
 'gohana',
 'ladnu',
 'pattukkottai',
 'sirsi',
 'sircilla',
 'tamluk',
 'jagraon',
 'alipurdurban agglomerationr',
 'alirajpur',
 'tandur',
 'naidupet',
 'tirupathur',
 'tohana',
 'ratangarh',
 'dhubri',
 'masaurhi',
 'visnagar',
 'vrindavan',
 'nokha',
 'nagari',
 'narwana',
 'ramanathapuram',
 'ujhani',
 'samastipur',
 'laharpur',
 'sangamner',
 'nimbahera',
 'siddipet',
 'suri',
 'diphu',
 'jhargram',
 'shirpur-warwade',
 'tilhar',
 'sindhnur',
 'udumalaipettai',
 'malkapur',
 'wanaparthy',
 'gudur',
 'kendujhar',
 'mandla',
 'mandi',
 'nedumangad',
 'north lakhimpur',
 'vinukonda',
 'tiptur',
 'gobichettipalayam',
 'sunabeda',
 'wani',
 'upleta',
 'narasapuram',
 'nuzvid',
 'tezpur',
 'una',
 'markapur',
 'sheopur',
 'thiruvarur',
 'sidhpur',
 'sahaswan',
 'suratgarh',
 'shajapur',
 'rayagada',
 'lonavla',
 'ponnur',
 'kagaznagar',
 'gadwal',
 'bhatapara',
 'kandukur',
 'sangareddy',
 'unjha',
 'lunglei',
 'karimganj',
 'kannur',
 'bobbili',
 'mokameh',
 'talegaon dabhade',
 'anjangaon',
 'mangrol',
 'sunam',
 'gangarampur',
 'thiruvallur',
 'tirur',
 'rath',
 'jatani',
 'viramgam',
 'rajsamand',
 'yanam',
 'kottayam',
 'panruti',
 'dhuri',
 'namakkal',
 'kasaragod',
 'modasa',
 'rayadurg',
 'supaul',
 'kunnamkulam',
 'umred',
 'bellampalle',
 'sibsagar',
 'mandi dabwali',
 'ottappalam',
 'dumraon',
 'samalkot',
 'jaggaiahpet',
 'goalpara',
 'tuni',
 'lachhmangarh',
 'bhongir',
 'amalapuram',
 'firozpur cantt.',
 'vikarabad',
 'thiruvalla',
 'sherkot',
 'palghar',
 'shegaon',
 'jangaon',
 'bheemunipatnam',
 'panna',
 'thodupuzha',
 'kathurban agglomeration',
 'palitana',
 'arwal',
 'venkatagiri',
 'kalpi',
 'rajgarh (churu)',
 'sattenapalle',
 'arsikere',
 'ozar',
 'thirumangalam',
 'petlad',
 'nasirabad',
 'phaltan',
 'rampurhat',
 'nanjangud',
 'forbesganj',
 'tundla',
 'bhaburban agglomeration',
 'sagara',
 'pithapuram',
 'sira',
 'bhadrachalam',
 'charkhi dadri',
 'chatra',
 'palasa kasibugga',
 'nohar',
 'yevla',
 'sirhind fatehgarh sahib',
 'bhainsa',
 'parvathipuram',
 'shahade',
 'chalakudy',
 'narkatiaganj',
 'kapadvanj',
 'macherla',
 'raghogarh-vijaypur',
 'rupnagar',
 'naugachhia',
 'sendhwa',
 'byasanagar',
 'sandila',
 'gooty',
 'salur',
 'nanpara',
 'sardhana',
 'vita',
 'gumia',
 'puttur',
 'jalandhar cantt.',
 'nehtaur',
 'changanassery',
 'mandapeta',
 'dumka',
 'seohara',
 'umarkhed',
 'madhupur',
 'vikramasingapuram',
 'punalur',
 'kendrapara',
 'sihor',
 'nellikuppam',
 'samana',
 'warora',
 'nilambur',
 'rasipuram',
 'ramnagar',
 'jammalamadugu',
 'nawanshahr',
 'thoubal',
 'athni',
 'cherthala',
 'sidhi',
 'farooqnagar',
 'peddapuram',
 'chirkunda',
 'pachora',
 'madhepura',
 'pithoragarh',
 'tumsar',
 'phalodi',
 'tiruttani',
 'rampura phul',
 'perinthalmanna',
 'padrauna',
 'pipariya',
 'dalli-rajhara',
 'punganur',
 'mattannur',
 'mathura',
 'thakurdwara',
 'nandivaram-guduvancheri',
 'mulbagal',
 'manjlegaon',
 'wankaner',
 'sillod',
 'nidadavole',
 'surapura',
 'rajagangapur',
 'sheikhpura',
 'parlakhemundi',
 'kalimpong',
 'siruguppa',
 'arvi',
 'limbdi',
 'barpeta',
 'manglaur',
 'repalle',
 'mudhol',
 'shujalpur',
 'mandvi',
 'thangadh',
 'sironj',
 'nandura',
 'shoranur',
 'nathdwara',
 'periyakulam',
 'sultanganj',
 'medak',
 'narayanpet',
 'raxaul bazar',
 'rajauri',
 'pernampattu',
 'nainital',
 'ramachandrapuram',
 'vaijapur',
 'nangal',
 'sidlaghatta',
 'punch',
 'pandhurna',
 'wadgaon road',
 'talcher',
 'varkala',
 'pilani',
 'nowgong',
 'naila janjgir',
 'mapusa',
 'vellakoil',
 'merta city',
 'sivaganga',
 'mandideep',
 'sailu',
 'vyara',
 'kovvur',
 'vadalur',
 'nawabganj',
 'padra',
 'sainthia',
 'siana',
 'shahpur',
 'sojat',
 'noorpur',
 'paravoor',
 'murtijapur',
 'sundargarh',
 'taki',
 'saundatti-yellamma',
 'pathanamthitta',
 'wadi',
 'rameshwaram',
 'tasgaon',
 'sikandra rao',
 'sihora',
 'tiruvethipuram',
 'tiruvuru',
 'mehkar',
 'peringathur',
 'perambalur',
 'manvi',
 'zunheboto',
 'mahnar bazar',
 'attingal',
 'shahbad',
 'puranpur',
 'nelamangala',
 'nakodar',
 'lunawada',
 'murshidabad',
 'mahe',
 'lanka',
 'rudauli',
 'tuensang',
 'lakshmeshwar',
 'zira',
 'yawal',
 'thana bhawan',
 'ramdurg',
 'pulgaon',
 'sadasivpet',
 'nargund',
 'neem-ka-thana',
 'memari',
 'nilanga',
 'naharlagun',
 'pakaur',
 'wai',
 'tarikere',
 'malavalli',
 'raisen',
 'lahar',
 'uravakonda',
 'savanur',
 'sirohi',
 'udhampur',
 'umarga',
 'pratapgarh',
 'lingsugur',
 'usilampatti',
 'palia kalan',
 'wokha',
 'rajpipla',
 'vijayapura',
 'rawatbhata',
 'sangaria',
 'paithan',
 'rahuri',
 'patti',
 'zaidpur',
 'lalsot',
 'maihar',
 'vedaranyam',
 'nawapur',
 'solan',
 'sanawad',
 'warisaliganj',
 'revelganj',
 'sabalgarh',
 'tuljapur',
 'simdega',
 'musabani',
 'kodungallur',
 'phulabani',
 'umreth',
 'narsipatnam',
 'nautanwa',
 'rajgir',
 'yellandu',
 'sathyamangalam',
 'pilibanga',
 'morshi',
 'pehowa',
 'sonepur',
 'pappinisseri',
 'zamania',
 'mihijam',
 'purna',
 'puliyankudi',
 'shikarpur, bulandshahr',
 'umaria',
 'porsa',
 'naugawan sadat',
 'fatehpur sikri',
 'manuguru',
 'pipar city',
 'pattamundai',
 'nanjikottai',
 'taranagar',
 'yerraguntla',
 'satana',
 'sherghati',
 'sankeshwara',
 'madikeri',
 'thuraiyur',
 'sanand',
 'rajula',
 'kyathampalle',
 'shahabad, rampur',
 'tilda newra',
 'narsinghgarh',
 'chittur-thathamangalam',
 'malaj khand',
 'sarangpur',
 'robertsganj',
 'sirkali',
 'radhanpur',
 'tiruchendur',
 'utraula',
 'patratu',
 'vijainagar, ajmer',
 'periyasemur',
 'pathri',
 'sadabad',
 'talikota',
 'sinnar',
 'mungeli',
 'sedam',
 'shikaripur',
 'sumerpur',
 'sattur',
 'sugauli',
 'lumding',
 'vandavasi',
 'titlagarh',
 'uchgaon',
 'mokokchung',
 'paschim punropara',
 'sagwara',
 'ramganj mandi',
 'tarakeswar',
 'mahalingapura',
 'dharmanagar',
 'mahemdabad',
 'manendragarh',
 'uran',
 'tharamangalam',
 'tirukkoyilur',
 'pen',
 'makhdumpur',
 'maner',
 'oddanchatram',
 'palladam',
 'mundi',
 'nabarangapur',
 'mudalagi',
 'samalkha',
 'nepanagar',
 'karjat',
 'ranavav',
 'pedana',
 'pinjore',
 'lakheri',
 'pasan',
 'vadakkuvalliyur',
 'tirukalukundram',
 'mahidpur',
 'mussoorie',
 'muvattupuzha',
 'rasra',
 'udaipurwati',
 'manwath',
 'adoor',
 'uthamapalayam',
 'partur',
 'nahan',
 'ladwa',
 'mankachar',
 'nongstoin',
 'losal',
 'sri madhopur',
 'ramngarh',
 'mavelikkara',
 'rawatsar',
 'rajakhera',
 'lar',
 'lal gopalganj nindaura',
 'muddebihal',
 'sirsaganj',
 'shahpura',
 'surandai',
 'sangole',
 'pavagada',
 'tharad',
 'umbergaon',
 'mavoor',
 'nalbari',
 'talaja',
 'malur',
 'mangrulpir',
 'soro',
 'vadnagar',
 'raisinghnagar',
 'sindhagi',
 'sanduru',
 'sohna',
 'manavadar',
 'pihani',
 'safidon',
 'risod',
 'rosera',
 'sankari',
 'malpura',
 'sonamukhi',
 'shamsabad, agra',
 'pandurban agglomeration',
 'mainaguri',
 'afzalpur',
 'shirur',
 'salaya',
 'shenkottai',
 'vadipatti',
 'nagarkurnool',
 'savner',
 'sasvad',
 'soron',
 'sholingur',
 'pandharkaoda',
 'perumbavoor',
 'maddur',
 'nadbai',
 'talode',
 'shrigonda',
 'madhugiri',
 'tekkalakote',
 'seoni-malwa',
 'shirdi',
 'surban agglomerationr',
 'terdal',
 'raver',
 'taraori',
 'mukhed',
 'manachanallur',
 'rehli',
 'sanchore',
 'rajura',
 'piro',
 'mudabidri',
 'vadgaon kasba',
 'nagar',
 'vijapur',
 ...]

In [12]:
df.head()

,user_id,address_type,building,locality,city,state,row_status,source,body
0,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"Cash withdrawal of Rs1,500.00 made on Kotak De..."
1,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,Cash withdrawal of Rs.500 made on Kotak Debit ...
2,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,Cash withdrawal of Rs.500 made on Kotak Debit ...
3,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,You have successfully registered for UPI payme...
4,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,You have successfully registered for UPI payme...

In [13]:
df.tail()

,user_id,address_type,building,locality,city,state,row_status,source,body
49995,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"Use SBI ATMs for better security, convenience ..."
49996,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,Rs 14000 withdrawn at SBI ATM HFBC000727216 ...
49997,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,Rs 1000 withdrawn from A/c xxxx 0746 on 120917...
49998,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"Use SBI ATMs for better security, convenience ..."
49999,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"Use SBI ATMs for better security, convenience ..."

In [14]:
# Changing the body column into lower case
df['body'] = df['body'].str.lower()

In [15]:
df.head()

,user_id,address_type,building,locality,city,state,row_status,source,body
0,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"cash withdrawal of rs1,500.00 made on kotak de..."
1,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit ...
2,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit ...
3,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,you have successfully registered for upi payme...
4,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,you have successfully registered for upi payme...

In [16]:
# Matching the city name
df['Withdrawl_City'] = df['body'].apply(lambda x:''.join ([i+"," if i in x else '' for i in my_list]))

In [17]:
df.head()

,user_id,address_type,building,locality,city,state,row_status,source,body,Withdrawl_City
0,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"cash withdrawal of rs1,500.00 made on kotak de...","rau,"
1,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit ...,
2,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit ...,
3,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,you have successfully registered for upi payme...,
4,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,you have successfully registered for upi payme...,

In [18]:
[i for i in my_list if i=='rau']

['rau']

In [19]:
df['Withdrawl_City'].value_counts()

                           42512
rau,                        1994
una,                        1076
delhi,                       936
noida,                       559
allahabad,ron,               414
nagar,                       224
mul,                         156
pen,                         156
wai,                         123
delhi,nagar,                 123
gurgaon,                     121
allahabad,                    87
faridabad,                    74
gurgaon,rau,                  74
meerut,noida,                 66
bangalore,                    61
ron,                          52
puri,                         49
indore,mahe,                  48
rewa,                         43
jaipur,                       41
meerut,                       38
mandi,                        32
agra,una,                     32
thane,                        31
pen,lar,                      30
agra,nagar,                   28
udaipur,                      28
aligarh,                      26
                           ...
gwalior,puri,                  2
panipat,                       2
nagaon,marigaon,               2
gwalior,                       2
indore,pen,                    2
mandawa,                       1
korba,nirmal,                  1
delhi,sultanpur,               1
renukoot,                      1
nadiad,                        1
chennai,vita,                  1
morena,ron,                    1
mundi,                         1
pilani,                        1
panaji,                        1
pune,nagar,                    1
yavatmal,ron,                  1
delhi,pali,                    1
delhi,durg,bahadurgarh,        1
patna,muzaffarpur,             1
moga,pen,                      1
jamshedpur,                    1
mathura,                       1
mumbai,delhi,                  1
nainital,                      1
kanpur,nagar,                  1
pasan,                         1
robertsganj,                   1
pen,ron,                       1
samastipur,                    1
Name: Withdrawl_City, Length: 162, dtype: int64

In [20]:
df.tail()

,user_id,address_type,building,locality,city,state,row_status,source,body,Withdrawl_City
49995,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience ...",
49996,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 14000 withdrawn at sbi atm hfbc000727216 ...,"delhi,"
49997,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 1000 withdrawn from a/c xxxx 0746 on 120917...,
49998,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience ...",
49999,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience ...",

In [21]:
# Analysis
[i for i in my_list if i=='ron']

['ron']

In [22]:
# Checking customer record for ron city in database
pd.read_sql_query("""
select * from v3_user_address_data where city = 'rau'
""",conn)

,id,address_type,building,locality,city,state,affluency_metric,comments,created_at,updated_at,user_id,row_status,pin,lat,lng,source,landmark,performed_by,extra_details
0,409255,Home with family,d 15 swastik vihar rau,near railway station,rau,None,1.0,None,2018-09-06 14:10:13.622471,2018-09-09 19:50:11.634053,196010,inactive,453331.0,None,None,None,None,NaN,{}
1,409259,Home with family,d 15 swastik vihar rau,near railway station,rau,None,1.0,None,2018-09-06 14:11:34.529718,2018-09-09 19:50:11.634053,196010,inactive,453331.0,None,None,None,None,NaN,{}
2,861860,Home with family,18-A sector B umariya colony indore,indore,rau,None,1.0,None,2018-12-18 16:07:50.434901,2018-12-19 20:11:31.966570,335914,inactive,453331.0,None,None,None,None,NaN,{}
3,507725,Rented with friends,33 home streeet park,samarth park,rau,None,1.0,None,2018-10-03 12:13:09.087640,2018-10-03 22:45:38.485949,229217,inactive,450001.0,None,None,None,None,NaN,{}
4,507732,Rented with friends,33 home streeet park,samarth park,rau,None,1.0,None,2018-10-03 12:14:17.410275,2018-10-03 22:45:38.485949,229217,inactive,450001.0,None,None,None,None,NaN,{}
5,507727,Rented with friends,33 home streeet park,samarth park,rau,None,1.0,None,2018-10-03 12:13:20.004599,2018-10-03 22:45:38.485949,229217,inactive,450001.0,None,None,None,None,NaN,{}
6,507729,Rented with friends,33 home streeet park,samarth park,rau,None,1.0,None,2018-10-03 12:13:51.842910,2018-10-03 22:45:38.485949,229217,inactive,450001.0,None,None,None,None,NaN,{}
7,865988,Home with family,18-A sector B umariya colony indore,indore,rau,None,1.0,None,2018-12-19 11:52:31.659094,2018-12-19 20:11:31.966570,335914,inactive,453331.0,None,None,None,None,NaN,{}
8,884938,Hostel/PG,108 medicaps boys hostel,"Chittorgarh, Rajasthan",rau,None,1.0,None,2018-12-22 16:18:46.007331,2018-12-22 16:27:33.834860,348318,inactive,453331.0,None,None,None,None,NaN,{}
9,854024,Home with family,18-A sector B umariya colony indore,indore,rau,None,1.0,None,2018-12-17 12:32:52.967660,2018-12-19 20:11:31.966570,335914,inactive,453331.0,None,None,None,None,NaN,{}
10,878142,Home with family,suraj complex near sarthak computer,rau,rau,None,1.0,None,2018-12-21 13:24:17.223731,2019-02-01 11:08:50.776767,345191,inactive,453331.0,None,None,None,None,NaN,{}
11,884937,Hostel/PG,108 medicaps boys hostel,"Chittorgarh, Rajasthan",rau,None,1.0,None,2018-12-22 16:18:38.564681,2018-12-22 16:27:33.834860,348318,inactive,453331.0,None,None,None,None,NaN,{}
12,878136,,suraj complex near sarthak computer,rau,rau,None,1.0,None,2018-12-21 13:23:47.227057,2019-02-01 11:08:50.776767,345191,inactive,453331.0,None,None,None,None,NaN,{}
13,2551908,Home with family,10 saivihar coloni rau,rau indore,rau,None,1.0,None,2019-07-23 18:03:39.549909,2019-07-23 18:04:05.069129,830592,inactive,453331.0,None,None,None,None,NaN,{}
14,2013380,Home with family,45 braj Bihar colony Indore,Indore,rau,None,1.0,None,2019-05-30 09:33:41.993358,2019-05-31 09:36:49.391476,531107,inactive,453331.0,None,None,None,None,NaN,{}
15,878856,Home with family,suraj complex near sarthak computer,rau,rau,None,1.0,None,2018-12-21 14:47:56.156548,2019-02-01 11:08:50.776767,345191,inactive,453331.0,None,None,None,None,NaN,{}
16,961254,Home with family,suraj complex near sarthak computer,rau,rau,None,1.0,None,2019-01-07 23:58:03.607795,2019-02-01 11:08:50.776767,345191,inactive,453331.0,None,None,None,None,NaN,{}
17,1471056,permanent address,11/7,maa durga colony,rau,None,NaN,student id,2019-03-24 11:19:59.760780,2019-03-24 11:21:10.288453,240700,inactive,NaN,None,None,kyc,None,NaN,{}
18,1749636,Home with family,"makan no.120,ward no.9 rau Indore",rau,rau,None,1.0,None,2019-04-25 13:34:28.680455,2019-04-25 19:28:01.146564,603480,inactive,453331.0,None,None,None,None,NaN,{}
19,869828,Home with family,18-A sector B umariya colony indore,indore,rau,MADHYA PRADESH,1.0,None,2018-12-19 20:11:31.966570,2019-11-07 16:57:45.364981,335914,active,453331.0,None,None,None,None,147779.0,{}
20,2551918,Home with family,10 saivihar coloni rau,rau indore,rau,None,1.0,None,2019-07-23 18:04:05.069129,2019-08-11 12:09:42.433794,830592,inactive,453331.0,None,None,None,None,NaN,{}
21,2515537,Home with family,205 b new brijvihar coloney,indian,rau,None,1.0,None,2019-07-20 23:13:22.033124,2019-07-24 22:09:40.897165,817519,inactive,453331.0,None,None,None,None,NaN,{}
22,2553648,Home with family,makan no.10 ward no.11,indore,rau,None,1.0,None,2019-07-23 20:41:23.692786,2019-08-11 15:03:45.089788,707893,inactive,453331.0,None,None,None,None,NaN,{}
23,1578438,Hostel/PG,321 boys hostel,sage university,rau,None,1.0,None,2019-04-04 17:21:22.025265,2019-08-05 17:04:36.500623,557410,inactive,452012.0,None,None,None,None,NaN,{}
24,1578289,Hostel/PG,321 boys hostel,sage university,rau,None,1.0,None,2019-04-04 17:08:40.300019,2019-08-05 17:04:36.500623,557410,inactive,452012.0,None,None,None,None,NaN,{}
25,1578295,Hostel/PG,321 boys hostel,sage university,rau,None,1.0,None,2019-04-04 17:09:15.182443,2019-08-05 17:04:36.500623,557410,inactive,452012.0,None,None,None,None,NaN,{}
26,1578383,Hostel/PG,321 boys hostel,sage university,rau,None,1.0,None,2019-04-04 17:16:33.037636,2019-08-05 17:04:36.500623,557410,inactive,452012.0,None,None,None,None,NaN,{}
27,2020719,Home with family,45 braj Bihar colony Indore,Indore,rau,MADHYA PRADESH,1.0,None,2019-05-31 09:36:49.391476,2019-11-07 16:57:45.364981,531107,active,453331.0,None,None,None,None,147779.0,{}
28,2515546,Home with family,205 b new brijvihar coloney,indian,rau,None,1.0,None,2019-07-20 23:14:24.767598,2019-07-24 22:09:40.897165,817519,inactive,453331.0,None,None,None,None,NaN,{}
29,419503,Home with family,d 15 swastik vihar rau,near railway station,rau,MADHYA PRADESH,1.0,None,2018-09-09 19:50:11.634053,2019-11-07 16:57:45.364981,196010,active,453331.0,None,None,None,None,147779.0,{}
30,2693401,Hostel/PG,321 boys hostel,sage university,rau,MADHYA PRADESH,1.0,None,2019-08-05 17:04:36.500623,2019-11-07 16:57:45.364981,557410,active,452012.0,None,None,None,None,147779.0,{}
31,1086697,Home with family,suraj complex near sarthak computer,rau,rau,MADHYA PRADESH,1.0,None,2019-02-01 11:08:50.776767,2019-11-07 16:57:45.364981,345191,active,453331.0,None,None,None,None,147779.0,{}
32,884982,Hostel/PG,108 medicaps boys hostel,"Chittorgarh, Rajasthan",rau,MADHYA PRADESH,1.0,None,2018-12-22 16:27:33.834860,2019-11-07 16:57:45.364981,348318,active,453331.0,None,None,None,None,147779.0,{}
33,2565505,Home with family,205 b new brijvihar coloney,indian,rau,MADHYA PRADESH,1.0,None,2019-07-24 22:09:40.897165,2019-11-07 16:57:45.364981,817519,active,453331.0,None,None,None,None,147779.0,{}

In [ ]:
# 33 customers are from rau city madhya pradesh

In [23]:
# Creating a dataframe consisting of body and withdrawl_city
df_2 = pd.DataFrame(df, columns = ['body' , 'Withdrawl_City'])

In [24]:
df_2.head()

                                                body Withdrawl_City
0  cash withdrawal of rs1,500.00 made on kotak de...           rau,
1  cash withdrawal of rs.500 made on kotak debit ...
2  cash withdrawal of rs.500 made on kotak debit ...
3  you have successfully registered for upi payme...
4  you have successfully registered for upi payme...

In [25]:
pd.options.display.max_colwidth = 200

In [26]:
# Checking the body of message for rau city
df_2[df_2['Withdrawl_City'] == 'rau,']

,body,Withdrawl_City
0,"cash withdrawal of rs1,500.00 made on kotak debit card x7239 on 24-09-2019 at maharana pratap.avl bal is rs 2,623.58.not you?visit kotak.com/fraud","rau,"
6,"cash withdrawal of rs.1,000.00 made on kotak debit card xx7309 on 07-03-2019 22:26:29 at icici bank.combined balance in a/c xx7187 is rs 11,109.22. to report fraud or raise dispute, click kotak.co...","rau,"
7,"cash withdrawal of rs.5,000.00 made on kotak debit card xx7309 on 08-03-2019 17:38:10 at icici bank.combined balance in a/c xx7187 is rs 5,893.35. to report fraud or raise dispute, click kotak.com...","rau,"
49,"cash withdrawal of rs.500 made on kotak debit card xx9265 on 15-02-2019 10:24:32 at 6266.combined balance in a/c xx4079 is rs 30379.66. to report fraud or raise dispute, click kotak.com/fraud","rau,"
51,"cash withdrawal of rs.500 made on kotak debit card xx9265 on 25-02-2019 09:24:38 at 476338.combined balance in a/c xx4079 is rs 28592.24. to report fraud or raise dispute, click kotak.com/fraud","rau,"
55,"cash withdrawal of rs.500.00 made on kotak debit card xx9265 on 19-03-2019 18:16:36 at s1n2000726128.combined balance in a/c xx4079 is rs 4,339.06. to report fraud or raise dispute, click kotak.co...","rau,"
58,"cash withdrawal of rs500.00 made on kotak debit card x9265 on 09-06-2019 at 1fnndl222.avl bal is rs 12,437.65.not you?visit kotak.com/fraud","rau,"
76,"cash withdrawal of rs2,000.00 made on kotak debit card x7309 on 15-06-2019 at metro station p.avl bal is rs 11,922.62.not you?visit kotak.com/fraud","rau,"
77,"cash withdrawal of rs200.00 made on kotak debit card x7309 on 20-06-2019 at axis bank limit.avl bal is rs 6,327.48.not you?visit kotak.com/fraud","rau,"
102,"cash withdrawal of rs2,000.00 made on kotak debit card x7309 on 15-06-2019 at metro station p.avl bal is rs 11,922.62.not you?visit kotak.com/fraud","rau,"
103,"cash withdrawal of rs200.00 made on kotak debit card x7309 on 20-06-2019 at axis bank limit.avl bal is rs 6,327.48.not you?visit kotak.com/fraud","rau,"
105,"cash withdrawal of rs500.00 made on kotak debit card x7309 on 11-07-2019 at axis bank limit.avl bal is rs 11,707.61.not you?visit kotak.com/fraud","rau,"
106,"cash withdrawal of rs500.00 made on kotak debit card x7309 on 14-07-2019 at da170044.avl bal is rs 10,154.61.not you?visit kotak.com/fraud","rau,"
109,"cash withdrawal of rs10,000.00 made on kotak debit card x7309 on 12-08-2019 at axis bank limit.avl bal is rs 31,033.38.not you?visit kotak.com/fraud","rau,"
110,"cash withdrawal of rs10,000.00 made on kotak debit card x7309 on 12-08-2019 at axis bank limit.avl bal is rs 21,033.38.not you?visit kotak.com/fraud","rau,"
111,"cash withdrawal of rs5,000.00 made on kotak debit card x7309 on 12-08-2019 at axis bank limit.avl bal is rs 16,033.38.not you?visit kotak.com/fraud","rau,"
221,"cash withdrawal of rs.1,000.00 made on kotak debit card xx7309 on 07-03-2019 22:26:29 at icici bank.combined balance in a/c xx7187 is rs 11,109.22. to report fraud or raise dispute, click kotak.co...","rau,"
222,"cash withdrawal of rs.5,000.00 made on kotak debit card xx7309 on 08-03-2019 17:38:10 at icici bank.combined balance in a/c xx7187 is rs 5,893.35. to report fraud or raise dispute, click kotak.com...","rau,"
223,"cash withdrawal of rs.1,000.00 made on kotak debit card xx7309 on 16-03-2019 17:31:40 at rajeevchowkdmrc.combined balance in a/c xx7187 is rs 4,099.35. to report fraud or raise dispute, click kota...","rau,"
229,"cash withdrawal of rs.1,000.00 made on kotak debit card xx7309 on 07-03-2019 22:26:29 at icici bank.combined balance in a/c xx7187 is rs 11,109.22. to report fraud or raise dispute, click kotak.co...","rau,"
230,"cash withdrawal of rs.5,000.00 made on kotak debit card xx7309 on 08-03-2019 17:38:10 at icici bank.combined balance in a/c xx7187 is rs 5,893.35. to report fraud or raise dispute, click kotak.com...","rau,"
241,"cash withdrawal of rs.1,000.00 made on kotak debit card xx7309 on 07-03-2019 22:26:29 at icici bank.combined balance in a/c xx7187 is rs 11,109.22. to report fraud or raise dispute, click kotak.co...","rau,"
242,"cash withdrawal of rs.5,000.00 made on kotak debit card xx7309 on 08-03-2019 17:38:10 at icici bank.combined balance in a/c xx7187 is rs 5,893.35. to report fraud or raise dispute, click kotak.com...","rau,"
243,"cash withdrawal of rs.1,000.00 made on kotak debit card xx7309 on 16-03-2019 17:31:40 at rajeevchowkdmrc.combined balance in a/c xx7187 is rs 4,099.35. to report fraud or raise dispute, click kota...","rau,"
245,"cash withdrawal of rs.500.00 made on kotak debit card xx7309 on 28-03-2019 20:20:53 at icici bank.combined balance in a/c xx7187 is rs 907.65. to report fraud or raise dispute, click kotak.com/fraud","rau,"
247,"cash withdrawal of rs.500.00 made on kotak debit card xx7309 on 06-04-2019 12:23:37 at ghitorni dmrc.combined balance in a/c xx7187 is rs 9,119.93. to report fraud or raise dispute, click kotak.c...","rau,"
248,"cash withdrawal of rs500.00 made on kotak debit card x7309 on 24-04-2019 at laxmi vilas ban.avl bal is rs 2,728.27.not you?visit kotak.com/fraud","rau,"
255,"cash withdrawal of rs.1,000.00 made on kotak debit card xx7309 on 07-03-2019 22:26:29 at icici bank.combined balance in a/c xx7187 is rs 11,109.22. to report fraud or raise dispute, click kotak.co...","rau,"
256,"cash withdrawal of rs.5,000.00 made on kotak debit card xx7309 on 08-03-2019 17:38:10 at icici bank.combined balance in a/c xx7187 is rs 5,893.35. to report fraud or raise dispute, click kotak.com...","rau,"
257,"cash withdrawal of rs.1,000.00 made on kotak debit card xx7309 on 16-03-2019 17:31:40 at rajeevchowkdmrc.combined balance in a/c xx7187 is rs 4,099.35. to report fraud or raise dispute, click kota...","rau,"
...,...,...
49127,"dear customer, cash withdrawal of inr 500.00 using card no xx9141 on 18-oct-17 is successful. clear balance in a/c is inr 1007.84. for lost card /fraudulent transactions visit www.dbs.com/in/cc.page","rau,"
49130,"dear customer, cash withdrawal of inr 2000.00 using card no xx9141 on 29-oct-17 is successful. clear balance in a/c is inr 2000.84. for lost card /fraudulent transactions visit www.dbs.com/in/cc.page","rau,"
49131,"dear customer, cash withdrawal of inr 1500.00 using card no xx9141 on 01-nov-17 is successful. clear balance in a/c is inr 0.84. for lost card /fraudulent transactions visit www.dbs.com/in/cc.page","rau,"
49132,"dear customer, cash withdrawal of inr 2000.00 using card no xx9141 on 01-nov-17 is successful. clear balance in a/c is inr 0.84. for lost card /fraudulent transactions visit www.dbs.com/in/cc.page","rau,"
49133,"dear customer, cash withdrawal of inr 1000.00 using card no xx9141 on 02-nov-17 is successful. clear balance in a/c is inr 0.84. for lost card /fraudulent transactions visit www.dbs.com/in/cc.page","rau,"
49134,"dear customer, cash withdrawal of inr 2000.00 using card no xx9141 on 04-nov-17 is successful. clear balance in a/c is inr 2050.84. for lost card /fraudulent transactions visit www.dbs.com/in/cc.page","rau,"
49135,"dear customer, cash withdrawal of inr 100.00 using card no xx9141 on 06-nov-17 is successful. clear balance in a/c is inr 1930.84. for lost card /fraudulent transactions visit www.dbs.com/in/cc.page","rau,"
49138,"dear customer, cash withdrawal of inr 1000.00 using card no xx9141 on 09-nov-17 is successful. clear balance in a/c is inr 1.84. for lost card /fraudulent transactions visit www.dbs.com/in/cc.page","rau,"
49139,"dear customer, cash withdrawal of inr 500.00 using card no xx9141 on 12-nov-17 is successful. clear balance in a/c is inr 1001.84. for lost card /fraudulent transactions visit www.dbs.com/in/cc.page","rau,"
49140,"dear customer, cash withdrawal of inr 100.00 using card no xx9141 on 14-nov-17 is successful. clear balance in a/c is inr 901.84. for lost card /fraudulent transactions visit www.dbs.com/in/cc.page","rau,"
49141,"dear customer, cash withdrawal of inr 100.00 using card no xx9141 on 14-nov-17 is successful. clear balance in a/c is inr 5801.84. for lost card /fraudulent transactions visit www.dbs.com/in/cc.page","rau,"
49142,"dear customer, dbs bank and its employees will never ask for your card information including expiry date, cvv, atm pin, otp or your net banking password. do not share these with anyone over phone/...","rau,"
49143,"dear customer, cash withdrawal of inr 200.00 using card no xx9141 on 16-nov-17 is successful. clear balance in a/c is inr 5401.84. for lost card /fraudulent transactions visit www.dbs.com/in/cc.page","rau,"
49144,"dear customer, cash withdrawal of inr 500.00 using card no xx9141 on 28-nov-17 is successful. clear balance in a/c is inr 9504.34. for lost card /fraudulent transactions visit www.dbs.com/in/cc.page","rau,"
49145,"dear customer, cash withdrawal of inr 3600.00 using card no xx9141 on 30-nov-17 is successful. clear balance in a/c is inr 5869.34. for lost card /fraudulent transactions visit www.dbs.com/in/cc.page","rau,"
49146,"dear customer, cash withdrawal of inr 700.00 using card no xx9141 on 02-dec-17 is successful. clear balance in a/c is inr 5169.34. for lost card /fraudulent transactions visit www.dbs.com/in/cc.page","rau,"
49147,"dear customer, cash withdrawal of inr 200.00 using card no xx9141 on 22-dec-17 is successful. clear balance in a/c is inr 1618.84. for lost card /fraudulent transactions visit www.dbs.com/in/cc.page","rau,"
49148,"dear customer, cash withdrawal of inr 200.00 using card no xx9141 on 23-dec-17 is successful. clear balance in a/c is inr 1118.84. for lost card /fraudulent transactions visit www.dbs.com/in/cc.page","rau,"
49149,"dear customer, cash withdrawal of inr 200.00 using card no xx9141 on 24-dec-17 is successful. clear balance in a/c is inr 918.84. for lost card /fraudulent transactions visit www.dbs.com/in/cc.page","rau,"
49150,"dear customer, cash withdrawal of inr 200.00 using card no xx9141 on 26-dec-17 is successful. clear balance in a/c is inr 718.84. for lost card /fraudulent transactions visit www.dbs.com/in/cc.page","rau,"
49151,"dear customer, dbs bank and its employees will never ask for your card information including expiry date, cvv, atm pin, otp or your net banking password. do not share these with anyone over phone/...","rau,"
49152,"dear customer, cash withdrawal of inr 300.00 using card no xx9141 on 31-dec-17 is successful. clear balance in a/c is inr 18.84. for lost card /fraudulent transactions visit www.dbs.com/in/cc.page","rau,"
49153,"dear customer, cash withdrawal of inr 300.00 using card no xx9141 on 31-dec-17 is successful. clear balance in a/c is inr 18.84. for lost card /fraudulent transactions visit www.dbs.com/in/cc.page","rau,"
49154,"dear customer, cash withdrawal of inr 200.00 using card no xx9141 on 02-jan-18 is successful. clear balance in a/c is inr 35.84. for lost card /fraudulent transactions visit www.dbs.com/in/cc.page","rau,"
49155,"dear customer, cash withdrawal of inr 200.00 using card no xx9141 on 03-jan-18 is successful. clear balance in a/c is inr 0.84. for lost card /fraudulent transactions visit www.dbs.com/in/cc.page","rau,"
49156,"dear customer, cash withdrawal of inr 200.00 using card no xx9141 on 05-jan-18 is successful. clear balance in a/c is inr 0.84. for lost card /fraudulent transactions visit www.dbs.com/in/cc.page","rau,"
49157,"dear customer, cash withdrawal of inr 2000.00 using card no xx9141 on 08-jan-18 is successful. clear balance in a/c is inr 0.84. for lost card /fraudulent transactions visit www.dbs.com/in/cc.page","rau,"
49158,"dear customer, cash withdrawal of inr 400.00 using card no xx9141 on 10-jan-18 is successful. clear balance in a/c is inr 0.84. for lost card /fraudulent transactions visit www.dbs.com/in/cc.page","rau,"
49159,"dear customer, dbs bank and its employees will never ask for your card information including expiry date, cvv, atm pin, otp or your net banking password. do not share these with anyone over phone/...","rau,"
49177,"dear customer, cash withdrawal of inr 500.00 using card no xx7366 on 12-jul-17 is successful. clear balance in a/c is inr 300.00. for lost card /fraudulent transactions visit www.dbs.com/in/cc.page","rau,"

In [27]:
# Checking whether rau city is available in my_list
[i for i in my_list if i =='rau']

['rau']

In [28]:
# Dropping rau from my list because from "fraud" word in body column it is returning in withdrawl_city column 
my_list.remove('rau')

In [29]:
[i for i in my_list if i=='rau']

[]

In [30]:
df['Withdrawl_City'].value_counts()

                           42512
rau,                        1994
una,                        1076
delhi,                       936
noida,                       559
allahabad,ron,               414
nagar,                       224
mul,                         156
pen,                         156
wai,                         123
delhi,nagar,                 123
gurgaon,                     121
allahabad,                    87
faridabad,                    74
gurgaon,rau,                  74
meerut,noida,                 66
bangalore,                    61
ron,                          52
puri,                         49
indore,mahe,                  48
rewa,                         43
jaipur,                       41
meerut,                       38
mandi,                        32
agra,una,                     32
thane,                        31
pen,lar,                      30
agra,nagar,                   28
udaipur,                      28
aligarh,                      26
                           ...
gwalior,puri,                  2
panipat,                       2
nagaon,marigaon,               2
gwalior,                       2
indore,pen,                    2
mandawa,                       1
korba,nirmal,                  1
delhi,sultanpur,               1
renukoot,                      1
nadiad,                        1
chennai,vita,                  1
morena,ron,                    1
mundi,                         1
pilani,                        1
panaji,                        1
pune,nagar,                    1
yavatmal,ron,                  1
delhi,pali,                    1
delhi,durg,bahadurgarh,        1
patna,muzaffarpur,             1
moga,pen,                      1
jamshedpur,                    1
mathura,                       1
mumbai,delhi,                  1
nainital,                      1
kanpur,nagar,                  1
pasan,                         1
robertsganj,                   1
pen,ron,                       1
samastipur,                    1
Name: Withdrawl_City, Length: 162, dtype: int64

In [31]:
# Checking for ron city in my list
[i for i in my_list if i=='ron']

['ron']

In [32]:
# Checking customer from ron city in database
pd.read_sql_query("""
select * from v3_user_address_data where city = 'ron'
""",conn)

Empty DataFrame
Columns: [id, address_type, building, locality, city, state, affluency_metric, comments, created_at, updated_at, user_id, row_status, pin, lat, lng, source, landmark, performed_by, extra_details]
Index: []

In [ ]:
# No record found for ron city

In [33]:
# checking the body of message for ron city
df_2[df_2['Withdrawl_City'] == 'ron,']

,body,Withdrawl_City
353,purchase on your debit card on jan 24 2018 11:21am for rs.3500.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile bankin...,"ron,"
625,purchase on your debit card on jan 24 2018 11:21am for rs.3500.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile bankin...,"ron,"
6084,"dear customer, your axis bank secure plus debit card ending with 9828 comes with a withdrawal limit of rs.50,000 and shopping limit of rs.75,000 per day & also gets you fabulous offers on lifestyl...","ron,"
6102,"dear customer, your axis bank secure plus debit card ending with 9828 comes with a withdrawal limit of rs.50,000 and shopping limit of rs.75,000 per day & also gets you fabulous offers on lifestyl...","ron,"
6872,purchase on your debit card on mar 14 2019 1:18pm for rs.700.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile banking...,"ron,"
8268,purchase on your debit card on dec 22 2018 9:03pm for rs.114.21 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile banking...,"ron,"
8383,purchase on your debit card on dec 22 2018 9:03pm for rs.114.21 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile banking...,"ron,"
8498,purchase on your debit card on dec 22 2018 9:03pm for rs.114.21 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile banking...,"ron,"
8714,purchase on your debit card on oct 28 2017 4:09pm for rs.420.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile banking...,"ron,"
8739,purchase on your debit card on mar 28 2018 2:29pm for rs.200.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile banking...,"ron,"
16843,purchase on your debit card on sep 18 2017 1:10pm for rs.1350.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile bankin...,"ron,"
16992,purchase on your debit card on sep 18 2017 1:10pm for rs.1350.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile bankin...,"ron,"
17141,purchase on your debit card on sep 18 2017 1:10pm for rs.1350.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile bankin...,"ron,"
17290,purchase on your debit card on sep 18 2017 1:10pm for rs.1350.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile bankin...,"ron,"
17439,purchase on your debit card on sep 18 2017 1:10pm for rs.1350.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile bankin...,"ron,"
17588,purchase on your debit card on sep 18 2017 1:10pm for rs.1350.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile bankin...,"ron,"
23771,purchase on your debit card on aug 23 2018 3:30pm for rs.16000.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile banki...,"ron,"
23880,purchase on your debit card on aug 23 2018 3:30pm for rs.16000.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile banki...,"ron,"
28936,"patron, pls use otp 430144 within 72 hrs for setting debit card pin through pnb atm or internet banking - value added services - card related services - set/reset debit card pin. ho pnb.","ron,"
32627,"patron, pls use otp 100215 within 72 hrs for setting debit card pin through pnb atm or internet banking - value added services - card related services - set/reset debit card pin. ho pnb.update you...","ron,"
33211,"patron, pls use otp 100215 within 72 hrs for setting debit card pin through pnb atm or internet banking - value added services - card related services - set/reset debit card pin. ho pnb.update you...","ron,"
35187,purchase on your debit card on aug 14 2018 11:05am for rs.3999.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile bankin...,"ron,"
35365,purchase on your debit card on aug 14 2018 11:05am for rs.3999.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile bankin...,"ron,"
41430,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09....","ron,"
41431,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09....","ron,"
41464,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 31.03.2018 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 31.03....","ron,"
41467,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09....","ron,"
41468,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09....","ron,"
41501,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 31.03.2018 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 31.03....","ron,"
41502,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09....","ron,"
41503,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09....","ron,"
41547,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09....","ron,"
41548,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09....","ron,"
41583,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09....","ron,"
41584,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09....","ron,"
41666,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09....","ron,"
41667,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09....","ron,"
41700,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 31.03.2018 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 31.03....","ron,"
41703,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09....","ron,"
41704,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09....","ron,"
41737,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 31.03.2018 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 31.03....","ron,"
41738,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09....","ron,"
41739,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09....","ron,"
41783,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09....","ron,"
41784,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09....","ron,"
41819,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09....","ron,"
41820,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09....","ron,"
48011,"patron, pls use otp 459615 within 72 hrs for setting debit card pin through pnb atm or internet banking - value added services - card related services - set/reset debit card pin. ho pnb.","ron,"
48076,"patron, pls use otp 459615 within 72 hrs for setting debit card pin through pnb atm or internet banking - value added services - card related services - set/reset debit card pin. ho pnb.","ron,"
48116,"patron, pls use otp 459615 within 72 hrs for setting debit card pin through pnb atm or internet banking - value added services - card related services - set/reset debit card pin. ho pnb.","ron,"
48218,"patron, pls use otp 459615 within 72 hrs for setting debit card pin through pnb atm or internet banking - value added services - card related services - set/reset debit card pin. ho pnb.","ron,"
48263,"patron, pls use otp 459615 within 72 hrs for setting debit card pin through pnb atm or internet banking - value added services - card related services - set/reset debit card pin. ho pnb.","ron,"

In [34]:
pd.options.display.max_colwidth = 350

In [35]:
# checking the body of message for ron city
df_2[df_2['Withdrawl_City'] == 'ron,']

,body,Withdrawl_City
353,purchase on your debit card on jan 24 2018 11:21am for rs.3500.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile banking or netbanking . visit bit.ly/generatepin to know more.,"ron,"
625,purchase on your debit card on jan 24 2018 11:21am for rs.3500.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile banking or netbanking . visit bit.ly/generatepin to know more.,"ron,"
6084,"dear customer, your axis bank secure plus debit card ending with 9828 comes with a withdrawal limit of rs.50,000 and shopping limit of rs.75,000 per day & also gets you fabulous offers on lifestyle, apparel, electronics & travel.to enjoy these benefits, activate your debit card at nearest atm or any merchant outlet.","ron,"
6102,"dear customer, your axis bank secure plus debit card ending with 9828 comes with a withdrawal limit of rs.50,000 and shopping limit of rs.75,000 per day & also gets you fabulous offers on lifestyle, apparel, electronics & travel.to enjoy these benefits, activate your debit card at nearest atm or any merchant outlet.","ron,"
6872,purchase on your debit card on mar 14 2019 1:18pm for rs.700.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile banking or netbanking . visit bit.ly/generatepin to know more.,"ron,"
8268,purchase on your debit card on dec 22 2018 9:03pm for rs.114.21 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile banking or netbanking . visit bit.ly/generatepin to know more.,"ron,"
8383,purchase on your debit card on dec 22 2018 9:03pm for rs.114.21 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile banking or netbanking . visit bit.ly/generatepin to know more.,"ron,"
8498,purchase on your debit card on dec 22 2018 9:03pm for rs.114.21 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile banking or netbanking . visit bit.ly/generatepin to know more.,"ron,"
8714,purchase on your debit card on oct 28 2017 4:09pm for rs.420.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile banking or netbanking . visit bit.ly/generatepin to know more.,"ron,"
8739,purchase on your debit card on mar 28 2018 2:29pm for rs.200.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile banking or netbanking . visit bit.ly/generatepin to know more.,"ron,"
16843,purchase on your debit card on sep 18 2017 1:10pm for rs.1350.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile banking or netbanking . visit bit.ly/generatepin to know more.,"ron,"
16992,purchase on your debit card on sep 18 2017 1:10pm for rs.1350.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile banking or netbanking . visit bit.ly/generatepin to know more.,"ron,"
17141,purchase on your debit card on sep 18 2017 1:10pm for rs.1350.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile banking or netbanking . visit bit.ly/generatepin to know more.,"ron,"
17290,purchase on your debit card on sep 18 2017 1:10pm for rs.1350.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile banking or netbanking . visit bit.ly/generatepin to know more.,"ron,"
17439,purchase on your debit card on sep 18 2017 1:10pm for rs.1350.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile banking or netbanking . visit bit.ly/generatepin to know more.,"ron,"
17588,purchase on your debit card on sep 18 2017 1:10pm for rs.1350.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile banking or netbanking . visit bit.ly/generatepin to know more.,"ron,"
23771,purchase on your debit card on aug 23 2018 3:30pm for rs.16000.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile banking or netbanking . visit bit.ly/generatepin to know more.,"ron,"
23880,purchase on your debit card on aug 23 2018 3:30pm for rs.16000.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile banking or netbanking . visit bit.ly/generatepin to know more.,"ron,"
28936,"patron, pls use otp 430144 within 72 hrs for setting debit card pin through pnb atm or internet banking - value added services - card related services - set/reset debit card pin. ho pnb.","ron,"
32627,"patron, pls use otp 100215 within 72 hrs for setting debit card pin through pnb atm or internet banking - value added services - card related services - set/reset debit card pin. ho pnb.update your email id in account","ron,"
33211,"patron, pls use otp 100215 within 72 hrs for setting debit card pin through pnb atm or internet banking - value added services - card related services - set/reset debit card pin. ho pnb.update your email id in account","ron,"
35187,purchase on your debit card on aug 14 2018 11:05am for rs.3999.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile banking or netbanking . visit bit.ly/generatepin to know more.,"ron,"
35365,purchase on your debit card on aug 14 2018 11:05am for rs.3999.00 was declined due to wrong atm pin entry. please try again using correct pin. forgot pin? reset your pin easily using mobile banking or netbanking . visit bit.ly/generatepin to know more.,"ron,"
41430,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09.2017 have already been issued by you, please take back the pdcs and arrange electronic mode available like ecs. you may place an indent for getting s...","ron,"
41431,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09.2017 have already been issued by you, please take back the pdcs and arrange electronic mode available like ecs. you may place an indent for getting s...","ron,"
41464,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 31.03.2018 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 31.03.2018 have already been issued by you, please take back the pdcs and arrange electronic mode available like ecs. you may place an indent for getting sb...","ron,"
41467,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09.2017 have already been issued by you, please take back the pdcs and arrange electronic mode available like ecs. you may place an indent for getting s...","ron,"
41468,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09.2017 have already been issued by you, please take back the pdcs and arrange electronic mode available like ecs. you may place an indent for getting s...","ron,"
41501,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 31.03.2018 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 31.03.2018 have already been issued by you, please take back the pdcs and arrange electronic mode available like ecs. you may place an indent for getting sb...","ron,"
41502,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09.2017 have already been issued by you, please take back the pdcs and arrange electronic mode available like ecs. you may place an indent for getting s...","ron,"
41503,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09.2017 have already been issued by you, please take back the pdcs and arrange electronic mode available like ecs. you may place an indent for getting s...","ron,"
41547,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09.2017 have already been issued by you, please take back the pdcs and arrange electronic mode available like ecs. you may place an indent for getting s...","ron,"
41548,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09.2017 have already been issued by you, please take back the pdcs and arrange electronic mode available like ecs. you may place an indent for getting s...","ron,"
41583,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09.2017 have already been issued by you, please take back the pdcs and arrange electronic mode available like ecs. you may place an indent for getting s...","ron,"
41584,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09.2017 have already been issued by you, please take back the pdcs and arrange electronic mode available like ecs. you may place an indent for getting s...","ron,"
41666,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09.2017 have already been issued by you, please take back the pdcs and arrange electronic mode available like ecs. you may place an indent for getting s...","ron,"
41667,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09.2017 have already been issued by you, please take back the pdcs and arrange electronic mode available like ecs. you may place an indent for getting s...","ron,"
41700,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 31.03.2018 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 31.03.2018 have already been issued by you, please take back the pdcs and arrange electronic mode available like ecs. you may place an indent for getting sb...","ron,"
41703,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09.2017 have already been issued by you, please take back the pdcs and arrange electronic mode available like ecs. you may place an indent for getting s...","ron,"
41704,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09.2017 have already been issued by you, please take back the pdcs and arrange electronic mode available like ecs. you may place an indent for getting s...","ron,"
41737,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 31.03.2018 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 31.03.2018 have already been issued by you, please take back the pdcs and arrange electronic mode available like ecs. you may place an indent for getting sb...","ron,"
41738,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09.2017 have already been issued by you, please take back the pdcs and arrange electronic mode available like ecs. you may place an indent for getting s...","ron,"
41739,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09.2017 have already been issued by you, please take back the pdcs and arrange electronic mode available like ecs. you may place an indent for getting s...","ron,"
41783,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09.2017 have already been issued by you, please take back the pdcs and arrange electronic mode available like ecs. you may place an indent for getting s...","ron,"
41784,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09.2017 have already been issued by you, please take back the pdcs and arrange electronic mode available like ecs. you may place an indent for getting s...","ron,"
41819,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09.2017 have already been issued by you, please take back the pdcs and arrange electronic mode available like ecs. you may place an indent for getting s...","ron,"
41820,"dear customer, encashment of existing sb/ca/cc cheque books issued by eabs will be allowed up to 30.09.2017 and cheque presented thereafter is liable to be returned. in case any pdcs beyond 30.09.2017 have already been issued by you, please take back the pdcs and arrange electronic mode available like ecs. you may place an indent for getting s...","ron,"
48011,"patron, pls use otp 459615 within 72 hrs for setting debit card pin through pnb atm or internet banking - value added services - card related services - set/reset debit card pin. ho pnb.","ron,"
48076,"patron, pls use otp 459615 within 72 hrs for setting debit card pin through pnb atm or internet banking - value added services - card related services - set/reset debit card pin. ho pnb.","ron,"
48116,"patron, pls use otp 459615 within 72 hrs for setting debit card pin through pnb atm or internet banking - value added services - card related services - set/reset debit card pin. ho pnb.","ron,"
48218,"patron, pls use otp 459615 within 72 hrs for setting debit card pin through pnb atm or internet banking - value added services - card related services - set/reset debit card pin. ho pnb.","ron,"
48263,"patron, pls use otp 459615 within 72 hrs for setting debit card pin through pnb atm or internet banking - value added services - card related services - set/reset debit card pin. ho pnb.","ron,"

In [36]:
# Removing the ron city from the my_list, it is returning in withdrawl_city from "wrong" word in body
my_list.remove('ron')

In [37]:
[i for i in my_list if i =='ron']

[]

In [38]:
df['Withdrawl_City'].value_counts()

                           42512
rau,                        1994
una,                        1076
delhi,                       936
noida,                       559
allahabad,ron,               414
nagar,                       224
mul,                         156
pen,                         156
wai,                         123
delhi,nagar,                 123
gurgaon,                     121
allahabad,                    87
faridabad,                    74
gurgaon,rau,                  74
meerut,noida,                 66
bangalore,                    61
ron,                          52
puri,                         49
indore,mahe,                  48
rewa,                         43
jaipur,                       41
meerut,                       38
mandi,                        32
agra,una,                     32
thane,                        31
pen,lar,                      30
agra,nagar,                   28
udaipur,                      28
aligarh,                      26
                           ...
gwalior,puri,                  2
panipat,                       2
nagaon,marigaon,               2
gwalior,                       2
indore,pen,                    2
mandawa,                       1
korba,nirmal,                  1
delhi,sultanpur,               1
renukoot,                      1
nadiad,                        1
chennai,vita,                  1
morena,ron,                    1
mundi,                         1
pilani,                        1
panaji,                        1
pune,nagar,                    1
yavatmal,ron,                  1
delhi,pali,                    1
delhi,durg,bahadurgarh,        1
patna,muzaffarpur,             1
moga,pen,                      1
jamshedpur,                    1
mathura,                       1
mumbai,delhi,                  1
nainital,                      1
kanpur,nagar,                  1
pasan,                         1
robertsganj,                   1
pen,ron,                       1
samastipur,                    1
Name: Withdrawl_City, Length: 162, dtype: int64

In [39]:
# Searching for una city in my list
[i for i in my_list if i == 'una']

['una']

In [40]:
# Checking customer from una city in database
pd.read_sql_query("""
select * from v3_user_address_data where city = 'una'
""",conn)

,id,address_type,building,locality,city,state,affluency_metric,comments,created_at,updated_at,user_id,row_status,pin,lat,lng,source,landmark,performed_by,extra_details
0,67070,None,"I-449, Arjuna St, Block I, Beta II, Greater Noida, Uttar Pradesh 201308, India",Greater Noida,una,HIMACHAL PRADESH,NaN,None,2017-11-01 20:57:27.123844,2018-03-22 14:46:18.018606,11128,inactive,201308.0,NaN,NaN,None,None,NaN,{}
1,1641194,permanent address,vpo guglehar,tehsil amb,una,himachal pradesh,NaN,student id,2019-04-12 12:53:38.690853,2019-04-12 12:55:29.018423,102752,inactive,NaN,NaN,NaN,kyc,None,NaN,{}
2,107911,Home with family,ward no 3,jhalera,una,None,1.0,None,2018-02-09 16:40:33.092611,2018-02-09 16:41:50.094517,92125,inactive,174303.0,NaN,NaN,None,None,NaN,{}
3,107912,Home with family,ward no 3,jhalera,una,None,1.0,None,2018-02-09 16:41:25.449004,2018-02-09 16:41:50.094517,92125,inactive,174303.0,NaN,NaN,None,None,NaN,{}
4,1641216,permanent address,ward no 05,post office guglehar teh amb,una,himachal pradesh,NaN,aadhar,2019-04-12 12:55:29.018423,2019-04-12 12:55:29.018423,102752,active,177208.0,NaN,NaN,kyc,None,NaN,{}
5,132721,Home with family,11A munghal,shiv mindhr,una,None,1.0,None,2018-03-17 05:52:26.424858,2018-03-17 05:53:08.226527,101224,inactive,177210.0,NaN,NaN,None,None,NaN,{}
6,132722,Home with family,11A munghal,shiv mindhr,una,None,1.0,None,2018-03-17 05:52:40.507509,2018-03-17 05:53:08.226527,101224,inactive,177210.0,NaN,NaN,None,None,NaN,{}
7,132723,Home with family,11A munghal,shiv mindhr,una,None,1.0,None,2018-03-17 05:52:57.092975,2018-03-17 05:53:08.226527,101224,inactive,177210.0,NaN,NaN,None,None,NaN,{}
8,3928368,Home with family,ward no.4,Barnoh,una,Himachal Pradesh,1.0,None,2019-11-10 12:18:27.549318,2019-11-10 12:18:40.196351,1360185,inactive,174803.0,NaN,NaN,None,None,1360185.0,{}
9,53744,None,"I-272, Arjuna St, Block I, Beta II, Greater Noida, Uttar Pradesh 201308, India",Greater Noida,una,HIMACHAL PRADESH,NaN,None,2017-11-01 20:57:27.123844,2018-03-20 19:37:44.947040,66261,active,201308.0,NaN,NaN,swagat-gps,None,NaN,{}
10,57864,None,"I-273, Arjuna St, Block I, Beta II, Greater Noida, Uttar Pradesh 201308, India",Greater Noida,una,HIMACHAL PRADESH,NaN,None,2017-11-01 20:57:27.123844,2018-03-20 19:37:44.947040,28956,active,201308.0,NaN,NaN,swagat-gps,None,NaN,{}
11,184753,permanent address,225,chartgarh upporla,una,himachal pradesh,NaN,aadhar,2018-04-25 16:00:55.424995,2018-04-25 16:00:55.424995,118359,active,174315.0,NaN,NaN,kyc,None,NaN,{}
12,603512,Home with family,ward no 4 jalgran,jalgran tabba,una,None,1.0,None,2018-10-24 08:43:22.335282,2019-02-24 13:11:11.947519,262103,inactive,174306.0,NaN,NaN,None,None,NaN,{}
13,1372874,permanent address,ward no 3,santokhgarh,una,himachaal pradesh,NaN,aadhar,2019-03-14 10:02:35.773771,2019-03-14 10:02:35.773771,489905,active,174301.0,NaN,NaN,kyc,None,NaN,{}
14,207876,permanent address,ward no-2,ram nagar,una,himachal pradesh,NaN,aadhar,2018-05-10 18:18:57.703106,2018-05-10 18:18:57.703106,126949,active,177213.0,NaN,NaN,kyc,"nakroh,amb",NaN,{}
15,267847,Home with family,vpo Chalet tehsil ghanari,daulatpur chowk,una,None,1.0,None,2018-06-21 18:43:11.531729,2018-06-26 13:31:03.022636,148213,inactive,177204.0,NaN,NaN,None,None,NaN,{}
16,238450,Home with family,1159/4,una,una,None,1.0,None,2018-05-30 23:24:45.858428,2018-05-30 23:26:00.425702,138219,inactive,176001.0,NaN,NaN,None,None,NaN,{}
17,267851,Home with family,vpo Chalet tehsil ghanari,daulatpur chowk,una,None,1.0,None,2018-06-21 18:44:18.951925,2018-06-26 13:31:03.022636,148213,inactive,177204.0,NaN,NaN,None,None,NaN,{}
18,274887,permanent address,ward number 01,"vpo mawa kaholan, tehsil ghanari, mawa kahola upperli (126)",una,himachal pradesh,NaN,aadhar,2018-06-28 11:01:57.358969,2018-06-28 11:01:57.358969,148291,active,177204.0,NaN,NaN,kyc,None,NaN,{}
19,356720,permanent address,house no 477,ward number 2,una,himachal pradesh,NaN,aadhar,2018-08-16 22:57:06.444024,2018-08-17 16:48:30.516006,177845,inactive,174303.0,NaN,NaN,kyc,None,NaN,{}
20,248089,Home with family,v.p.o raipur sahoran,near shiv mandir,una,None,1.0,None,2018-06-06 13:04:57.533150,2018-06-06 13:05:50.955252,141424,inactive,174315.0,NaN,NaN,None,None,NaN,{}
21,248090,Home with family,v.p.o raipur sahoran,near shiv mandir,una,None,1.0,None,2018-06-06 13:05:22.405089,2018-06-06 13:05:50.955252,141424,inactive,174315.0,NaN,NaN,None,None,NaN,{}
22,257091,Home with family,ward no.3,Nagnoli,una,None,1.0,None,2018-06-12 15:21:28.562110,2018-06-23 19:02:39.515493,144680,inactive,177208.0,NaN,NaN,None,None,NaN,{}
23,268805,permanent address,ward no-6,"mehatpur tehsil una, mehatpur",una,himachal pradesh,NaN,aadhar,2018-06-22 16:09:09.626304,2018-06-22 16:09:09.626304,146002,active,174315.0,NaN,NaN,kyc,None,NaN,{}
24,257088,Home with family,ward no.3,Nagnoli,una,None,1.0,None,2018-06-12 15:18:57.790753,2018-06-23 19:02:39.515493,144680,inactive,177208.0,NaN,NaN,None,None,NaN,{}
25,328146,Home with family,vill duhki. p.o nehrian,amb,una,None,1.0,None,2018-08-04 18:04:10.618787,2018-08-05 06:33:23.118850,169858,inactive,177210.0,NaN,NaN,None,None,NaN,{}
26,307656,Hostel/PG,vill& teh haroli dist-una h.p.,indra ground,una,None,1.0,None,2018-07-23 20:12:11.917863,2018-08-02 15:29:19.703814,162280,inactive,174303.0,NaN,NaN,None,None,NaN,{}
27,307661,Hostel/PG,near main bazar una,indra ground,una,None,1.0,None,2018-07-23 20:14:35.511199,2018-08-02 15:29:19.703814,162280,inactive,174303.0,NaN,NaN,None,None,NaN,{}
28,307663,Hostel/PG,near main bazar una,indra ground,una,None,1.0,None,2018-07-23 20:15:08.747008,2018-08-02 15:29:19.703814,162280,inactive,174303.0,NaN,NaN,None,None,NaN,{}
29,307861,Hostel/PG,near main bazar una,indra ground,una,None,1.0,None,2018-07-23 22:29:50.038255,2018-08-02 15:29:19.703814,162280,inactive,174303.0,NaN,NaN,None,None,NaN,{}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,676492,Home with family,house no 457,indian,una,HIMACHAL PRADESH,1.0,None,2018-11-11 17:47:11.406111,2019-11-07 16:57:45.364981,284373,active,174319.0,NaN,NaN,None,None,147779.0,{}
182,2911226,permanent address,shiv mandir 84,"paurian ward no. 3, tehsil una",una,himachal pradesh,NaN,aadhar,2019-08-21 23:54:31.668251,2019-11-07 17:25:12.921522,951621,active,174303.0,NaN,NaN,kyc,sharma cottage opp,147779.0,{}
183,891539,permanent address,ward no. 07,una,una,HIMACHAL PRADESH,1.0,None,2018-12-23 22:40:36.628599,2019-11-07 16:57:45.364981,264244,active,174303.0,NaN,NaN,None,None,147779.0,{}
184,324345,Hostel/PG,kharar bus stand,kharar bus stand,una,PUNJAB,1.0,None,2018-08-02 15:29:19.703814,2019-11-07 16:57:45.364981,162280,active,140301.0,NaN,NaN,None,None,147779.0,{}
185,1235352,Home with family,sasan,mehatpur,una,HIMACHAL PRADESH,1.0,None,2019-02-24 01:22:45.570565,2019-11-07 16:57:45.364981,171904,active,174315.0,NaN,NaN,None,None,147779.0,{}
186,1151363,Home with family,35/27,kotla khass,una,HIMACHAL PRADESH,1.0,None,2019-02-11 17:37:36.358224,2019-11-07 16:57:45.364981,268788,active,174308.0,NaN,NaN,None,None,147779.0,{}
187,1706219,permanent address,village lower basal,basal tehsil 194,una,himachal pradesh,NaN,aadhar,2019-04-20 11:30:46.772044,2019-11-07 17:25:12.921522,574180,active,174303.0,NaN,NaN,kyc,None,147779.0,{}
188,1200029,Home with family,village Kuthar Khurd 210,una,una,HIMACHAL PRADESH,1.0,None,2019-02-19 11:23:56.748483,2019-11-07 16:57:45.364981,439038,active,174303.0,NaN,NaN,None,None,147779.0,{}
189,2183042,Rented with family,LIG 61A,rakkar colony,una,HIMACHAL PRADESH,1.0,None,2019-06-22 10:13:59.955532,2019-11-07 16:57:45.364981,727196,active,174303.0,NaN,NaN,None,None,147779.0,{}
190,1053036,Rented with family,ward no.3,una,una,HIMACHAL PRADESH,1.0,None,2019-01-26 00:50:35.164223,2019-11-07 16:57:45.364981,304044,active,174303.0,NaN,NaN,None,None,147779.0,{}
191,107913,Home with family,ward no 3,jhalera,una,HIMACHAL PRADESH,1.0,None,2018-02-09 16:41:50.094517,2019-11-07 16:57:45.364981,92125,active,174303.0,NaN,NaN,None,None,147779.0,{}
192,248093,Home with family,v.p.o raipur sahoran,near shiv mandir,una,HIMACHAL PRADESH,1.0,None,2018-06-06 13:05:50.955252,2019-11-07 16:57:45.364981,141424,active,174315.0,NaN,NaN,None,None,147779.0,{}
193,330679,Home with family,una new bastend,una,una,GUJARAT,1.0,None,2018-08-06 09:02:28.181490,2019-11-07 16:57:45.364981,170783,active,362560.0,NaN,NaN,None,None,147779.0,{}
194,1723848,Hostel/PG,ward no.3,vpo takarla,una,HIMACHAL PRADESH,1.0,None,2019-04-22 16:57:55.161113,2019-11-07 16:57:45.364981,600744,active,177211.0,NaN,NaN,None,None,147779.0,{}
195,1176949,permanent address,vpo nandpur,tehsil amb,una,himachal pradesh,NaN,student id,2019-02-15 16:27:46.699900,2019-11-07 17:25:12.921522,415875,active,NaN,NaN,NaN,kyc,None,147779.0,{}
196,328924,Home with family,vill duhki. p.o nehrian,amb,una,HIMACHAL PRADESH,1.0,None,2018-08-05 06:33:23.118850,2019-11-07 16:57:45.364981,169858,active,177210.0,NaN,NaN,None,None,147779.0,{}
197,2132983,Home with family,house no 69,rakkar colony,una,HIMACHAL PRADESH,1.0,None,2019-06-16 01:10:52.695142,2019-11-07 16:57:45.364981,715324,active,174303.0,NaN,NaN,None,None,147779.0,{}
198,1188424,Home with family,gopal nagar ward No.10,una,una,HIMACHAL PRADESH,1.0,None,2019-02-17 14:24:03.098022,2019-11-07 16:57:45.364981,435622,active,174303.0,NaN,NaN,None,None,147779.0,{}
199,2021925,Home with family,403,una,una,HIMACHAL PRADESH,1.0,None,2019-05-31 12:29:03.482676,2019-11-07 16:57:45.364981,685876,active,174303.0,NaN,NaN,None,None,147779.0,{}
200,1640366,permanent address,ward no 1 villagae and post office,dehlan tehsil una dehlan lower,una,himachal pradesh,NaN,aadhar,2019-04-12 11:40:50.455579,2019-11-07 17:25:12.921522,567869,active,174306.0,NaN,NaN,kyc,None,147779.0,{}
201,2586306,Home with family,banglo,maheta hospital ke Pas una,una,GUJARAT,1.0,None,2019-07-26 12:50:09.470086,2019-11-07 16:57:45.364981,840404,active,362560.0,NaN,NaN,None,None,147779.0,{}
202,2452718,Home with family,vill Chack post office Thathal tehsil am,india,una,HIMACHAL PRADESH,1.0,None,2019-07-16 19:38:25.683350,2019-11-07 16:57:45.364981,791954,active,177211.0,NaN,NaN,None,None,147779.0,{}
203,889392,permanent address,ward no. 07,una,una,himachal perdesh,NaN,aadhar,2018-12-23 15:19:40.236941,2019-11-07 17:25:12.921522,264244,active,174303.0,NaN,NaN,kyc,None,147779.0,{}
204,1244651,Home with family,Village Hiran Nagar Po Dulehar,rural,una,CHANDIGARH,1.0,None,2019-02-25 17:37:22.756456,2019-11-07 16:57:45.364981,395031,active,160023.0,NaN,NaN,None,None,147779.0,{}
205,1026490,Home with family,614567,Ludhiana,una,PUNJAB,1.0,None,2019-01-21 16:30:51.629321,2019-11-07 16:57:45.364981,389037,active,141003.0,NaN,NaN,None,None,147779.0,{}
206,2378598,permanent address,house no-88 ward number -9,"v.p,o santokhgarh tehsil una",una,himachal pradesh,NaN,aadhar,2019-07-11 11:38:08.053211,2019-11-07 17:25:12.921522,758839,active,174301.0,NaN,NaN,kyc,None,147779.0,{}
207,177255,permanent address,ward no-3,"v.p.o-pirthipur,tehsil-amb",una,himachal pradesh,NaN,aadhar,2018-04-19 21:12:12.672375,2019-11-07 17:25:12.921522,113052,active,177204.0,NaN,NaN,kyc,None,147779.0,{}
208,2422801,Rented with family,JUNAGADH una,Una - Mahuva Hwy,una,GUJARAT,1.0,None,2019-07-14 16:13:48.526496,2019-11-07 16:57:45.364981,780489,active,362565.0,NaN,NaN,None,None,147779.0,{}
209,1397691,Home with family,chauhan houes,una,una,GUJARAT,1.0,None,2019-03-16 15:31:18.679041,2019-11-07 16:57:45.364981,500255,active,362560.0,NaN,NaN,None,None,147779.0,{}
210,1470125,permanent address,lig 194,"rakkar colony, tehsil and distt una, rakkar kaloni",una,hp,NaN,driving,2019-03-24 08:59:51.126590,2019-11-07 17:25:12.921522,440772,active,174303.0,NaN,NaN,kyc,None,147779.0,{}

In [ ]:
# 210 customer are from una city

In [41]:
#checking the body of message for una city
df_2[df_2['Withdrawl_City']=='una,']

,body,Withdrawl_City
50,"dear customer, our systems will be under maintenance on sunday, 17 february 2019, between 00:00 hrs to 07:00 hrs ist. during this time you will be unable to use your hsbc debit/credit card(s) at any hsbc atms. visit http://bit.ly/2sahhud for further details.","una,"
52,"dear customer, our systems will be under maintenance on sunday, 03 march 2019 from 00.00 hrs to 03:00 hrs ist. during this time you will be unable to use your hsbc credit/debit card at point of sale terminals & at certain atms. online transactions for debit cards will also be impacted during this period. we regret the inconvenience.visit http:/...","una,"
57,"dear customer, our systems will be under maintenance on monday, 27 may 2019 from 00.00 hrs to 07:00 hrs ist. during this time you will be unable to use your hsbc debit/credit card at any atm, point of sale terminal or for online transactions. we regret the inconvenience. visit https://www.hsbc.co.in/ for further details.","una,"
59,"dear customer, our systems will be under maintenance on sunday, 23 jun 2019 from 00.00 hrs to 07:30 hrs ist. during this time you will be unable to use your internet/mobile banking, upi, hsbc debit/credit card at any atm, point of sale terminal or for online transactions (applicable to debit cards only). we regret the inconvenience. visit https...","una,"
350,"dear customer atm,pos,ecom and mobile banking will be unavailable from 10pm of 12th jan to 6am of 13th jan due to upgradation activity","una,"
351,"dear customer, atm.pos,ecom will be unavailable from 06.00 - 11.00 a.m on 13th jan 2018 due to upgradation activity. we regret inconvenience cause to you.","una,"
396,"dear customer,\ndue to server maintenance , services like atm,imps,pos & ecom will be unavailable on 17/08/18 from 1 am to 5 am. inconvenience regretted.","una,"
622,"dear customer atm,pos,ecom and mobile banking will be unavailable from 10pm of 12th jan to 6am of 13th jan due to upgradation activity","una,"
623,"dear customer, atm.pos,ecom will be unavailable from 06.00 - 11.00 a.m on 13th jan 2018 due to upgradation activity. we regret inconvenience cause to you.","una,"
668,"dear customer,\ndue to server maintenance , services like atm,imps,pos & ecom will be unavailable on 17/08/18 from 1 am to 5 am. inconvenience regretted.","una,"
1107,"alert:atm,debit card will be unavailable(15may 12am-6am). net&mobile banking will be unavailable(14may 12am-15may 9pm) due to merger.sorry for the inconvenience","una,"
1362,"dear customer, cash withdrawal of inr 200.00 using card no **9848 on 24/11/18 is successful. clear balance in a/c is inr 8964.71. your non-dbs atm cash withdrawal count for this month is 4.charges applicable as per t&c. for lost card/unauthorised transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
1416,"dear customer, cash withdrawal of inr 500.00 using card no **9848 on 05/08/18 is successful. clear balance in a/c is inr 3005.00. for lost card/unauthorized transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
1417,"dear customer, cash withdrawal of inr 500.00 using card no **9848 on 07/08/18 is successful. clear balance in a/c is inr 505.00. for lost card/unauthorized transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
1418,"dear customer, cash withdrawal of inr 4000.00 using card no **9848 on 08/08/18 is successful. clear balance in a/c is inr 42804.00. for lost card/unauthorized transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
1419,"dear customer, cash withdrawal of inr 2500.00 using card no **9848 on 10/08/18 is successful. clear balance in a/c is inr 41804.00. for lost card/unauthorized transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
1420,"dear customer, cash withdrawal of inr 200.00 using card no **9848 on 10/08/18 is successful. clear balance in a/c is inr 41604.00. for lost card/unauthorized transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
1421,"dear customer, cash withdrawal of inr 2500.00 using card no **9848 on 11/08/18 is successful. clear balance in a/c is inr 38904.00. for lost card/unauthorized transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
1422,"dear customer, cash withdrawal of inr 500.00 using card no **9848 on 12/08/18 is successful. clear balance in a/c is inr 38404.00. for lost card/unauthorized transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
1423,"dear customer, cash withdrawal of inr 10000.00 using card no **9848 on 13/08/18 is successful. clear balance in a/c is inr 28249.00. for lost card/unauthorized transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
1424,"dear customer, cash withdrawal of inr 10000.00 using card no **9848 on 13/08/18 is successful. clear balance in a/c is inr 18249.00. for lost card/unauthorized transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
1426,"dear customer, cash withdrawal of inr 200.00 using card no **9848 on 15/08/18 is successful. clear balance in a/c is inr 7794.00. for lost card/unauthorized transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
1428,"dear customer, cash withdrawal of inr 200.00 using card no **9848 on 15/08/18 is successful. clear balance in a/c is inr 7594.00. for lost card/unauthorized transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
1429,"dear customer, cash withdrawal of inr 1000.00 using card no **9848 on 16/08/18 is successful. clear balance in a/c is inr 6594.00. for lost card/unauthorized transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
1430,"dear customer, cash withdrawal of inr 1000.00 using card no **9848 on 18/08/18 is successful. clear balance in a/c is inr 7594.00. for lost card/unauthorized transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
1431,"dear customer, cash withdrawal of inr 600.00 using card no **9848 on 19/08/18 is successful. clear balance in a/c is inr 5694.00. for lost card/unauthorized transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
1432,"dear customer, cash withdrawal of inr 200.00 using card no **9848 on 20/08/18 is successful. clear balance in a/c is inr 5334.00. for lost card/unauthorized transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
1433,"dear customer, cash withdrawal of inr 200.00 using card no **9848 on 21/08/18 is successful. clear balance in a/c is inr 5134.00. for lost card/unauthorized transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
1434,"dear customer, cash withdrawal of inr 1000.00 using card no **9848 on 22/08/18 is successful. clear balance in a/c is inr 3181.76. for lost card/unauthorized transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
1436,"dear customer, cash withdrawal of inr 2500.00 using card no **9848 on 22/08/18 is successful. clear balance in a/c is inr 681.76. for lost card/unauthorized transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
...,...,...
49005,"dear customer, cash withdrawal of inr 1000.00 using card no **7366 on 03/07/18 is successful. clear balance in a/c is inr 39.93. for lost card/unauthorized transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
49006,"dear customer, cash withdrawal of inr 500.00 using card no **7366 on 05/07/18 is successful. clear balance in a/c is inr 0.93. for lost card/unauthorized transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
49009,"dear customer, cash withdrawal of inr 500.00 using card no **7366 on 13/08/18 is successful. clear balance in a/c is inr 0.93. for lost card/unauthorized transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
49013,"dear customer, cash withdrawal of inr 2500.00 using card no **7366 on 03/09/18 is successful. clear balance in a/c is inr 11.93. your non-dbs atm cash withdrawal count for this month is 1.charges applicable as per t&c. for lost card/unauthorised transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
49014,"dear customer, cash withdrawal of inr 900.00 using card no **7366 on 06/09/18 is successful. clear balance in a/c is inr 11.93. your non-dbs atm cash withdrawal count for this month is 2.charges applicable as per t&c. for lost card/unauthorised transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
49015,"dear customer, cash withdrawal of inr 1500.00 using card no **7366 on 08/09/18 is successful. clear balance in a/c is inr 511.93. your non-dbs atm cash withdrawal count for this month is 3.charges applicable as per t&c. for lost card/unauthorised transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
49017,"dear customer, cash withdrawal of inr 600.00 using card no **7366 on 24/09/18 is successful. clear balance in a/c is inr 11.93. your non-dbs atm cash withdrawal count for this month is 5.charges applicable as per t&c. for lost card/unauthorised transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
49018,"dear customer, cash withdrawal of inr 400.00 using card no **7366 on 27/09/18 is successful. clear balance in a/c is inr 11.93. your non-dbs atm cash withdrawal count for this month is 6.charges applicable as per t&c. for lost card/unauthorised transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
49022,"dear customer, cash withdrawal of inr 3000.00 using card no **7366 on 03/10/18 is successful. clear balance in a/c is inr 12.93. your non-dbs atm cash withdrawal count for this month is 1.charges applicable as per t&c. for lost card/unauthorised transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
49023,"dear customer, cash withdrawal of inr 3000.00 using card no **7366 on 04/10/18 is successful. clear balance in a/c is inr 12.93. your non-dbs atm cash withdrawal count for this month is 2.charges applicable as per t&c. for lost card/unauthorised transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
49024,"dear customer, cash withdrawal of inr 500.00 using card no **7366 on 09/10/18 is successful. clear balance in a/c is inr 12.93. your non-dbs atm cash withdrawal count for this month is 3.charges applicable as per t&c. for lost card/unauthorised transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
49025,"dear customer, cash withdrawal of inr 400.00 using card no **7366 on 13/10/18 is successful. clear balance in a/c is inr 3262.94. your non-dbs atm cash withdrawal count for this month is 4.charges applicable as per t&c. for lost card/unauthorised transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
49026,"dear customer, cash withdrawal of inr 1000.00 using card no **7366 on 15/10/18 is successful. clear balance in a/c is inr 1252.94. your non-dbs atm cash withdrawal count for this month is 5.charges applicable as per t&c. for lost card/unauthorised transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
49036,"dear customer, cash withdrawal of inr 400.00 using card no **7366 on 13/10/18 is successful. clear balance in a/c is inr 3262.94. your non-dbs atm cash withdrawal count for this month is 4.charges applicable as per t&c. for lost card/unauthorised transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
49037,"dear customer, cash withdrawal of inr 1000.00 using card no **7366 on 15/10/18 is successful. clear balance in a/c is inr 1252.94. your non-dbs atm cash withdrawal count for this month is 5.charges applicable as per t&c. for lost card/unauthorised transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
49039,"dear customer, cash withdrawal of inr 3000.00 using card no **7366 on 04/10/18 is successful. clear balance in a/c is inr 12.93. your non-dbs atm cash withdrawal count for this month is 2.charges applicable as per t&c. for lost card/unauthorised transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
49040,"dear customer, cash withdrawal of inr 500.00 using card no **7366 on 09/10/18 is successful. clear balance in a/c is inr 12.93. your non-dbs atm cash withdrawal count for this month is 3.charges applicable as per t&c. for lost card/unauthorised transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
49041,"dear customer, cash withdrawal of inr 3000.00 using card no **7366 on 03/10/18 is successful. clear balance in a/c is inr 12.93. your non-dbs atm cash withdrawal count for this month is 1.charges applicable as per t&c. for lost card/unauthorised transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
49042,"dear customer, cash withdrawal of inr 600.00 using card no **7366 on 24/09/18 is successful. clear balance in a/c is inr 11.93. your non-dbs atm cash withdrawal count for this month is 5.charges applicable as per t&c. for lost card/unauthorised transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
49043,"dear customer, cash withdrawal of inr 400.00 using card no **7366 on 27/09/18 is successful. clear balance in a/c is inr 11.93. your non-dbs atm cash withdrawal count for this month is 6.charges applicable as per t&c. for lost card/unauthorised transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
49047,"dear customer, cash withdrawal of inr 900.00 using card no **7366 on 06/09/18 is successful. clear balance in a/c is inr 11.93. your non-dbs atm cash withdrawal count for this month is 2.charges applicable as per t&c. for lost card/unauthorised transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
49048,"dear customer, cash withdrawal of inr 1500.00 using card no **7366 on 08/09/18 is successful. clear balance in a/c is inr 511.93. your non-dbs atm cash withdrawal count for this month is 3.charges applicable as per t&c. for lost card/unauthorised transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
49050,"dear customer, cash withdrawal of inr 2500.00 using card no **7366 on 03/09/18 is successful. clear balance in a/c is inr 11.93. your non-dbs atm cash withdrawal count for this month is 1.charges applicable as per t&c. for lost card/unauthorised transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
49053,"dear customer, cash withdrawal of inr 500.00 using card no **7366 on 13/08/18 is successful. clear balance in a/c is inr 0.93. for lost card/unauthorized transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
49058,"dear customer, cash withdrawal of inr 1000.00 using card no **7366 on 03/07/18 is successful. clear balance in a/c is inr 39.93. for lost card/unauthorized transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
49059,"dear customer, cash withdrawal of inr 1000.00 using card no **7366 on 03/07/18 is successful. clear balance in a/c is inr 39.93. for lost card/unauthorized transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
49060,"dear customer, cash withdrawal of inr 500.00 using card no **7366 on 05/07/18 is successful. clear balance in a/c is inr 0.93. for lost card/unauthorized transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
49063,"dear customer, cash withdrawal of inr 500.00 using card no **7366 on 05/07/18 is successful. clear balance in a/c is inr 0.93. for lost card/unauthorized transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
49064,"dear customer, cash withdrawal of inr 1000.00 using card no **7366 on 03/07/18 is successful. clear balance in a/c is inr 39.93. for lost card/unauthorized transaction sms hotlist <last 4 digit of card> at 7065154444","una,"
49065,"dear customer, cash withdrawal of inr 1000.00 using card no **7366 on 03/07/18 is successful. clear balance in a/c is inr 39.93. for lost card/unauthorized transaction sms hotlist <last 4 digit of card> at 7065154444","una,"

In [42]:
# From unauthorised and unable word present in sms body "una" is returning in withdrawl_city column
# Dropping una city from my_list
my_list.remove('una')

In [43]:
[i for i in my_list if i == 'una']

[]

In [44]:
df['Withdrawl_City'].value_counts()

                           42512
rau,                        1994
una,                        1076
delhi,                       936
noida,                       559
allahabad,ron,               414
nagar,                       224
mul,                         156
pen,                         156
wai,                         123
delhi,nagar,                 123
gurgaon,                     121
allahabad,                    87
faridabad,                    74
gurgaon,rau,                  74
meerut,noida,                 66
bangalore,                    61
ron,                          52
puri,                         49
indore,mahe,                  48
rewa,                         43
jaipur,                       41
meerut,                       38
mandi,                        32
agra,una,                     32
thane,                        31
pen,lar,                      30
agra,nagar,                   28
udaipur,                      28
aligarh,                      26
                           ...
gwalior,puri,                  2
panipat,                       2
nagaon,marigaon,               2
gwalior,                       2
indore,pen,                    2
mandawa,                       1
korba,nirmal,                  1
delhi,sultanpur,               1
renukoot,                      1
nadiad,                        1
chennai,vita,                  1
morena,ron,                    1
mundi,                         1
pilani,                        1
panaji,                        1
pune,nagar,                    1
yavatmal,ron,                  1
delhi,pali,                    1
delhi,durg,bahadurgarh,        1
patna,muzaffarpur,             1
moga,pen,                      1
jamshedpur,                    1
mathura,                       1
mumbai,delhi,                  1
nainital,                      1
kanpur,nagar,                  1
pasan,                         1
robertsganj,                   1
pen,ron,                       1
samastipur,                    1
Name: Withdrawl_City, Length: 162, dtype: int64

In [45]:
# Searching nagar city in my_list
[i for i in my_list if i =='nagar']

['nagar']

In [46]:
# Checking the customer from nagar city in database
pd.read_sql_query("""select * from v3_user_address_data where city ='nagar'""",conn)

,id,address_type,building,locality,city,state,affluency_metric,comments,created_at,updated_at,user_id,row_status,pin,lat,lng,source,landmark,performed_by,extra_details
0,975111,Home with family,"dnyaneshwar nagar,shevgaon",shevgaon,nagar,None,1.0,None,2019-01-10 13:50:11.873377,2019-01-10 19:34:48.136163,374325,inactive,414502.0,None,None,None,None,NaN,{}
1,975661,Home with family,"bhingar police line ,bhingar",nagar,nagar,None,1.0,None,2019-01-10 15:17:03.032406,2019-01-10 19:34:48.136163,374325,inactive,414502.0,None,None,None,None,NaN,{}
2,977423,Home with family,"bhingar police line ,bhingar",nagar,nagar,None,1.0,None,2019-01-10 19:33:35.366459,2019-01-10 19:34:48.136163,374325,inactive,414502.0,None,None,None,None,NaN,{}
3,699021,permanent address,6-78,nawabpet mandal,nagar,andhra pradesh,NaN,aadhar,2018-11-16 20:32:52.679927,2018-11-16 20:32:52.679927,281586,active,509340.0,None,None,kyc,None,NaN,{}
4,627811,permanent address,2-33,kistapur ieeja,nagar,andhra pradesh,NaN,aadhar,2018-10-29 00:57:03.863693,2018-10-29 00:57:03.863693,190118,active,509135.0,None,None,kyc,None,NaN,{}
5,975116,Home with family,"dnyaneshwar nagar,shevgaon",shevgaon,nagar,None,1.0,None,2019-01-10 13:50:29.764098,2019-01-10 19:34:48.136163,374325,inactive,414502.0,None,None,None,None,NaN,{}
6,975127,Home with family,"dnyaneshwar nagar,shevgaon",shevgaon,nagar,None,1.0,None,2019-01-10 13:51:30.893204,2019-01-10 19:34:48.136163,374325,inactive,414502.0,None,None,None,None,NaN,{}
7,977422,Home with family,"bhingar police line ,bhingar",nagar,nagar,None,1.0,None,2019-01-10 19:33:28.516545,2019-01-10 19:34:48.136163,374325,inactive,414502.0,None,None,None,None,NaN,{}
8,977434,Home with family,"bhingar police line ,bhingar",nagar,nagar,None,1.0,None,2019-01-10 19:34:26.786369,2019-01-10 19:34:48.136163,374325,inactive,414502.0,None,None,None,None,NaN,{}
9,975107,Home with family,"dnyaneshwar nagar,shevgaon",shevgaon,nagar,None,1.0,None,2019-01-10 13:50:00.033781,2019-01-10 19:34:48.136163,374325,inactive,414502.0,None,None,None,None,NaN,{}
10,677974,permanent address,6-78,nawabpet mandal,nagar,andhra pradesh,NaN,aadhar,2018-11-12 10:19:22.383862,2018-11-16 20:32:52.679927,281586,inactive,509340.0,None,None,kyc,None,NaN,{}
11,745278,Hostel/PG,6523g,loni bk,nagar,None,1.0,None,2018-11-26 09:15:11.647673,2018-11-26 19:20:54.326201,304822,inactive,413736.0,None,None,None,None,NaN,{}
12,745277,Hostel/PG,6523g,loni bk,nagar,None,1.0,None,2018-11-26 09:14:40.744969,2018-11-26 19:20:54.326201,304822,inactive,413736.0,None,None,None,None,NaN,{}
13,745273,Hostel/PG,6523gaurav,loni bk,nagar,None,1.0,None,2018-11-26 09:13:45.015385,2018-11-26 19:20:54.326201,304822,inactive,413736.0,None,None,None,None,NaN,{}
14,742472,Hostel/PG,6523gaurav,loni bk,nagar,None,1.0,None,2018-11-25 14:31:01.969161,2018-11-26 19:20:54.326201,304822,inactive,413736.0,None,None,None,None,NaN,{}
15,2539948,Home with family,106,nagar,nagar,None,1.0,None,2019-07-23 00:20:46.551004,2019-07-23 00:24:04.520963,827750,inactive,321205.0,None,None,None,None,NaN,{}
16,745276,Hostel/PG,6523g,loni bk,nagar,None,1.0,None,2018-11-26 09:14:21.527537,2018-11-26 19:20:54.326201,304822,inactive,413736.0,None,None,None,None,NaN,{}
17,1133989,permanent address,flat no 104,"prathmesh apartment hudeshwar road, near nit garden, dattatray nagar, ayodhya nagar s.o,",nagar,maharashtra,NaN,aadhar,2019-02-08 17:07:18.997105,2019-02-08 17:07:18.997105,419521,active,440024.0,None,None,kyc,None,NaN,{}
18,2190753,Home with family,at post gundegaon,nagar,nagar,None,1.0,None,2019-06-23 11:09:28.868580,2019-06-23 11:12:08.812886,729170,inactive,414101.0,None,None,None,None,NaN,{}
19,2190750,Home with family,at post gundegaon,nagar,nagar,None,1.0,None,2019-06-23 11:08:24.188049,2019-06-23 11:12:08.812886,729170,inactive,414101.0,None,None,None,None,NaN,{}
20,2539953,Home with family,106,nagar,nagar,None,1.0,None,2019-07-23 00:21:56.628954,2019-07-23 00:24:04.520963,827750,inactive,321205.0,None,None,None,None,NaN,{}
21,2539942,Home with family,106,nagar,nagar,None,1.0,None,2019-07-23 00:19:58.218616,2019-07-23 00:24:04.520963,827750,inactive,321205.0,None,None,None,None,NaN,{}
22,2190758,Home with family,at post gundegaon,gundegaon,nagar,None,1.0,None,2019-06-23 11:10:20.265104,2019-06-23 11:12:08.812886,729170,inactive,414101.0,None,None,None,None,NaN,{}
23,2539949,Home with family,106,nagar,nagar,None,1.0,None,2019-07-23 00:21:07.112489,2019-07-23 00:24:04.520963,827750,inactive,321205.0,None,None,None,None,NaN,{}
24,2539957,Home with family,106,nagar,nagar,None,1.0,None,2019-07-23 00:23:14.903802,2019-07-23 00:24:04.520963,827750,inactive,321205.0,None,None,None,None,NaN,{}
25,2539934,Home with family,106,nagar,nagar,None,1.0,None,2019-07-23 00:18:21.963602,2019-07-23 00:24:04.520963,827750,inactive,321205.0,None,None,None,None,NaN,{}
26,2653609,Home with family,1001,nagar barababhali,nagar,None,1.0,None,2019-08-01 17:22:07.614836,2019-08-01 17:23:34.924675,860326,inactive,414002.0,None,None,None,None,NaN,{}
27,2539950,Home with family,106,nagar,nagar,None,1.0,None,2019-07-23 00:21:17.901833,2019-07-23 00:24:04.520963,827750,inactive,321205.0,None,None,None,None,NaN,{}
28,2653620,Home with family,1001,nagar barababhali,nagar,None,1.0,None,2019-08-01 17:22:28.705474,2019-08-01 17:23:34.924675,860326,inactive,414002.0,None,None,None,None,NaN,{}
29,977437,Home with family,"bhingar police line ,bhingar",nagar,nagar,MAHARASHTRA,1.0,None,2019-01-10 19:34:48.136163,2019-11-07 16:57:45.364981,374325,active,414502.0,None,None,None,None,147779.0,{}
30,1574097,permanent address,begsar,maulasar,nagar,rajasthan,NaN,aadhar,2019-04-04 11:39:20.144447,2019-11-07 17:25:12.921522,525970,active,341506.0,None,None,kyc,None,147779.0,{}
31,4343565,permanent address,plot.no.7 opp.kiran press bhingardive mala bhutkarwadi balikaashram raod sawedi ahmednagar maharashtra 414003,"bhutkar wadi, balikashram road",nagar,maharashtra,NaN,aadhar,2019-12-03 12:47:49.864315,2019-12-03 12:47:49.864315,1512100,active,414003.0,None,None,kyc,None,NaN,{}
32,2653643,Home with family,1001,nagar barababhali,nagar,MAHARASHTRA,1.0,None,2019-08-01 17:23:34.924675,2019-11-07 16:57:45.364981,860326,active,414002.0,None,None,None,None,147779.0,{}
33,2190768,Home with family,at post gundegaon,at post gundegaon talDist Ahmednagar,nagar,MAHARASHTRA,1.0,None,2019-06-23 11:12:08.812886,2019-11-07 16:57:45.364981,729170,active,414101.0,None,None,None,None,147779.0,{}
34,3058409,permanent address,"r/0- vivek singh transport c,nadrai gate kasganj, kasganj (npp)",kasganj kanshiram,nagar,uttar pradesh,NaN,driving,2019-08-31 01:15:36.766646,2019-11-07 17:25:12.921522,1010500,active,207123.0,None,None,kyc,None,147779.0,{}
35,243948,permanent address,kap's regency hilltop,gittikkhadan,nagar,None,NaN,student id,2018-06-03 17:47:41.276743,2019-11-07 17:25:12.921522,124796,active,NaN,None,None,kyc,"near ramdevbaba college,katol road",147779.0,{}

In [47]:
# checking the body of the message where city is equal to nagar
df_2[df_2['Withdrawl_City']=='nagar,']

,body,Withdrawl_City
268,rs.5000.00 was withdrawn using your hdfc bank card ending 0130 on 2018-02-19:15:21:14 at +lajpat nagar br. avl bal: rs.95959.20,"nagar,"
269,rs.30000.00 was withdrawn using your hdfc bank card ending 0130 on 2018-03-26:10:09:47 at +lajpat nagar br. avl bal: rs.36325.20,"nagar,"
2130,"rs 9000 withdrawn at sbi atm s1bb006499001 sbi laxminagar , preet vihar from a/c xxxx 9709 on 080917.txn#2039 .avl bal rs 1712.61.","nagar,"
2136,"rs 9000 withdrawn at sbi atm s1bb006499001 sbi laxminagar , preet vihar from a/c xxxx 9709 on 080917.txn#2039 .avl bal rs 1712.61.","nagar,"
2768,alert:you've withdrawn rs.1000.00 via debit card xx2568 at 507b patel nagar murdha on 2019-04-24:16:29:16.avl bal rs.106.58.not you?call 18002586161.,"nagar,"
6491,rs.2000.00 was withdrawn using your hdfc bank card ending 4832 on 2016-11-14:21:08:10 at +sbi krishna nagar. avl bal: rs.44557.55,"nagar,"
6495,rs.2000.00 was withdrawn using your hdfc bank card ending 4832 on 2016-12-12:19:43:15 at +sbi krishna nagar. avl bal: rs.36084.05,"nagar,"
6500,rs.2000.00 was withdrawn using your hdfc bank card ending 4832 on 2016-11-14:21:08:10 at +sbi krishna nagar. avl bal: rs.44557.55,"nagar,"
6504,rs.2000.00 was withdrawn using your hdfc bank card ending 4832 on 2016-12-12:19:43:15 at +sbi krishna nagar. avl bal: rs.36084.05,"nagar,"
6624,"rs 3000 w/d at sbi atm s5na011475621 cdm,g b nagar fm a/cx6156on11/05/18.txn#6373.avl bal rs422.3.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","nagar,"
6625,"rs 500 w/d at sbi atm s5na011475621 cdm,g b nagar fm a/cx6156on24/05/18.txn#9571.avl bal rs7501.05.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","nagar,"
6641,"rs 400 w/d at sbi atm s5na011475621 cdm,g b nagar fm a/cx6156on24/08/18.txn#8658.avl bal rs1359.65.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","nagar,"
6683,"rs. 1,500 was withdrawn on your debit card 6070xxxxxxxx4520 on 18-10-2017,19:28:45 at vijay nagar sec 11gh,uttar pradesh atm id-nfuc0000. avl bal is 3,517.06.","nagar,"
6749,"rs. 1,500 was withdrawn on your debit card 6070xxxxxxxx4520 on 25-10-2016,10:38:10 at jawahar nagar offsite,del atm id-nfuc0000. avl bal is 1,871.63.","nagar,"
6762,"rs. 500 was withdrawn on your debit card 6070xxxxxxxx4520 on 31-01-2017,19:53:33 at jawahar nagar offsite,del atm id-nfuc0000. avl bal is 2,865.95.","nagar,"
8706,rs.1000.00 was withdrawn using your hdfc bank card ending 8901 on 2018-09-22:14:06:29 at +vijay nagar oatm. avl bal: rs.2149.05,"nagar,"
8707,rs.1500.00 was withdrawn using your hdfc bank card ending 8901 on 2018-09-02:11:44:18 at +vijay nagar oatm. avl bal: rs.1457.55,"nagar,"
8708,rs.1000.00 was withdrawn using your hdfc bank card ending 8901 on 2018-09-03:22:04:23 at +vijay nagar oatm. avl bal: rs.457.55,"nagar,"
8715,rs.500.00 was withdrawn using your hdfc bank card ending 8901 on 2017-11-01:09:04:03 at +vijay nagar. avl bal: rs.3065.16,"nagar,"
8716,rs.1500.00 was withdrawn using your hdfc bank card ending 8901 on 2017-11-18:18:16:53 at +vijay nagar oatm. avl bal: rs.1542.36,"nagar,"
8717,rs.1000.00 was withdrawn using your hdfc bank card ending 8901 on 2017-11-20:17:15:40 at +vijay nagar. avl bal: rs.542.36,"nagar,"
8718,rs.500.00 was withdrawn using your hdfc bank card ending 8901 on 2017-11-23:19:30:07 at +vijay nagar oatm. avl bal: rs.1979.36,"nagar,"
8719,rs.500.00 was withdrawn using your hdfc bank card ending 8901 on 2017-11-26:13:42:53 at +vijay nagar oatm. avl bal: rs.1479.36,"nagar,"
8720,rs.500.00 was withdrawn using your hdfc bank card ending 8901 on 2017-11-29:16:56:18 at +vijay nagar oatm. avl bal: rs.979.36,"nagar,"
8722,rs.500.00 was withdrawn using your hdfc bank card ending 8901 on 2018-01-04:16:30:12 at +vijay nagar branch. avl bal: rs.6050.65,"nagar,"
8723,rs.7500.00 was withdrawn using your hdfc bank card ending 8901 on 2018-01-07:15:55:57 at +vijay nagar. avl bal: rs.333.55,"nagar,"
8724,"syn- inr 500.00 dr to a/c ***6211 on 11-01-2018 08:44-for atm txn at p1tndl94-800025-+vijay nagar oatmavl bal:45,115.13. helpline 18004250585","nagar,"
8725,rs.1000.00 was withdrawn using your hdfc bank card ending 8901 on 2018-01-12:18:19:00 at +vijay nagar branch. avl bal: rs.87.55,"nagar,"
8726,"syn- inr 1,000.00 dr to a/c ***6211 on 15-01-2018 11:06-for atm txn at p1tndl94-800025-+vijay nagar oatmavl bal:42,975.13. helpline 18004250585","nagar,"
8727,rs.500.00 was withdrawn using your hdfc bank card ending 8901 on 2018-01-16:08:45:58 at +vijay nagar oatm. avl bal: rs.6132.55,"nagar,"
...,...,...
33736,alert:you've withdrawn rs.2500.00 via debit card xx2880 at gangadevi nagar on 2019-05-08:16:49:47.avl bal rs.11135.80.not you?call 18002586161.,"nagar,"
33738,alert:you've withdrawn rs.400.00 via debit card xx2880 at gangadevi nagar on 2019-05-12:15:11:51.avl bal rs.9655.80.not you?call 18002586161.,"nagar,"
33739,alert:you've withdrawn rs.200.00 via debit card xx2880 at gangadevi nagar on 2019-05-13:21:13:18.avl bal rs.9455.80.not you?call 18002586161.,"nagar,"
33742,alert:you've withdrawn rs.200.00 via debit card xx2880 at gangadevi nagar on 2019-05-18:15:32:26.avl bal rs.8433.20.not you?call 18002586161.,"nagar,"
33743,alert:you've withdrawn rs.200.00 via debit card xx2880 at gangadevi nagar on 2019-05-20:20:53:48.avl bal rs.8233.20.not you?call 18002586161.,"nagar,"
33749,alert:you've withdrawn rs.200.00 via debit card xx2880 at gangadevi nagar on 2019-06-05:22:33:43.avl bal rs.9550.20.not you?call 18002586161.,"nagar,"
33750,alert:you've withdrawn rs.2500.00 via debit card xx2880 at gangadevi nagar on 2019-06-07:22:13:33.avl bal rs.7010.20.not you?call 18002586161.,"nagar,"
33756,alert:you've withdrawn rs.500.00 via debit card xx2880 at +vijay nagar square br on 2019-06-18:21:36:32.avl bal rs.2839.18.not you?call 18002586161.,"nagar,"
33757,alert:you've withdrawn rs.200.00 via debit card xx2880 at gangadevi nagar on 2019-06-19:22:27:48.avl bal rs.2269.18.not you?call 18002586161.,"nagar,"
33758,alert:you've withdrawn rs.400.00 via debit card xx2880 at +gangadevi nagar on 2019-06-23:22:07:00.avl bal rs.1844.18.not you?call 18002586161.,"nagar,"
33759,alert:you've withdrawn rs.200.00 via debit card xx2880 at +gangadevi nagar on 2019-06-25:14:12:00.avl bal rs.1559.18.not you?call 18002586161.,"nagar,"
33763,alert:you've withdrawn rs.200.00 via debit card xx2880 at +gangadevi nagar on 2019-07-07:12:53:48.avl bal rs.13419.18.not you?call 18002586161.,"nagar,"
33764,alert:you've withdrawn rs.3000.00 via debit card xx2880 at gangadevi nagar on 2019-07-07:19:21:49.avl bal rs.10374.18.not you?call 18002586161.,"nagar,"
33793,alert:you've withdrawn rs.200.00 via debit card xx5464 at gangadevi nagar on 2019-06-10:21:26:15.avl bal rs.4959.00.not you?call 18002586161.,"nagar,"
42635,rs.1000.00 was withdrawn using your hdfc bank card ending 5990 on 2016-09-12:08:21:40 at raj nagar. avl bal: rs.3212.90,"nagar,"
42640,rs.1000.00 was withdrawn using your hdfc bank card ending 5990 on 2016-09-05:22:01:02 at raj nagar. avl bal: rs.3031.06,"nagar,"
42643,rs.300.00 was withdrawn using your hdfc bank card ending 5990 on 2016-08-30:08:45:42 at raj nagar. avl bal: rs.54.06,"nagar,"
42648,"rs.500.00 was withdrawn using your hdfc bank card ending 5990 on 2016-08-20:08:12:50 at rz-p180,raj nagar. avl bal: rs.5500.06","nagar,"
42650,rs.200.00 was withdrawn using your hdfc bank card ending 5990 on 2016-08-08:11:43:57 at 180 raj nagar part 2. avl bal: rs.5038.06,"nagar,"
42651,rs.100.00 was withdrawn using your hdfc bank card ending 5990 on 2016-08-07:18:00:10 at 180 raj nagar part 2. avl bal: rs.4776.06,"nagar,"
42653,rs.500.00 was withdrawn using your hdfc bank card ending 5990 on 2016-08-06:22:44:07 at raj nagar. avl bal: rs.4986.06,"nagar,"
42654,"rs.2000.00 was withdrawn using your hdfc bank card ending 5990 on 2016-08-06:13:29:01 at rz-p180,raj nagar. avl bal: rs.5509.06","nagar,"
42657,rs.200.00 was withdrawn using your hdfc bank card ending 5990 on 2016-08-05:09:40:43 at 180 raj nagar part 2. avl bal: rs.1009.06,"nagar,"
42659,rs.100.00 was withdrawn using your hdfc bank card ending 5990 on 2016-08-03:19:07:34 at raj nagar. avl bal: rs.1709.06,"nagar,"
42667,rs.3000.00 was withdrawn using your hdfc bank card ending 5990 on 2016-07-30:12:32:57 at saket nagar. avl bal: rs.10501.06,"nagar,"
42670,rs.500.00 was withdrawn using your hdfc bank card ending 5990 on 2016-09-18:12:21:36 at raj nagar. avl bal: rs.89.90,"nagar,"
42676,rs.1000.00 was withdrawn using your hdfc bank card ending 5990 on 2016-07-07:15:35:59 at keshav nagar gulmohar v. avl bal: rs.1786.12,"nagar,"
46154,"syn- inr 1,000.00 dr to a/c ***1943 on 10-06-2017 17:34-for atm txn at 01581795-015817952042-+dmrc kirti nagaravl bal:6,055.08. helpline 18004250585","nagar,"
46155,"syn- inr 1,000.00 dr to a/c ***1943 on 10-06-2017 17:34-for atm txn at 01581795-015817952042-+dmrc kirti nagaravl bal:6,055.08. helpline 18004250585","nagar,"
49756,cash withdrawal of rs.1000 made on kotak debit card xx1312 on 31-10-2016 22:52:23 at subhash nagar.combined balance in a/c xx8419 is rs 13184.,"nagar,"

In [48]:
# nagar is returning in withdrawl_city from word like keshav nagar, lajpatnagar etc
# Removing nagar from my_list
my_list.remove('nagar')

In [49]:
[i for i in my_list if i == 'nagar']

[]

In [50]:
df['Withdrawl_City'].value_counts()

                           42512
rau,                        1994
una,                        1076
delhi,                       936
noida,                       559
allahabad,ron,               414
nagar,                       224
mul,                         156
pen,                         156
wai,                         123
delhi,nagar,                 123
gurgaon,                     121
allahabad,                    87
faridabad,                    74
gurgaon,rau,                  74
meerut,noida,                 66
bangalore,                    61
ron,                          52
puri,                         49
indore,mahe,                  48
rewa,                         43
jaipur,                       41
meerut,                       38
mandi,                        32
agra,una,                     32
thane,                        31
pen,lar,                      30
agra,nagar,                   28
udaipur,                      28
aligarh,                      26
                           ...
gwalior,puri,                  2
panipat,                       2
nagaon,marigaon,               2
gwalior,                       2
indore,pen,                    2
mandawa,                       1
korba,nirmal,                  1
delhi,sultanpur,               1
renukoot,                      1
nadiad,                        1
chennai,vita,                  1
morena,ron,                    1
mundi,                         1
pilani,                        1
panaji,                        1
pune,nagar,                    1
yavatmal,ron,                  1
delhi,pali,                    1
delhi,durg,bahadurgarh,        1
patna,muzaffarpur,             1
moga,pen,                      1
jamshedpur,                    1
mathura,                       1
mumbai,delhi,                  1
nainital,                      1
kanpur,nagar,                  1
pasan,                         1
robertsganj,                   1
pen,ron,                       1
samastipur,                    1
Name: Withdrawl_City, Length: 162, dtype: int64

In [51]:
[i for i in my_list if i =='mul']

['mul']

In [52]:
pd.read_sql_query("""select * from v3_user_address_data where city ='mul'""",conn)

,id,address_type,building,locality,city,state,affluency_metric,comments,created_at,updated_at,user_id,row_status,pin,lat,lng,source,landmark,performed_by,extra_details
0,531002,Home with family,"33,mul",mul,mul,None,1,None,2018-10-08 18:54:41.443327,2018-10-08 19:28:07.983660,237923,inactive,441224,None,None,None,None,None,{}
1,531005,Home with family,"33,mul",mul,mul,None,1,None,2018-10-08 18:54:59.322504,2018-10-08 19:28:07.983660,237923,inactive,441224,None,None,None,None,None,{}

In [53]:
df_2[df_2['Withdrawl_City']=='mul,']

,body,Withdrawl_City
1363,"rs 12000 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on20/01/18.txn#3479.avl bal rs506.47.download yono @ www.yonosbi.com","mul,"
1364,"rs 500 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on20/01/18.txn#3481.avl bal rs6.47.download yono @ www.yonosbi.com","mul,"
1365,"rs 3500 w/d at sbi atm s1na000608023 mm medical college,mullana fm a/cx1419on02/02/18.txn#8340.avl bal rs500.0.download yono @ www.yonosbi.com","mul,"
1372,"rs 500 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on04/03/18.txn#8893.avl bal rs5.17.download yono @ www.yonosbi.com.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109","mul,"
1373,"rs 5400 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on11/03/18.txn#2971.avl bal rs60.97.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1374,"rs 1000 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on23/03/18.txn#2573.avl bal rs3.17.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1377,"rs 1000 w/d at sbi atm s1na000608023 mm medical college,mullana fm a/cx1419on30/03/18.txn#5163.avl bal rs9.17.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1383,"rs 1000 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on25/04/18.txn#9939.avl bal rs0.57.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1385,"rs 500 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on07/05/18.txn#5758.avl bal rs530.57.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1386,"rs 3000 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on10/05/18.txn#7161.avl bal rs3005.57.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1387,"rs 500 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on15/05/18.txn#9017.avl bal rs1005.57.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1389,"rs 1000 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on18/05/18.txn#6313.avl bal rs505.57.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1391,"rs 500 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on20/05/18.txn#1277.avl bal rs2025.57.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1392,"rs 1500 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on22/05/18.txn#8640.avl bal rs17.57.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1407,"rs 6000 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on21/07/18.txn#2740.avl bal rs0.41.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1409,"rs 1000 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on24/07/18.txn#3615.avl bal rs15.81.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1411,"rs 500 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on30/07/18.txn#5022.avl bal rs15.81.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1412,"rs 200 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on02/08/18.txn#989.avl bal rs55.65.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com@","mul,"
1413,"rs 500 w/d at sbi atm s1na000608023 mm medical college,mullana fm a/cx1419on03/08/18.txn#4440.avl bal rs5005.65.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1427,"rs 1000 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on15/08/18.txn#9813.avl bal rs6.65.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1435,"rs 200 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on22/08/18.txn#1443.avl bal rs556.65.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1437,"rs 200 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on23/08/18.txn#9703.avl bal rs256.65.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1438,"rs 200 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on24/08/18.txn#2025.avl bal rs56.65.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1442,"rs 400 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on01/09/18.txn#3265.avl bal rs27.0.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com@","mul,"
1455,"rs 100 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on21/09/18.txn#2091.avl bal rs0.29.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1489,"rs 12000 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on20/01/18.txn#3479.avl bal rs506.47.download yono @ www.yonosbi.com","mul,"
1490,"rs 500 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on20/01/18.txn#3481.avl bal rs6.47.download yono @ www.yonosbi.com","mul,"
1491,"rs 3500 w/d at sbi atm s1na000608023 mm medical college,mullana fm a/cx1419on02/02/18.txn#8340.avl bal rs500.0.download yono @ www.yonosbi.com","mul,"
1498,"rs 500 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on04/03/18.txn#8893.avl bal rs5.17.download yono @ www.yonosbi.com.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109","mul,"
1499,"rs 5400 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on11/03/18.txn#2971.avl bal rs60.97.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
...,...,...
2000,"rs 500 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on20/01/18.txn#3481.avl bal rs6.47.download yono @ www.yonosbi.com","mul,"
2001,"rs 3500 w/d at sbi atm s1na000608023 mm medical college,mullana fm a/cx1419on02/02/18.txn#8340.avl bal rs500.0.download yono @ www.yonosbi.com","mul,"
2008,"rs 500 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on04/03/18.txn#8893.avl bal rs5.17.download yono @ www.yonosbi.com.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109","mul,"
2009,"rs 5400 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on11/03/18.txn#2971.avl bal rs60.97.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2010,"rs 1000 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on23/03/18.txn#2573.avl bal rs3.17.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2013,"rs 1000 w/d at sbi atm s1na000608023 mm medical college,mullana fm a/cx1419on30/03/18.txn#5163.avl bal rs9.17.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2019,"rs 1000 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on25/04/18.txn#9939.avl bal rs0.57.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2021,"rs 500 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on07/05/18.txn#5758.avl bal rs530.57.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2022,"rs 3000 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on10/05/18.txn#7161.avl bal rs3005.57.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2023,"rs 500 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on15/05/18.txn#9017.avl bal rs1005.57.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2025,"rs 1000 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on18/05/18.txn#6313.avl bal rs505.57.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2027,"rs 500 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on20/05/18.txn#1277.avl bal rs2025.57.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2028,"rs 1500 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on22/05/18.txn#8640.avl bal rs17.57.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2043,"rs 6000 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on21/07/18.txn#2740.avl bal rs0.41.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2045,"rs 1000 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on24/07/18.txn#3615.avl bal rs15.81.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2047,"rs 500 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on30/07/18.txn#5022.avl bal rs15.81.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2048,"rs 200 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on02/08/18.txn#989.avl bal rs55.65.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com@","mul,"
2049,"rs 500 w/d at sbi atm s1na000608023 mm medical college,mullana fm a/cx1419on03/08/18.txn#4440.avl bal rs5005.65.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2064,"rs 1000 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on15/08/18.txn#9813.avl bal rs6.65.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2072,"rs 200 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on22/08/18.txn#1443.avl bal rs556.65.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2074,"rs 200 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on23/08/18.txn#9703.avl bal rs256.65.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2075,"rs 200 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on24/08/18.txn#2025.avl bal rs56.65.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2079,"rs 400 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on01/09/18.txn#3265.avl bal rs27.0.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com@","mul,"
2092,"rs 100 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on21/09/18.txn#2091.avl bal rs0.29.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
11516,"rs 500 w/d at sbi atm s1b4016534007 sec-18,rohini,multit,saraswati fm a/cx0578on02/02/18.txn#6109.avl bal rs8832.68.download yono @ www.yonosbi.com","mul,"
11636,"rs 500 w/d at sbi atm s1b4016534007 sec-18,rohini,multit,saraswati fm a/cx0578on02/02/18.txn#6109.avl bal rs8832.68.download yono @ www.yonosbi.com","mul,"
11756,"rs 500 w/d at sbi atm s1b4016534007 sec-18,rohini,multit,saraswati fm a/cx0578on02/02/18.txn#6109.avl bal rs8832.68.download yono @ www.yonosbi.com","mul,"
11876,"rs 500 w/d at sbi atm s1b4016534007 sec-18,rohini,multit,saraswati fm a/cx0578on02/02/18.txn#6109.avl bal rs8832.68.download yono @ www.yonosbi.com","mul,"
11996,"rs 500 w/d at sbi atm s1b4016534007 sec-18,rohini,multit,saraswati fm a/cx0578on02/02/18.txn#6109.avl bal rs8832.68.download yono @ www.yonosbi.com","mul,"
35564,"dear customer, your account has more than one active atm cards. to avoid amc on multiple debitcards next year. please block cards which is not in use by you.","mul,"

In [54]:
# Removing city mul from my list
my_list

['mumbai',
 'delhi',
 'bangalore',
 'ahmedabad',
 'hyderabad',
 'chennai',
 'kolkata',
 'pune',
 'jaipur',
 'surat',
 'lucknow',
 'kanpur',
 'nagpur',
 'patna',
 'indore',
 'thane',
 'bhopal',
 'visakhapatnam',
 'vadodara',
 'firozabad',
 'ludhiana',
 'rajkot',
 'agra',
 'siliguri',
 'nashik',
 'faridabad',
 'patiala',
 'meerut',
 'kalyan-dombivali',
 'vasai-virar',
 'varanasi',
 'srinagar',
 'dhanbad',
 'jodhpur',
 'amritsar',
 'raipur',
 'allahabad',
 'coimbatore',
 'jabalpur',
 'gwalior',
 'vijayawada',
 'madurai',
 'guwahati',
 'chandigarh',
 'hubli-dharwad',
 'amroha',
 'moradabad',
 'gurgaon',
 'aligarh',
 'solapur',
 'ranchi',
 'jalandhar',
 'tiruchirappalli',
 'bhubaneswar',
 'salem',
 'warangal',
 'mira-bhayandar',
 'thiruvananthapuram',
 'bhiwandi',
 'saharanpur',
 'guntur',
 'amravati',
 'bikaner',
 'noida',
 'jamshedpur',
 'bhilai nagar',
 'cuttack',
 'kochi',
 'udaipur',
 'bhavnagar',
 'dehradun',
 'asansol',
 'nanded-waghala',
 'ajmer',
 'jamnagar',
 'ujjain',
 'sangli',
 'loni',
 'jhansi',
 'pondicherry',
 'nellore',
 'jammu',
 'belagavi',
 'raurkela',
 'mangaluru',
 'tirunelveli',
 'malegaon',
 'gaya',
 'tiruppur',
 'davanagere',
 'kozhikode',
 'akola',
 'kurnool',
 'bokaro steel city',
 'rajahmundry',
 'ballari',
 'agartala',
 'bhagalpur',
 'latur',
 'dhule',
 'korba',
 'bhilwara',
 'brahmapur',
 'mysore',
 'muzaffarpur',
 'ahmednagar',
 'kollam',
 'raghunathganj',
 'bilaspur',
 'shahjahanpur',
 'thrissur',
 'alwar',
 'kakinada',
 'nizamabad',
 'sagar',
 'tumkur',
 'hisar',
 'rohtak',
 'panipat',
 'darbhanga',
 'kharagpur',
 'aizawl',
 'ichalkaranji',
 'tirupati',
 'karnal',
 'bathinda',
 'rampur',
 'shivamogga',
 'ratlam',
 'modinagar',
 'durg',
 'shillong',
 'imphal',
 'hapur',
 'ranipet',
 'anantapur',
 'arrah',
 'karimnagar',
 'parbhani',
 'etawah',
 'bharatpur',
 'begusarai',
 'chhapra',
 'kadapa',
 'ramagundam',
 'pali',
 'satna',
 'vizianagaram',
 'katihar',
 'hardwar',
 'sonipat',
 'nagercoil',
 'thanjavur',
 'murwara (katni)',
 'naihati',
 'sambhal',
 'nadiad',
 'yamunanagar',
 'english bazar',
 'eluru',
 'munger',
 'panchkula',
 'raayachuru',
 'panvel',
 'deoghar',
 'ongole',
 'nandyal',
 'morena',
 'bhiwani',
 'porbandar',
 'palakkad',
 'anand',
 'purnia',
 'baharampur',
 'barmer',
 'morvi',
 'orai',
 'bahraich',
 'sikar',
 'vellore',
 'singrauli',
 'khammam',
 'mahesana',
 'silchar',
 'sambalpur',
 'rewa',
 'unnao',
 'hugli-chinsurah',
 'raiganj',
 'phusro',
 'adityapur',
 'alappuzha',
 'bahadurgarh',
 'machilipatnam',
 'rae bareli',
 'jalpaiguri',
 'bharuch',
 'pathankot',
 'hoshiarpur',
 'baramula',
 'adoni',
 'jind',
 'tonk',
 'tenali',
 'kancheepuram',
 'vapi',
 'sirsa',
 'navsari',
 'mahbubnagar',
 'puri',
 'robertson pet',
 'erode',
 'batala',
 'haldwani-cum-kathgodam',
 'vidisha',
 'saharsa',
 'thanesar',
 'chittoor',
 'veraval',
 'lakhimpur',
 'sitapur',
 'hindupur',
 'santipur',
 'balurghat',
 'ganjbasoda',
 'moga',
 'proddatur',
 'medinipur',
 'habra',
 'sasaram',
 'hajipur',
 'bhuj',
 'shivpuri',
 'ranaghat',
 'shimla',
 'tiruvannamalai',
 'kaithal',
 'rajnandgaon',
 'godhra',
 'hazaribag',
 'bhimavaram',
 'mandsaur',
 'dibrugarh',
 'kolar',
 'bankura',
 'mandya',
 'dehri-on-sone',
 'madanapalle',
 'malerkotla',
 'lalitpur',
 'bettiah',
 'pollachi',
 'khanna',
 'neemuch',
 'palwal',
 'palanpur',
 'guntakal',
 'nabadwip',
 'udupi',
 'jagdalpur',
 'motihari',
 'pilibhit',
 'dimapur',
 'mohali',
 'sadulpur',
 'rajapalayam',
 'dharmavaram',
 'kashipur',
 'sivakasi',
 'darjiling',
 'chikkamagaluru',
 'gudivada',
 'baleshwar town',
 'mancherial',
 'srikakulam',
 'adilabad',
 'yavatmal',
 'barnala',
 'nagaon',
 'narasaraopet',
 'raigarh',
 'roorkee',
 'valsad',
 'ambikapur',
 'giridih',
 'chandausi',
 'purulia',
 'patan',
 'bagaha',
 'hardoi ',
 'achalpur',
 'osmanabad',
 'deesa',
 'nandurbar',
 'azamgarh',
 'ramgarh',
 'firozpur',
 'baripada town',
 'karwar',
 'siwan',
 'rajampet',
 'pudukkottai',
 'anantnag',
 'tadpatri',
 'satara',
 'bhadrak',
 'kishanganj',
 'suryapet',
 'wardha',
 'ranebennuru',
 'amreli',
 'neyveli (ts)',
 'jamalpur',
 'marmagao',
 'udgir',
 'tadepalligudem',
 'nagapattinam',
 'buxar',
 'aurangabad',
 'jehanabad',
 'phagwara',
 'khair',
 'sawai madhopur',
 'kapurthala',
 'chilakaluripet',
 'malappuram',
 'rewari',
 'nagaur',
 'sultanpur',
 'nagda',
 'port blair',
 'lakhisarai',
 'panaji',
 'tinsukia',
 'itarsi',
 'kohima',
 'balangir',
 'nawada',
 'jharsuguda',
 'jagtial',
 'viluppuram',
 'amalner',
 'zirakpur',
 'tanda',
 'tiruchengode',
 'nagina',
 'yemmiganur',
 'vaniyambadi',
 'sarni',
 'theni allinagaram',
 'margao',
 'akot',
 'sehore',
 'mhow cantonment',
 'kot kapura',
 'makrana',
 'pandharpur',
 'miryalaguda',
 'shamli',
 'seoni',
 'ranibennur',
 'kadiri',
 'shrirampur',
 'rudrapur',
 'parli',
 'najibabad',
 'nirmal',
 'udhagamandalam',
 'shikohabad',
 'jhumri tilaiya',
 'aruppukkottai',
 'ponnani',
 'jamui',
 'sitamarhi',
 'chirala',
 'anjar',
 'karaikal',
 'hansi',
 'anakapalle',
 'mahasamund',
 'faridkot',
 'saunda',
 'dhoraji',
 'paramakudi',
 'balaghat',
 'sujangarh',
 'khambhat',
 'muktsar',
 'rajpura',
 'kavali',
 'dhamtari',
 'ashok nagar',
 'sardarshahar',
 'mahuva',
 'bargarh',
 'kamareddy',
 'sahibganj',
 'kothagudem',
 'ramanagaram',
 'gokak',
 'tikamgarh',
 'araria',
 'rishikesh',
 'shahdol',
 'medininagar (daltonganj)',
 'arakkonam',
 'washim',
 'sangrur',
 'bodhan',
 'fazilka',
 'palacole',
 'keshod',
 'sullurpeta',
 'wadhwan',
 'gurdaspur',
 'vatakara',
 'tura',
 'narnaul',
 'kharar',
 'yadgir',
 'ambejogai',
 'ankleshwar',
 'savarkundla',
 'paradip',
 'virudhachalam',
 'kanhangad',
 'kadi',
 'srivilliputhur',
 'gobindgarh',
 'tindivanam',
 'mansa',
 'taliparamba',
 'manmad',
 'tanuku',
 'rayachoti',
 'virudhunagar',
 'koyilandy',
 'jorhat',
 'karur',
 'valparai',
 'srikalahasti',
 'neyyattinkara',
 'bapatla',
 'fatehabad',
 'malout',
 'sankarankovil',
 'tenkasi',
 'ratnagiri',
 'rabkavi banhatti',
 'sikandrabad',
 'chaibasa',
 'chirmiri',
 'palwancha',
 'bhawanipatna',
 'kayamkulam',
 'pithampur',
 'nabha',
 'shahabad, hardoi',
 'dhenkanal',
 'uran islampur',
 'gopalganj',
 'bongaigaon city',
 'palani',
 'pusad',
 'sopore',
 'pilkhuwa',
 'tarn taran',
 'renukoot',
 'mandamarri',
 'shahabad',
 'barbil',
 'koratla',
 'madhubani',
 'arambagh',
 'gohana',
 'ladnu',
 'pattukkottai',
 'sirsi',
 'sircilla',
 'tamluk',
 'jagraon',
 'alipurdurban agglomerationr',
 'alirajpur',
 'tandur',
 'naidupet',
 'tirupathur',
 'tohana',
 'ratangarh',
 'dhubri',
 'masaurhi',
 'visnagar',
 'vrindavan',
 'nokha',
 'nagari',
 'narwana',
 'ramanathapuram',
 'ujhani',
 'samastipur',
 'laharpur',
 'sangamner',
 'nimbahera',
 'siddipet',
 'suri',
 'diphu',
 'jhargram',
 'shirpur-warwade',
 'tilhar',
 'sindhnur',
 'udumalaipettai',
 'malkapur',
 'wanaparthy',
 'gudur',
 'kendujhar',
 'mandla',
 'mandi',
 'nedumangad',
 'north lakhimpur',
 'vinukonda',
 'tiptur',
 'gobichettipalayam',
 'sunabeda',
 'wani',
 'upleta',
 'narasapuram',
 'nuzvid',
 'tezpur',
 'markapur',
 'sheopur',
 'thiruvarur',
 'sidhpur',
 'sahaswan',
 'suratgarh',
 'shajapur',
 'rayagada',
 'lonavla',
 'ponnur',
 'kagaznagar',
 'gadwal',
 'bhatapara',
 'kandukur',
 'sangareddy',
 'unjha',
 'lunglei',
 'karimganj',
 'kannur',
 'bobbili',
 'mokameh',
 'talegaon dabhade',
 'anjangaon',
 'mangrol',
 'sunam',
 'gangarampur',
 'thiruvallur',
 'tirur',
 'rath',
 'jatani',
 'viramgam',
 'rajsamand',
 'yanam',
 'kottayam',
 'panruti',
 'dhuri',
 'namakkal',
 'kasaragod',
 'modasa',
 'rayadurg',
 'supaul',
 'kunnamkulam',
 'umred',
 'bellampalle',
 'sibsagar',
 'mandi dabwali',
 'ottappalam',
 'dumraon',
 'samalkot',
 'jaggaiahpet',
 'goalpara',
 'tuni',
 'lachhmangarh',
 'bhongir',
 'amalapuram',
 'firozpur cantt.',
 'vikarabad',
 'thiruvalla',
 'sherkot',
 'palghar',
 'shegaon',
 'jangaon',
 'bheemunipatnam',
 'panna',
 'thodupuzha',
 'kathurban agglomeration',
 'palitana',
 'arwal',
 'venkatagiri',
 'kalpi',
 'rajgarh (churu)',
 'sattenapalle',
 'arsikere',
 'ozar',
 'thirumangalam',
 'petlad',
 'nasirabad',
 'phaltan',
 'rampurhat',
 'nanjangud',
 'forbesganj',
 'tundla',
 'bhaburban agglomeration',
 'sagara',
 'pithapuram',
 'sira',
 'bhadrachalam',
 'charkhi dadri',
 'chatra',
 'palasa kasibugga',
 'nohar',
 'yevla',
 'sirhind fatehgarh sahib',
 'bhainsa',
 'parvathipuram',
 'shahade',
 'chalakudy',
 'narkatiaganj',
 'kapadvanj',
 'macherla',
 'raghogarh-vijaypur',
 'rupnagar',
 'naugachhia',
 'sendhwa',
 'byasanagar',
 'sandila',
 'gooty',
 'salur',
 'nanpara',
 'sardhana',
 'vita',
 'gumia',
 'puttur',
 'jalandhar cantt.',
 'nehtaur',
 'changanassery',
 'mandapeta',
 'dumka',
 'seohara',
 'umarkhed',
 'madhupur',
 'vikramasingapuram',
 'punalur',
 'kendrapara',
 'sihor',
 'nellikuppam',
 'samana',
 'warora',
 'nilambur',
 'rasipuram',
 'ramnagar',
 'jammalamadugu',
 'nawanshahr',
 'thoubal',
 'athni',
 'cherthala',
 'sidhi',
 'farooqnagar',
 'peddapuram',
 'chirkunda',
 'pachora',
 'madhepura',
 'pithoragarh',
 'tumsar',
 'phalodi',
 'tiruttani',
 'rampura phul',
 'perinthalmanna',
 'padrauna',
 'pipariya',
 'dalli-rajhara',
 'punganur',
 'mattannur',
 'mathura',
 'thakurdwara',
 'nandivaram-guduvancheri',
 'mulbagal',
 'manjlegaon',
 'wankaner',
 'sillod',
 'nidadavole',
 'surapura',
 'rajagangapur',
 'sheikhpura',
 'parlakhemundi',
 'kalimpong',
 'siruguppa',
 'arvi',
 'limbdi',
 'barpeta',
 'manglaur',
 'repalle',
 'mudhol',
 'shujalpur',
 'mandvi',
 'thangadh',
 'sironj',
 'nandura',
 'shoranur',
 'nathdwara',
 'periyakulam',
 'sultanganj',
 'medak',
 'narayanpet',
 'raxaul bazar',
 'rajauri',
 'pernampattu',
 'nainital',
 'ramachandrapuram',
 'vaijapur',
 'nangal',
 'sidlaghatta',
 'punch',
 'pandhurna',
 'wadgaon road',
 'talcher',
 'varkala',
 'pilani',
 'nowgong',
 'naila janjgir',
 'mapusa',
 'vellakoil',
 'merta city',
 'sivaganga',
 'mandideep',
 'sailu',
 'vyara',
 'kovvur',
 'vadalur',
 'nawabganj',
 'padra',
 'sainthia',
 'siana',
 'shahpur',
 'sojat',
 'noorpur',
 'paravoor',
 'murtijapur',
 'sundargarh',
 'taki',
 'saundatti-yellamma',
 'pathanamthitta',
 'wadi',
 'rameshwaram',
 'tasgaon',
 'sikandra rao',
 'sihora',
 'tiruvethipuram',
 'tiruvuru',
 'mehkar',
 'peringathur',
 'perambalur',
 'manvi',
 'zunheboto',
 'mahnar bazar',
 'attingal',
 'shahbad',
 'puranpur',
 'nelamangala',
 'nakodar',
 'lunawada',
 'murshidabad',
 'mahe',
 'lanka',
 'rudauli',
 'tuensang',
 'lakshmeshwar',
 'zira',
 'yawal',
 'thana bhawan',
 'ramdurg',
 'pulgaon',
 'sadasivpet',
 'nargund',
 'neem-ka-thana',
 'memari',
 'nilanga',
 'naharlagun',
 'pakaur',
 'wai',
 'tarikere',
 'malavalli',
 'raisen',
 'lahar',
 'uravakonda',
 'savanur',
 'sirohi',
 'udhampur',
 'umarga',
 'pratapgarh',
 'lingsugur',
 'usilampatti',
 'palia kalan',
 'wokha',
 'rajpipla',
 'vijayapura',
 'rawatbhata',
 'sangaria',
 'paithan',
 'rahuri',
 'patti',
 'zaidpur',
 'lalsot',
 'maihar',
 'vedaranyam',
 'nawapur',
 'solan',
 'sanawad',
 'warisaliganj',
 'revelganj',
 'sabalgarh',
 'tuljapur',
 'simdega',
 'musabani',
 'kodungallur',
 'phulabani',
 'umreth',
 'narsipatnam',
 'nautanwa',
 'rajgir',
 'yellandu',
 'sathyamangalam',
 'pilibanga',
 'morshi',
 'pehowa',
 'sonepur',
 'pappinisseri',
 'zamania',
 'mihijam',
 'purna',
 'puliyankudi',
 'shikarpur, bulandshahr',
 'umaria',
 'porsa',
 'naugawan sadat',
 'fatehpur sikri',
 'manuguru',
 'pipar city',
 'pattamundai',
 'nanjikottai',
 'taranagar',
 'yerraguntla',
 'satana',
 'sherghati',
 'sankeshwara',
 'madikeri',
 'thuraiyur',
 'sanand',
 'rajula',
 'kyathampalle',
 'shahabad, rampur',
 'tilda newra',
 'narsinghgarh',
 'chittur-thathamangalam',
 'malaj khand',
 'sarangpur',
 'robertsganj',
 'sirkali',
 'radhanpur',
 'tiruchendur',
 'utraula',
 'patratu',
 'vijainagar, ajmer',
 'periyasemur',
 'pathri',
 'sadabad',
 'talikota',
 'sinnar',
 'mungeli',
 'sedam',
 'shikaripur',
 'sumerpur',
 'sattur',
 'sugauli',
 'lumding',
 'vandavasi',
 'titlagarh',
 'uchgaon',
 'mokokchung',
 'paschim punropara',
 'sagwara',
 'ramganj mandi',
 'tarakeswar',
 'mahalingapura',
 'dharmanagar',
 'mahemdabad',
 'manendragarh',
 'uran',
 'tharamangalam',
 'tirukkoyilur',
 'pen',
 'makhdumpur',
 'maner',
 'oddanchatram',
 'palladam',
 'mundi',
 'nabarangapur',
 'mudalagi',
 'samalkha',
 'nepanagar',
 'karjat',
 'ranavav',
 'pedana',
 'pinjore',
 'lakheri',
 'pasan',
 'vadakkuvalliyur',
 'tirukalukundram',
 'mahidpur',
 'mussoorie',
 'muvattupuzha',
 'rasra',
 'udaipurwati',
 'manwath',
 'adoor',
 'uthamapalayam',
 'partur',
 'nahan',
 'ladwa',
 'mankachar',
 'nongstoin',
 'losal',
 'sri madhopur',
 'ramngarh',
 'mavelikkara',
 'rawatsar',
 'rajakhera',
 'lar',
 'lal gopalganj nindaura',
 'muddebihal',
 'sirsaganj',
 'shahpura',
 'surandai',
 'sangole',
 'pavagada',
 'tharad',
 'umbergaon',
 'mavoor',
 'nalbari',
 'talaja',
 'malur',
 'mangrulpir',
 'soro',
 'vadnagar',
 'raisinghnagar',
 'sindhagi',
 'sanduru',
 'sohna',
 'manavadar',
 'pihani',
 'safidon',
 'risod',
 'rosera',
 'sankari',
 'malpura',
 'sonamukhi',
 'shamsabad, agra',
 'pandurban agglomeration',
 'mainaguri',
 'afzalpur',
 'shirur',
 'salaya',
 'shenkottai',
 'vadipatti',
 'nagarkurnool',
 'savner',
 'sasvad',
 'soron',
 'sholingur',
 'pandharkaoda',
 'perumbavoor',
 'maddur',
 'nadbai',
 'talode',
 'shrigonda',
 'madhugiri',
 'tekkalakote',
 'seoni-malwa',
 'shirdi',
 'surban agglomerationr',
 'terdal',
 'raver',
 'taraori',
 'mukhed',
 'manachanallur',
 'rehli',
 'sanchore',
 'rajura',
 'piro',
 'mudabidri',
 'vadgaon kasba',
 'vijapur',
 'viswanatham',
 'polur',
 ...]

In [55]:
[i for i in my_list if i =='mul']

['mul']

In [56]:
[i for i in my_list if i =='pen']

['pen']

In [57]:
pd.read_sql_query("""select * from v3_user_address_data where city ='pen'""", conn)

,id,address_type,building,locality,city,state,affluency_metric,comments,created_at,updated_at,user_id,row_status,pin,lat,lng,source,landmark,performed_by,extra_details
0,1042557,Home with family,trangan society block no 12,"dev Ali,pen",pen,None,1,None,2019-01-24 12:24:44.870651,2019-01-24 12:25:40.337343,393599,inactive,402107,None,None,None,None,NaN,{}
1,2484974,Home with family,kharpada pen,604,pen,None,1,None,2019-07-18 22:16:41.378870,2019-07-18 22:23:10.505561,805859,inactive,402107,None,None,None,None,NaN,{}
2,1042293,Home with family,trangan society block no 12,pen,pen,None,1,None,2019-01-24 11:51:11.207644,2019-01-24 12:25:40.337343,393599,inactive,402107,None,None,None,None,NaN,{}
3,1042329,Home with family,trangan society block no 12,pen,pen,None,1,None,2019-01-24 11:55:05.006011,2019-01-24 12:25:40.337343,393599,inactive,402107,None,None,None,None,NaN,{}
4,2484963,Home with family,kharpada pen,604,pen,None,1,None,2019-07-18 22:15:36.461254,2019-07-18 22:23:10.505561,805859,inactive,402107,None,None,None,None,NaN,{}
5,1042536,Home with family,trangan society block no 12,pen,pen,None,1,None,2019-01-24 12:22:35.429292,2019-01-24 12:25:40.337343,393599,inactive,402107,None,None,None,None,NaN,{}
6,1182542,Home with family,house no 17/179,near amba mata mandir,pen,None,1,None,2019-02-16 14:22:06.668373,2019-06-24 12:38:00.345677,433980,inactive,402107,None,None,None,None,NaN,{}
7,1892158,Rented with family,house no203A,"at-post-gadab,tal-Pen,dist-raigad",pen,None,1,None,2019-05-14 07:47:09.605627,2019-05-22 07:43:47.588965,651152,inactive,402107,None,None,None,None,NaN,{}
8,2484890,Home with family,kharpada pen,604,pen,None,1,None,2019-07-18 22:08:52.882663,2019-07-18 22:23:10.505561,805859,inactive,402107,None,None,None,None,NaN,{}
9,2484991,Home with family,kharpada pen,604,pen,None,1,None,2019-07-18 22:18:03.964220,2019-07-18 22:23:10.505561,805859,inactive,402107,None,None,None,None,NaN,{}
10,1182548,Home with family,house no 17/179,near amba mata mandir,pen,None,1,None,2019-02-16 14:22:41.005741,2019-06-24 12:38:00.345677,433980,inactive,402107,None,None,None,None,NaN,{}
11,2084420,Home with family,shiv parvati bldg 1st floor,vitthal ali pen raigad,pen,None,1,None,2019-06-09 22:21:32.199767,2019-06-18 16:40:14.286568,703207,inactive,402107,None,None,None,None,NaN,{}
12,2084423,Home with family,shiv parvati bldg 1st floor,vitthal ali pen raigad,pen,None,1,None,2019-06-09 22:22:21.535494,2019-06-18 16:40:14.286568,703207,inactive,402107,None,None,None,None,NaN,{}
13,2150026,Home with family,shiv parvati bldg 1st floor,vitthal ali pen raigad,pen,MAHARASHTRA,1,None,2019-06-18 16:40:14.286568,2019-11-07 16:57:45.364981,703207,active,402107,None,None,None,None,147779.0,{}
14,2150020,Home with family,shiv parvati bldg 1st floor,vitthal ali pen raigad,pen,None,1,None,2019-06-18 16:38:40.915856,2019-06-18 16:40:14.286568,703207,inactive,402107,None,None,None,None,NaN,{}
15,2197177,Home with family,house no 17/179,student,pen,MAHARASHTRA,1,None,2019-06-24 12:38:00.345677,2019-11-07 16:57:45.364981,433980,active,402107,None,None,None,None,147779.0,{}
16,1335275,Rented with family,102 Amantran appt.,Godawri nagar,pen,MAHARASHTRA,1,None,2019-03-10 00:41:50.259460,2019-11-07 16:57:45.364981,481046,active,402107,None,None,None,None,147779.0,{}
17,2382171,Rented with family,room no-3,neartulajabhabanitemple,pen,MAHARASHTRA,1,None,2019-07-11 14:42:07.851788,2019-11-07 16:57:45.364981,765626,active,402107,None,None,None,None,147779.0,{}
18,1042564,Home with family,trangan society block no 12,"dev Ali,pen",pen,MAHARASHTRA,1,None,2019-01-24 12:25:40.337343,2019-11-07 16:57:45.364981,393599,active,402107,None,None,None,None,147779.0,{}
19,1073473,Home with family,gurav aali,gandhi mandir,pen,MAHARASHTRA,1,None,2019-01-30 02:23:38.595037,2019-11-07 16:57:45.364981,402813,active,402107,None,None,None,None,147779.0,{}
20,1954605,Rented with family,house no203A,"at-post-gadab,tal-Pen,dist-raigad",pen,MAHARASHTRA,1,None,2019-05-22 07:43:47.588965,2019-11-07 16:57:45.364981,651152,active,402107,None,None,None,None,147779.0,{}

In [58]:
df_2[df_2['Withdrawl_City']== 'pen,']

,body,Withdrawl_City
2142,swipe ur boi debit mastercard for rs5000 & get rs500 gift voucher. use atm pin to shop & be among top 1000 spenders to win till 31aug http://bit.ly/mcoffers t&c,"pen,"
2729,"dear customer, request you to download and self activate mobile banking & upi app from play/app store to pay or collect money instantly and overcome the dependence of atm/ cash. canara bank","pen,"
2757,"dear customer, request you to download and self activate mobile banking & upi app from play/app store to pay or collect money instantly and overcome the dependence of atm/ cash. canara bank","pen,"
6029,"take advantage of autofd feature of axis asap a/c. fund your a/c to earn upto 7.10%* interest on balances above rs 10,000. withdraw anytime without penalty. t&c","pen,"
6076,"dear customer, request you to download and self activate mobile banking & upi app from play/app store to pay or collect money instantly and overcome the dependence of atm/ cash. canara bank","pen,"
6745,"dear customer, ucobank is open on this saturday and sunday. you may deposit any amount in your account. withdrawal allowed upto rs 10000 per day with weekly limit of rs 20000. rs 500 and 1000 notes may be exchanged upto rs 4000 with id proof. to help customers bank has extended its business hours.","pen,"
8956,"we thank customers for patience & support at branches. branches will remain open this saturday & sunday, in addition to 24x7 availability of e-channels & atms","pen,"
10285,"please deposit rs. 500/1000 note at oriental bank of commerce branch upto 30.12.16. withdraw upto rs. 10,000 at branch or rs. 2,000 from atm. our branches are open this saturday and sunday. use alternate delivery channels for payments to save time.","pen,"
10322,"please deposit rs. 500/1000 note at oriental bank of commerce branch upto 30.12.16. withdraw upto rs. 10,000 at branch or rs. 2,000 from atm. our branches are open this saturday and sunday. use alternate delivery channels for payments to save time.","pen,"
10359,"please deposit rs. 500/1000 note at oriental bank of commerce branch upto 30.12.16. withdraw upto rs. 10,000 at branch or rs. 2,000 from atm. our branches are open this saturday and sunday. use alternate delivery channels for payments to save time.","pen,"
11099,"transfer funds to your axis asap account and earn upto 7.10%* p.a. interest on balances above rs 10,000. withdraw anytime without penalty. t&c apply.","pen,"
11103,"please deposit rs. 500/1000 note at oriental bank of commerce branch upto 30.12.16. withdraw upto rs. 10,000 at branch or rs. 2,000 from atm. our branches are open this saturday and sunday. use alternate delivery channels for payments to save time.","pen,"
11213,"transfer funds to your axis asap account and earn upto 7.10%* p.a. interest on balances above rs 10,000. withdraw anytime without penalty. t&c apply.","pen,"
11217,"please deposit rs. 500/1000 note at oriental bank of commerce branch upto 30.12.16. withdraw upto rs. 10,000 at branch or rs. 2,000 from atm. our branches are open this saturday and sunday. use alternate delivery channels for payments to save time.","pen,"
11589,"please deposit rs. 500/1000 note at oriental bank of commerce branch upto 30.12.16. withdraw upto rs. 10,000 at branch or rs. 2,000 from atm. our branches are open this saturday and sunday. use alternate delivery channels for payments to save time.","pen,"
11709,"please deposit rs. 500/1000 note at oriental bank of commerce branch upto 30.12.16. withdraw upto rs. 10,000 at branch or rs. 2,000 from atm. our branches are open this saturday and sunday. use alternate delivery channels for payments to save time.","pen,"
11829,"please deposit rs. 500/1000 note at oriental bank of commerce branch upto 30.12.16. withdraw upto rs. 10,000 at branch or rs. 2,000 from atm. our branches are open this saturday and sunday. use alternate delivery channels for payments to save time.","pen,"
11949,"please deposit rs. 500/1000 note at oriental bank of commerce branch upto 30.12.16. withdraw upto rs. 10,000 at branch or rs. 2,000 from atm. our branches are open this saturday and sunday. use alternate delivery channels for payments to save time.","pen,"
12069,"please deposit rs. 500/1000 note at oriental bank of commerce branch upto 30.12.16. withdraw upto rs. 10,000 at branch or rs. 2,000 from atm. our branches are open this saturday and sunday. use alternate delivery channels for payments to save time.","pen,"
23983,on this 70th independence day join us for a cause. for every transaction at our atm vijaya bank will contribute re.0.50 for a social cause. please\nuse our bank atm extensively n support for social cause - vijaya bank,"pen,"
24002,on this 70th independence day join us for a cause. for every transaction at our atm vijaya bank will contribute re.0.50 for a social cause - vijaya bank,"pen,"
24036,"rs.7,000.00 was spent on your sbi card no. ending xx5359 at sbi calangute atm on 25 jan 18. remaining credit limit: rs.26,224.88.","pen,"
26275,"dear customer - we understand your concern. to make it easy for you to deposit/withdraw/exchange cash, our branches will work from 9 am to 6 pm and remain open on coming saturday/sunday - j&k bank","pen,"
27538,"dear customer central bank of india branches will be open on 12/13 nov'16 i.e sat/ sun also. old high denomination currency can be exchanged upto rs 4000 with identity proof, there is no limit for deposit in your bank account. cash withdrawals restricted to rs 10000 per day with a weekly limit of rs 20000","pen,"
27602,"dear customer central bank of india branches will be open on 12/13 nov'16 i.e sat/ sun also. old high denomination currency can be exchanged upto rs 4000 with identity proof, there is no limit for deposit in your bank account. cash withdrawals restricted to rs 10000 per day with a weekly limit of rs 20000","pen,"
27674,"take advantage of autofd feature of axis asap a/c. fund your a/c to earn upto 7.10%* interest on balances above rs 10,000. withdraw anytime without penalty. t&c","pen,"
27679,"transfer funds to your axis asap account and earn upto 7.10%* p.a. interest on balances above rs 10,000. withdraw anytime without penalty. t&c apply.","pen,"
27692,"take advantage of autofd feature of axis asap a/c. fund your a/c to earn upto 7.10%* interest on balances above rs 10,000. withdraw anytime without penalty. t&c","pen,"
27700,"take advantage of autofd feature of axis asap a/c. fund your a/c to earn upto 7.10%* interest on balances above rs 10,000. withdraw anytime without penalty. t&c","pen,"
27714,"transfer funds to your axis asap account and earn upto 7.10%* p.a. interest on balances above rs 10,000. withdraw anytime without penalty. t&c apply.","pen,"
...,...,...
37257,"take advantage of autofd feature of axis asap a/c. fund your a/c to earn upto 7.10%* interest on balances above rs 10,000. withdraw anytime without penalty. t&c","pen,"
37258,"transfer funds to your axis asap account and earn upto 7.10%* p.a. interest on balances above rs 10,000. withdraw anytime without penalty. t&c apply.","pen,"
37264,"take advantage of autofd feature of axis asap a/c. fund your a/c to earn upto 7.10%* interest on balances above rs 10,000. withdraw anytime without penalty. t&c","pen,"
37283,"take advantage of autofd feature of axis asap a/c. fund your a/c to earn upto 7.10%* interest on balances above rs 10,000. withdraw anytime without penalty. t&c","pen,"
37284,"transfer funds to your axis asap account and earn upto 7.10%* p.a. interest on balances above rs 10,000. withdraw anytime without penalty. t&c apply.","pen,"
37290,"take advantage of autofd feature of axis asap a/c. fund your a/c to earn upto 7.10%* interest on balances above rs 10,000. withdraw anytime without penalty. t&c","pen,"
37305,"take advantage of autofd feature of axis asap a/c. fund your a/c to earn upto 7.10%* interest on balances above rs 10,000. withdraw anytime without penalty. t&c","pen,"
37306,"transfer funds to your axis asap account and earn upto 7.10%* p.a. interest on balances above rs 10,000. withdraw anytime without penalty. t&c apply.","pen,"
37312,"take advantage of autofd feature of axis asap a/c. fund your a/c to earn upto 7.10%* interest on balances above rs 10,000. withdraw anytime without penalty. t&c","pen,"
37336,"take advantage of autofd feature of axis asap a/c. fund your a/c to earn upto 7.10%* interest on balances above rs 10,000. withdraw anytime without penalty. t&c","pen,"
37343,"take advantage of autofd feature of axis asap a/c. fund your a/c to earn upto 7.10%* interest on balances above rs 10,000. withdraw anytime without penalty. t&c","pen,"
37344,"transfer funds to your axis asap account and earn upto 7.10%* p.a. interest on balances above rs 10,000. withdraw anytime without penalty. t&c apply.","pen,"
37345,"fund your a/c with more than rs 10,000 & get 1 year fd rate on the amount in excess of rs 10,000. also get a rs.150 amazon voucher on minimum deposit of rs. 5000. withdraw anytime without penalty. t&c","pen,"
37347,"fund your a/c with more than rs 10,000 & get 1 year fd rate on the amount in excess of rs 10,000. also get a rs.150 amazon voucher on minimum deposit of rs. 5000. withdraw anytime without penalty. t&c","pen,"
37351,"dear customer, ucobank is open on this saturday and sunday. you may deposit any amount in your account. withdrawal allowed upto rs 10000 per day with weekly limit of rs 20000. rs 500 and 1000 notes may be exchanged upto rs 4000 with id proof. to help customers bank has extended its business hours.","pen,"
37472,"transfer funds to your axis asap account and earn upto 7.10%* p.a. interest on balances above rs 10,000. withdraw anytime without penalty. t&c apply.","pen,"
37500,"take advantage of auto fd feature on your axis asap a/c. fund your a/c for more than rs 10,000 & get special 1 year fd rate (currently 6.75%) on the amount in excess of rs 10,000. t&c apply. withdraw any time without penalty.","pen,"
37502,"take advantage of auto fd feature on your axis asap a/c. fund your a/c for more than rs 10,000 & get special 1 year fd rate (currently 6.75%) on the amount in excess of rs 10,000. t&c apply. withdraw any time without penalty.","pen,"
37511,"take advantage of auto fd feature on your axis asap a/c. fund your a/c for more than rs 10,500 & get special 1 year fd rate (currently 6.75%) on the amount in excess of rs 10,500. t&c apply. withdraw any time without penalty.","pen,"
37568,"transfer funds to your axis asap account and earn upto 7.10%* p.a. interest on balances above rs 10,000. withdraw anytime without penalty. t&c apply.","pen,"
37596,"take advantage of auto fd feature on your axis asap a/c. fund your a/c for more than rs 10,000 & get special 1 year fd rate (currently 6.75%) on the amount in excess of rs 10,000. t&c apply. withdraw any time without penalty.","pen,"
37598,"take advantage of auto fd feature on your axis asap a/c. fund your a/c for more than rs 10,000 & get special 1 year fd rate (currently 6.75%) on the amount in excess of rs 10,000. t&c apply. withdraw any time without penalty.","pen,"
37607,"take advantage of auto fd feature on your axis asap a/c. fund your a/c for more than rs 10,500 & get special 1 year fd rate (currently 6.75%) on the amount in excess of rs 10,500. t&c apply. withdraw any time without penalty.","pen,"
37664,"transfer funds to your axis asap account and earn upto 7.10%* p.a. interest on balances above rs 10,000. withdraw anytime without penalty. t&c apply.","pen,"
37692,"take advantage of auto fd feature on your axis asap a/c. fund your a/c for more than rs 10,000 & get special 1 year fd rate (currently 6.75%) on the amount in excess of rs 10,000. t&c apply. withdraw any time without penalty.","pen,"
37694,"take advantage of auto fd feature on your axis asap a/c. fund your a/c for more than rs 10,000 & get special 1 year fd rate (currently 6.75%) on the amount in excess of rs 10,000. t&c apply. withdraw any time without penalty.","pen,"
37703,"take advantage of auto fd feature on your axis asap a/c. fund your a/c for more than rs 10,500 & get special 1 year fd rate (currently 6.75%) on the amount in excess of rs 10,500. t&c apply. withdraw any time without penalty.","pen,"
42025,"dear customer, request you to download and self activate mobile banking & upi app from play/app store to pay or collect money instantly and overcome the dependence of atm/ cash. canara bank","pen,"
46125,"please deposit rs. 500/1000 note at oriental bank of commerce branch upto 30.12.16. withdraw upto rs. 10,000 at branch or rs. 2,000 from atm. our branches are open this saturday and sunday. use alternate delivery channels for payments to save time.","pen,"
49747,"dear customer, all our branches are open this saturday (nov 12) and sunday (nov 13) to assist you in exchange, withdrawal or deposit of your cash. payment systems (rtgs, neft, cheque clearing, repo, cblo and call markets) shall also remain open on saturday (nov 12) and sunday (nov 13). our branch timings too have been extended by 2 hours for no...","pen,"

In [59]:
# Removing the pen city from my list
my_list.remove('pen')

In [60]:
[i for i in my_list if i =='pen']

[]

In [61]:
# Checking the my_city list for wai city
[ i for i in my_list if i == 'wai']

['wai']

In [62]:
# Checking user in database for wai city
pd.read_sql_query("""select * from v3_user_address_data where city ='wai'""", conn)

,id,address_type,building,locality,city,state,affluency_metric,comments,created_at,updated_at,user_id,row_status,pin,lat,lng,source,landmark,performed_by,extra_details
0,1687684,Home with family,441 gopal krushn aparment,ganpati ali,wai,None,1.0,None,2019-04-18 08:40:09.648814,2019-04-18 08:41:37.593911,589646,inactive,412803.0,None,None,None,None,NaN,{}
1,464224,permanent address,629,shankar parvati apt. ganpati ali,wai,412803,NaN,student id,2018-09-23 10:51:58.301259,2019-01-09 11:45:11.620284,212666,inactive,NaN,None,None,kyc,None,NaN,{}
2,1687686,Home with family,441 gopal krushn aparment,ganpati ali,wai,None,1.0,None,2019-04-18 08:40:27.630660,2019-04-18 08:41:37.593911,589646,inactive,412803.0,None,None,None,None,NaN,{}
3,1244234,Home with family,"Ghari no 659 Dange colony, Yashwantnagar",wai,wai,None,1.0,None,2019-02-25 16:48:21.118107,2019-02-25 16:49:06.802118,452408,inactive,412803.0,None,None,None,None,NaN,{}
4,1687675,Home with family,441 gopal krushn aparment,ganpati ali,wai,None,1.0,None,2019-04-18 08:38:46.799068,2019-04-18 08:41:37.593911,589646,inactive,412803.0,None,None,None,None,NaN,{}
5,1893736,Home with family,"226, Mahatma phulenagar wai",wai,wai,None,1.0,None,2019-05-14 12:12:18.114334,2019-05-14 12:12:43.845648,651555,inactive,412803.0,None,None,None,None,NaN,{}
6,1893733,Home with family,"226, Mahatma phulenagar wai",wai,wai,None,1.0,None,2019-05-14 12:11:58.115175,2019-05-14 12:12:43.845648,651555,inactive,412803.0,None,None,None,None,NaN,{}
7,1893741,Home with family,"226, Mahatma phulenagar wai",wai,wai,MAHARASHTRA,1.0,None,2019-05-14 12:12:43.845648,2019-11-07 16:57:45.364981,651555,active,412803.0,None,None,None,None,147779.0,{}
8,221622,Home with family,kalubai tample near,M.S.E.B. coloni,wai,MAHARASHTRA,1.0,None,2018-05-19 23:34:05.897767,2019-11-07 16:57:45.364981,132641,active,412803.0,None,None,None,None,147779.0,{}
9,1244242,Home with family,"Ghari no 659 Dange colony, Yashwantnagar",wai,wai,MAHARASHTRA,1.0,None,2019-02-25 16:49:06.802118,2019-11-07 16:57:45.364981,452408,active,412803.0,None,None,None,None,147779.0,{}

In [63]:
# Checking the body of message where withdrawl_city is wai
df_2[df_2['Withdrawl_City']=='wai,']

,body,Withdrawl_City
2189,"your rs100 cashbk is waiting! just swipe ur boi debit mastercard for 5 times for rs750 or more for cashbk.pay for grocery, fuel, bills, dining using atm pin.t&c","wai,"
3155,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
3186,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
3221,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
3254,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
3295,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
3328,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
3361,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
3394,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
3427,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
3460,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
3493,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
3526,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
3562,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
3590,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
3625,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
3651,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
3683,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
3699,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
3719,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
3750,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
3785,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
3818,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
3859,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
3892,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
3925,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
3958,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
3991,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
4024,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
4057,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
...,...,...
10286,"for your convenience, we have waived off all atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can deposit any amount into your a/c without limits","wai,"
10323,"for your convenience, we have waived off all atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can deposit any amount into your a/c without limits","wai,"
10360,"for your convenience, we have waived off all atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can deposit any amount into your a/c without limits","wai,"
11285,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers up to 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
15925,"dear customer, no need to wait in atm queues - use digibank to transfer funds, recharge and pay bills on the go! you can also use your debit card to shop, dine or pay at retail stores as per your existing transaction limits.","wai,"
29950,"for your convenience, we have waived off atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
39157,"for your convenience, we have waived off all atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can deposit any amount into your a/c without limits","wai,"
39158,"for your convenience, we have waived off atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
39178,"for your convenience, we have waived off all atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can deposit any amount into your a/c without limits","wai,"
39179,"for your convenience, we have waived off atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
39199,"for your convenience, we have waived off all atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can deposit any amount into your a/c without limits","wai,"
39200,"for your convenience, we have waived off atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
39220,"for your convenience, we have waived off all atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can deposit any amount into your a/c without limits","wai,"
39221,"for your convenience, we have waived off atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
39241,"for your convenience, we have waived off all atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can deposit any amount into your a/c without limits","wai,"
39242,"for your convenience, we have waived off atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
39262,"for your convenience, we have waived off all atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can deposit any amount into your a/c without limits","wai,"
39263,"for your convenience, we have waived off atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
39283,"for your convenience, we have waived off all atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can deposit any amount into your a/c without limits","wai,"
39284,"for your convenience, we have waived off atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
39304,"for your convenience, we have waived off all atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can deposit any amount into your a/c without limits","wai,"
39305,"for your convenience, we have waived off atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
39325,"for your convenience, we have waived off all atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can deposit any amount into your a/c without limits","wai,"
39326,"for your convenience, we have waived off atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
39346,"for your convenience, we have waived off all atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can deposit any amount into your a/c without limits","wai,"
39347,"for your convenience, we have waived off atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
42027,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers up to 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
42028,"dear customer, no need to wait in atm queues - use digibank to transfer funds, recharge and pay bills on the go! you can also use your debit card to shop, dine or pay at retail stores as per your existing transaction limits.","wai,"
42031,"for your convenience, we have waived off axis atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can also deposit any amount into your account without limits","wai,"
42036,"for your convenience, we have waived off all atm & branch cash transaction charges for our savings account customers upto 30th dec 2016. you can deposit any amount into your a/c without limits","wai,"

In [64]:
# Wai city has returned in withdrawl_city column because of waived off word
# Removing wai city from my_list
my_list.remove('wai')

In [65]:
[i for i in my_list if i=='wai']

[]

In [66]:
# Checking the my_list for mandi city
[i for i in my_list if i =='mandi']

['mandi']

In [67]:
# Checking user in database from mandi city
pd.read_sql_query("""select * from v3_user_address_data where city ='mandi'""", conn)

,id,address_type,building,locality,city,state,affluency_metric,comments,created_at,updated_at,user_id,row_status,pin,lat,lng,source,landmark,performed_by,extra_details
0,20104,Home,156555555555555,jhulgan,mandi,,1.0,,2017-07-02 16:37:14.911113,2017-07-02 16:45:47.524454,64463,inactive,NaN,None,None,None,None,NaN,{}
1,165968,permanent address,242,"tehsil-sarkaghat,roso,sadhot",mandi,himachal,NaN,aadhar,2018-04-13 13:12:04.705259,2018-04-13 13:12:04.705259,110443,active,175024.0,None,None,kyc,None,NaN,{}
2,339400,permanent address,80/8,"darmiyana mohalla,po-mandi",mandi,himachal pradesh,NaN,aadhar,2018-08-09 19:02:07.679244,2018-08-09 19:02:07.679244,170364,active,175001.0,None,None,kyc,None,NaN,{}
3,156162,Home with family,chajjwali,village chajjwali post office dasehra,mandi,None,1.0,None,2018-04-05 14:46:56.765718,2018-04-05 14:47:20.002176,108760,inactive,175036.0,None,None,None,None,NaN,{}
4,213628,permanent address,336,kothi,mandi,himachal pradesh,NaN,aadhar,2018-05-14 15:40:50.525169,2018-05-14 15:40:50.525169,129414,active,175037.0,None,None,kyc,cholthra mandi,NaN,{}
5,154783,Home with family,34/1/12,gun factory,mandi,None,1.0,None,2018-04-04 13:59:48.013207,2018-04-04 14:02:17.502218,108306,inactive,175001.0,None,None,None,None,NaN,{}
6,154786,Home with family,34/1/12,gun factory,mandi,None,1.0,None,2018-04-04 14:01:38.754863,2018-04-04 14:02:17.502218,108306,inactive,175001.0,None,None,None,None,NaN,{}
7,338168,permanent address,323,"tehsil sarkaghat padasla,brang mandi",mandi,himachal pradesh,NaN,student id,2018-08-09 09:36:59.435356,2018-08-09 09:43:33.748014,172416,inactive,175024.0,None,None,kyc,None,NaN,{}
8,338174,permanent address,323,"tehsil sarkaghat,padasla",mandi,himachal pradesh,NaN,aadhar,2018-08-09 09:43:33.748014,2018-08-09 09:43:33.748014,172416,active,175024.0,None,None,kyc,None,NaN,{}
9,195492,permanent address,naw(525),aut,mandi,himachal pradesh,NaN,aadhar,2018-05-03 17:19:45.420410,2018-05-03 17:19:45.420410,107122,active,175121.0,None,None,kyc,None,NaN,{}
10,165169,permanent address,242,"tehsil-sarkaghat,roso,sadhot",mandi,himachal,NaN,aadhar,2018-04-12 18:50:30.655174,2018-04-13 13:12:04.705259,110443,inactive,175024.0,None,None,kyc,None,NaN,{}
11,3938659,Home with family,House no 210.,harabag,mandi,himachal pardesh,1.0,None,2019-11-10 21:24:16.613371,2019-11-10 21:24:42.700674,1363270,inactive,176120.0,None,None,None,None,1363270.0,{}
12,223545,permanent address,p-3-59,jaral colony pandoh(325),mandi,himachal pradesh,NaN,aadhar,2018-05-21 13:13:31.028776,2018-11-25 21:39:39.875914,126499,inactive,175124.0,None,None,kyc,None,NaN,{}
13,223556,permanent address,p-359,"jaral colony,pandoh(325",mandi,None,NaN,student id,2018-05-21 13:16:56.850655,2018-11-25 21:39:39.875914,126499,inactive,NaN,None,None,kyc,None,NaN,{}
14,695171,permanent address,112,"khamaro, post office jassal tehsil karsog, kalanagar, jassal",mandi,himachal pradesh,NaN,student id,2018-11-16 03:40:54.149568,2018-11-16 03:40:54.149568,288696,active,NaN,None,None,kyc,None,NaN,{}
15,1638725,Home with family,464Bharad,Thunag,mandi,None,1.0,None,2019-04-12 00:37:04.792223,2019-04-12 00:43:53.487139,574632,inactive,175048.0,None,None,None,None,NaN,{}
16,695170,permanent address,112,"khamaro, post office jassal tehsil karsog, kalanagar, jassal",mandi,himachal pradesh,NaN,student id,2018-11-16 03:37:32.934799,2018-11-16 03:40:54.149568,288696,inactive,NaN,None,None,kyc,None,NaN,{}
17,277423,permanent address,11 mandi,"sadar,behi",mandi,himachal pradesh,NaN,aadhar,2018-06-30 14:51:39.789477,2018-06-30 14:51:39.789477,149734,active,175008.0,None,None,kyc,behal,NaN,{}
18,354518,permanent address,201,mandi,mandi,himachal pradesh,NaN,aadhar,2018-08-16 02:49:18.874368,2018-08-16 02:49:18.874368,176190,active,175046.0,None,None,kyc,pangna,NaN,{}
19,3938745,Home with family,House no 210.,joginder nagar,mandi,himachal pardesh,1.0,None,2019-11-10 21:28:47.197197,2019-11-10 21:28:47.197197,1363270,active,176120.0,None,None,None,None,1363270.0,{}
20,301404,permanent address,h.no. 109,"ootpur, ladbharol",mandi,himachal pradesh,NaN,aadhar,2018-07-19 12:43:19.320303,2018-07-19 12:43:19.320303,159530,active,176126.0,None,None,kyc,None,NaN,{}
21,344203,permanent address,h.no 88,"l.no 10 janipur, lakkad",mandi,jammu,NaN,student id,2018-08-11 16:55:13.363772,2018-08-11 17:00:33.514429,174772,inactive,NaN,None,None,kyc,None,NaN,{}
22,370847,Home with family,lohara,nerchowk,mandi,None,1.0,None,2018-08-22 16:05:51.191542,2018-08-22 16:06:03.157055,184178,inactive,175027.0,None,None,None,None,NaN,{}
23,349381,permanent address,201,mandi,mandi,himachal,NaN,aadhar,2018-08-13 21:03:24.874432,2018-08-16 02:49:18.874368,176190,inactive,175046.0,None,None,kyc,pangna,NaN,{}
24,370844,Home with family,lohara,nerchowk,mandi,None,1.0,None,2018-08-22 16:05:17.597404,2018-08-22 16:06:03.157055,184178,inactive,175027.0,None,None,None,None,NaN,{}
25,448271,permanent address,house no-27,kuthar (338),mandi,himachal pradesh,NaN,aadhar,2018-09-18 17:57:38.361142,2018-09-18 17:57:38.361142,201847,active,175001.0,None,None,kyc,None,NaN,{}
26,1779853,permanent address,tehsil sarkaghat,"lunadha 446 , fatehpur",mandi,himachal pradesh,NaN,aadhar,2019-04-29 09:50:19.510702,2019-04-29 09:50:19.510702,508676,active,175024.0,None,None,kyc,None,NaN,{}
27,448262,permanent address,house no-27,kuthar (338),mandi,himachal pradesh,NaN,aadhar,2018-09-18 17:54:58.934325,2018-09-18 17:57:38.361142,201847,inactive,175001.0,None,None,kyc,None,NaN,{}
28,378036,Home with family,chail chowk teh chachyot distt mandi hp,gsss chail chowk,mandi,himachal PRADESH-MANDI,1.0,show,2018-08-25 11:14:20.484595,2018-08-25 11:14:20.484595,184043,active,175028.0,None,None,user,None,NaN,{}
29,3965028,Rented with friends,south winds - 44,law gate,mandi,Himachal Pradesh,1.0,None,2019-11-12 02:04:13.484016,2019-11-12 02:04:34.785524,1370586,inactive,176126.0,None,None,None,None,1370586.0,{}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,2990134,permanent address,"tehsil joginder nagar, ropari kalehru","tehsil joginder nagar, ropari kalehru",mandi,himachal pradesh,NaN,aadhar,2019-08-26 22:24:32.410715,2019-11-07 17:25:12.921522,984781,active,175032.0,None,None,kyc,None,147779.0,{}
246,2386566,Home with family,vpo tilli,mandi,mandi,HIMACHAL PRADESH,1.0,None,2019-07-11 20:34:08.422623,2019-11-07 16:57:45.364981,767443,active,175001.0,None,None,None,None,147779.0,{}
247,2287883,Home with family,house no 164,jogindernagar,mandi,HIMACHAL PRADESH,1.0,None,2019-07-02 20:28:39.259624,2019-11-07 16:57:45.364981,747238,active,175032.0,None,None,None,None,147779.0,{}
248,1900153,Home with family,vpo upper bhambl,bhambla,mandi,HIMACHAL PRADESH,1.0,None,2019-05-15 09:52:11.638382,2019-11-07 16:57:45.364981,384031,active,175004.0,None,None,None,None,147779.0,{}
249,1443675,Hostel/PG,chanderbhawan,chanderbhawan chatravash,mandi,HIMACHAL PRADESH,1.0,None,2019-03-20 16:16:59.979803,2019-11-07 16:57:45.364981,518121,active,175018.0,None,None,None,None,147779.0,{}
250,2419067,Home with family,village. dinak house no A718,sunder nagar,mandi,PUNJAB,1.0,None,2019-07-14 11:37:30.863569,2019-11-07 16:57:45.364981,779064,active,140301.0,None,None,None,None,147779.0,{}
251,1712604,Hostel/PG,garuv pg 11,nerchowk,mandi,HIMACHAL PRADESH,1.0,None,2019-04-21 07:22:47.026930,2019-11-07 16:57:45.364981,597196,active,175008.0,None,None,None,None,147779.0,{}
252,744439,permanent address,p-359,"jaral colony,pandoh(325",mandi,HIMACHAL PRADESH,1.0,None,2018-11-25 21:39:39.875914,2019-11-07 16:57:45.364981,126499,active,175124.0,None,None,None,None,147779.0,{}
253,765391,permanent address,11/5,"kunalag near bridge , sarkaghat",mandi,himachal pradesh,NaN,aadhar,2018-11-29 19:09:28.165239,2019-11-07 17:25:12.921522,287657,active,175024.0,None,None,kyc,None,147779.0,{}
254,743427,permanent address,199/7,upper samkhetar mohalla,mandi,himachal pradesh,NaN,aadhar,2018-11-25 17:51:59.984482,2019-11-07 17:25:12.921522,304002,active,175001.0,None,None,kyc,None,147779.0,{}
255,2645355,Home with family,vill dadour p.o. Dhaban teh balh Distt m,sundernagar,mandi,HIMACHAL PRADESH,1.0,None,2019-07-31 19:39:01.327953,2019-11-07 16:57:45.364981,845733,active,175027.0,None,None,None,None,147779.0,{}
256,2704426,Home with family,H. O 735 HARIPUR TEL. SUNDERNAGAR P. O S,sundernagar,mandi,HIMACHAL PRADESH,1.0,None,2019-08-06 18:13:32.246583,2019-11-07 16:57:45.364981,874618,active,175018.0,None,None,None,None,147779.0,{}
257,1153160,Home with family,12345,Dharampur,mandi,HIMACHAL PRADESH,1.0,None,2019-02-11 21:39:00.508581,2019-11-07 16:57:45.364981,334986,active,175040.0,None,None,None,None,147779.0,{}
258,1553029,Home with family,mandi,samdhole,mandi,HIMACHAL PRADESH,1.0,None,2019-04-02 00:07:53.588766,2019-11-07 16:57:45.364981,549899,active,176090.0,None,None,None,None,147779.0,{}
259,1910810,Home with family,"vill.chakkar,p.o gutkar",near patanjali kendra,mandi,HIMACHAL PRADESH,1.0,None,2019-05-16 16:46:37.094212,2019-11-07 16:57:45.364981,656542,active,175001.0,None,None,None,None,147779.0,{}
260,1638735,Home with family,464Bharad,Thunag,mandi,HIMACHAL PRADESH,1.0,None,2019-04-12 00:43:53.487139,2019-11-07 16:57:45.364981,574632,active,175048.0,None,None,None,None,147779.0,{}
261,2435760,Home with family,Samketer bjar mandi near by town hall Ma,mandi,mandi,HIMACHAL PRADESH,1.0,None,2019-07-15 17:09:26.558188,2019-11-07 16:57:45.364981,785488,active,175023.0,None,None,None,None,147779.0,{}
262,1275083,permanent address,gowaila(8),tehsil sandhole,mandi,himachal pradesh,NaN,aadhar,2019-03-01 17:13:51.105813,2019-11-07 17:25:12.921522,402925,active,176090.0,None,None,kyc,None,147779.0,{}
263,2306050,Home with family,Dhaban 237,"Dhaban, Balh",mandi,HIMACHAL PRADESH,1.0,None,2019-07-04 20:55:51.970399,2019-11-07 16:57:45.364981,360813,active,175027.0,None,None,None,None,147779.0,{}
264,608913,permanent address,m no 136 ward no 15,shankar nagar colony mandi shujalpur,mandi,MADHYA PRADESH,1.0,None,2018-10-25 11:36:09.982670,2019-11-07 16:57:45.364981,152084,active,465333.0,None,None,None,None,147779.0,{}
265,156164,Home with family,chajjwali,village chajjwali post office dasehra,mandi,HIMACHAL PRADESH,1.0,None,2018-04-05 14:47:20.002176,2019-11-07 16:57:45.364981,108760,active,175036.0,None,None,None,None,147779.0,{}
266,209341,permanent address,488p,"tehsil-sarkaghat,khudia",mandi,himachal pradesh,NaN,student id,2018-05-11 16:02:50.193242,2019-11-07 17:25:12.921522,127671,active,175033.0,None,None,kyc,None,147779.0,{}
267,2136382,Home with family,kothi 336,Kharar,mandi,HIMACHAL PRADESH,1.0,None,2019-06-16 18:05:10.403374,2019-11-07 16:57:45.364981,716351,active,175037.0,None,None,None,None,147779.0,{}
268,154790,Home with family,34/1/12,gun factory,mandi,HIMACHAL PRADESH,1.0,None,2018-04-04 14:02:17.502218,2019-11-07 16:57:45.364981,108306,active,175001.0,None,None,None,None,147779.0,{}
269,1928967,Home with family,HMO.70/2,thatibir,mandi,HIMACHAL PRADESH,1.0,None,2019-05-19 09:01:23.948038,2019-11-07 16:57:45.364981,661764,active,175106.0,None,None,None,None,147779.0,{}
270,3051645,permanent address,vill banthal,tehsil karsog,mandi,h.p,NaN,student id,2019-08-30 14:28:16.734319,2019-11-07 17:25:12.921522,670660,active,NaN,None,None,kyc,None,147779.0,{}
271,1033156,permanent address,11/5,"kunalag near bridge , sarkaghat",mandi,HIMACHAL PRADESH,1.0,None,2019-01-22 18:27:18.516035,2019-11-07 16:57:45.364981,287657,active,175024.0,None,None,None,None,147779.0,{}
272,1517287,Hostel/PG,post office chambi neri,sundernagar,mandi,PUNJAB,1.0,None,2019-03-28 20:12:48.006028,2019-11-07 16:57:45.364981,539644,active,140301.0,None,None,None,None,147779.0,{}
273,2379587,Home with family,H.NO 103.6 LOWER SAMKHTER,himchal perdesh,mandi,HIMACHAL PRADESH,1.0,None,2019-07-11 12:12:35.696343,2019-11-07 16:57:45.364981,613324,active,175001.0,None,None,None,None,147779.0,{}
274,2852373,permanent address,brij kunj 16,"lower bijni mandi, post office mandi tehsil sadar, bijni",mandi,himachal pradesh,NaN,aadhar,2019-08-18 16:01:33.657600,2019-11-07 17:25:12.921522,929067,active,175001.0,None,None,kyc,None,147779.0,{}

In [68]:
# checking the sms body where withdrawl city is mandi
df_2[df_2['Withdrawl_City']=='mandi,']

,body,Withdrawl_City
276,rs.10000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-08-04:19:58:02 at bharatbawan subjimandi. avl bal: rs.24001.00,"mandi,"
286,rs.10000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-11-10:11:15:36 at bharatbawan subjimandi. avl bal: rs.27225.55,"mandi,"
287,rs.10000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-11-10:11:17:36 at bharatbawan subjimandi. avl bal: rs.17225.55,"mandi,"
303,rs.10000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-08-04:19:56:51 at bharatbawan subjimandi. avl bal: rs.34001.00,"mandi,"
304,rs.10000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-08-04:19:58:02 at bharatbawan subjimandi. avl bal: rs.24001.00,"mandi,"
314,rs.10000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-11-10:11:15:36 at bharatbawan subjimandi. avl bal: rs.27225.55,"mandi,"
315,rs.10000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-11-10:11:17:36 at bharatbawan subjimandi. avl bal: rs.17225.55,"mandi,"
330,rs.10000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-08-04:19:56:51 at bharatbawan subjimandi. avl bal: rs.34001.00,"mandi,"
548,rs.10000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-08-04:19:58:02 at bharatbawan subjimandi. avl bal: rs.24001.00,"mandi,"
558,rs.10000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-11-10:11:15:36 at bharatbawan subjimandi. avl bal: rs.27225.55,"mandi,"
559,rs.10000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-11-10:11:17:36 at bharatbawan subjimandi. avl bal: rs.17225.55,"mandi,"
575,rs.10000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-08-04:19:56:51 at bharatbawan subjimandi. avl bal: rs.34001.00,"mandi,"
576,rs.10000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-08-04:19:58:02 at bharatbawan subjimandi. avl bal: rs.24001.00,"mandi,"
586,rs.10000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-11-10:11:15:36 at bharatbawan subjimandi. avl bal: rs.27225.55,"mandi,"
587,rs.10000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-11-10:11:17:36 at bharatbawan subjimandi. avl bal: rs.17225.55,"mandi,"
602,rs.10000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-08-04:19:56:51 at bharatbawan subjimandi. avl bal: rs.34001.00,"mandi,"
26108,rs.300.00 was withdrawn using your hdfc bank card ending 1853 on 2016-09-29:08:10:28 at +shiv mandir marg manda. avl bal: rs.1000.72,"mandi,"
26110,rs.500.00 was withdrawn using your hdfc bank card ending 1853 on 2016-09-17:15:59:11 at +shiv mandir marg manda. avl bal: rs.3018.72,"mandi,"
28713,"rs 2500 withdrawn at sbi atm s1n2000607004 dal mandi ambala , ambala from a/c xxxx 9881 on 220417.txn#9995 .avl bal rs 4671.1.","mandi,"
28737,"rs 2500 withdrawn at sbi atm s1n2000607004 dal mandi ambala , ambala from a/c xxxx 9881 on 220417.txn#9995 .avl bal rs 4671.1.","mandi,"
30628,rs.2000.00 was withdrawn using your hdfc bank card ending 2302 on 2016-12-23:15:30:22 at +hanuman mandir 2nd. avl bal: rs.89.78,"mandi,"
33458,rs.200.00 was withdrawn using your hdfc bank card ending 5464 on 2018-10-20:21:36:42 at jain mandir near railwa. avl bal: rs.630.00,"mandi,"
33529,alert:you've withdrawn rs.500.00 via debit card xx2880 at near sabji mandi naray on 2019-03-23:20:53:08.avl bal rs.13983.20.not you?call 18002586161.,"mandi,"
33530,alert:you've withdrawn rs.500.00 via debit card xx2880 at near sabji mandi naray on 2019-03-26:20:59:50.avl bal rs.13459.60.not you?call 18002586161.,"mandi,"
33543,alert:you've withdrawn rs.500.00 via debit card xx2880 at near sabji mandi naray on 2019-04-22:20:19:47.avl bal rs.15817.40.not you?call 18002586161.,"mandi,"
33545,alert:you've withdrawn rs.500.00 via debit card xx2880 at near sabji mandi naray on 2019-05-04:20:58:26.avl bal rs.12361.80.not you?call 18002586161.,"mandi,"
33647,rs.200.00 was withdrawn using your hdfc bank card ending 5464 on 2018-10-20:21:36:42 at jain mandir near railwa. avl bal: rs.630.00,"mandi,"
33718,alert:you've withdrawn rs.500.00 via debit card xx2880 at near sabji mandi naray on 2019-03-23:20:53:08.avl bal rs.13983.20.not you?call 18002586161.,"mandi,"
33719,alert:you've withdrawn rs.500.00 via debit card xx2880 at near sabji mandi naray on 2019-03-26:20:59:50.avl bal rs.13459.60.not you?call 18002586161.,"mandi,"
33732,alert:you've withdrawn rs.500.00 via debit card xx2880 at near sabji mandi naray on 2019-04-22:20:19:47.avl bal rs.15817.40.not you?call 18002586161.,"mandi,"
33734,alert:you've withdrawn rs.500.00 via debit card xx2880 at near sabji mandi naray on 2019-05-04:20:58:26.avl bal rs.12361.80.not you?call 18002586161.,"mandi,"
35147,"rs 1500 w/d at sbi atm s1bb003422086 mandi bazar waranga,hanamkonda fm a/cx3785on08/07/18.txn#990.avl bal rs28781.56.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mandi,"

In [69]:
# Mandi has returned from the word sabji mandi
my_list.remove('mandi')

In [70]:
[i for i in my_list if i =='mandi']

[]

In [71]:
# Adding ambala in my_list
my_list.append('ambala')

In [72]:
[i for i in my_list if i == 'ambala']

['ambala']

In [73]:
df['Withdrawl_City'].value_counts()

                           42512
rau,                        1994
una,                        1076
delhi,                       936
noida,                       559
allahabad,ron,               414
nagar,                       224
mul,                         156
pen,                         156
wai,                         123
delhi,nagar,                 123
gurgaon,                     121
allahabad,                    87
faridabad,                    74
gurgaon,rau,                  74
meerut,noida,                 66
bangalore,                    61
ron,                          52
puri,                         49
indore,mahe,                  48
rewa,                         43
jaipur,                       41
meerut,                       38
mandi,                        32
agra,una,                     32
thane,                        31
pen,lar,                      30
agra,nagar,                   28
udaipur,                      28
aligarh,                      26
                           ...
gwalior,puri,                  2
panipat,                       2
nagaon,marigaon,               2
gwalior,                       2
indore,pen,                    2
mandawa,                       1
korba,nirmal,                  1
delhi,sultanpur,               1
renukoot,                      1
nadiad,                        1
chennai,vita,                  1
morena,ron,                    1
mundi,                         1
pilani,                        1
panaji,                        1
pune,nagar,                    1
yavatmal,ron,                  1
delhi,pali,                    1
delhi,durg,bahadurgarh,        1
patna,muzaffarpur,             1
moga,pen,                      1
jamshedpur,                    1
mathura,                       1
mumbai,delhi,                  1
nainital,                      1
kanpur,nagar,                  1
pasan,                         1
robertsganj,                   1
pen,ron,                       1
samastipur,                    1
Name: Withdrawl_City, Length: 162, dtype: int64

In [74]:
# Searching for mahe city in my_list
[i for i in my_list if i =='mahe']

['mahe']

In [75]:
# Checking for customer from mahe city in database
pd.read_sql_query("""select * from v3_user_address_data where city ='mahe'""", conn)

Empty DataFrame
Columns: [id, address_type, building, locality, city, state, affluency_metric, comments, created_at, updated_at, user_id, row_status, pin, lat, lng, source, landmark, performed_by, extra_details]
Index: []

In [76]:
# Checking the sms body where withdrawl_city is 'mahe'
df_2[df_2['Withdrawl_City']== 'mahe,']

,body,Withdrawl_City
33446,rs.200.00 was withdrawn using your hdfc bank card ending 5464 on 2018-09-08:13:46:26 at +sbi mahesh bagh colon. avl bal: rs.4851.00,"mahe,"
33468,rs.200.00 was withdrawn using your hdfc bank card ending 5464 on 2018-11-17:12:11:13 at +sbi mahesh bagh colon. avl bal: rs.1776.91,"mahe,"
33475,alert:you've withdrawn rs.200.00 via debit card xx5464 at +sbi mahesh bagh colon on 2018-12-05:13:04:32.avl bal rs.8388.75.not you?call 18002586161.,"mahe,"
33495,alert:you've withdrawn rs.400.00 via debit card xx5464 at +sbi mahesh bagh colon on 2019-02-08:11:34:17.avl bal rs.1580.80.not you?call 18002586161.,"mahe,"
33635,rs.200.00 was withdrawn using your hdfc bank card ending 5464 on 2018-09-08:13:46:26 at +sbi mahesh bagh colon. avl bal: rs.4851.00,"mahe,"
33657,rs.200.00 was withdrawn using your hdfc bank card ending 5464 on 2018-11-17:12:11:13 at +sbi mahesh bagh colon. avl bal: rs.1776.91,"mahe,"
33664,alert:you've withdrawn rs.200.00 via debit card xx5464 at +sbi mahesh bagh colon on 2018-12-05:13:04:32.avl bal rs.8388.75.not you?call 18002586161.,"mahe,"
33684,alert:you've withdrawn rs.400.00 via debit card xx5464 at +sbi mahesh bagh colon on 2019-02-08:11:34:17.avl bal rs.1580.80.not you?call 18002586161.,"mahe,"

In [77]:
# Removing mahe city from my_list
my_list.remove('mahe')

In [78]:
[i for i in my_list if i == 'mahe']

[]

In [79]:
# Dropping the Withdrawl_City column from df
df.drop(['Withdrawl_City'], axis = 1)

,user_id,address_type,building,locality,city,state,row_status,source,body
0,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"cash withdrawal of rs1,500.00 made on kotak debit card x7239 on 24-09-2019 at maharana pratap.avl bal is rs 2,623.58.not you?visit kotak.com/fraud"
1,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx7309 on 29-01-2019 11:53:06 at ghitorni dmrc.combined balance in a/c xx7187 is rs 5277.71.
2,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx7309 on 06-02-2019 21:48:35 at icici bank.combined balance in a/c xx7187 is rs 13025.11.
3,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"you have successfully registered for upi payment on google pay. if not you, please report immediately to your bank. do not share your card details/otp/atm pin with anyone."
4,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"you have successfully registered for upi payment on google pay. if not you, please report immediately to your bank. do not share your card details/otp/atm pin with anyone."
5,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"you have successfully registered for upi payment on google pay. if not you, please report immediately to your bank. do not share your card details/otp/atm pin with anyone."
6,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"cash withdrawal of rs.1,000.00 made on kotak debit card xx7309 on 07-03-2019 22:26:29 at icici bank.combined balance in a/c xx7187 is rs 11,109.22. to report fraud or raise dispute, click kotak.com/fraud"
7,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"cash withdrawal of rs.5,000.00 made on kotak debit card xx7309 on 08-03-2019 17:38:10 at icici bank.combined balance in a/c xx7187 is rs 5,893.35. to report fraud or raise dispute, click kotak.com/fraud"
8,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000091626a/c no **8275 debited with rs 592-- by atm pos/11113565/19:43:36/607265 (clr bal 6303.88cr)(09-05-2019 19:41:26)
9,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000334513a/c no **8275 debited with rs 73-- by atm pos/89050623/11:09:09/846095 (clr bal 6230.88cr)(10-05-2019 11:06:57)
10,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000471557a/c no **8275 debited with rs 130.3-- by atm pos/ubyzaakp/12:11:43/954358 (clr bal 6100.58cr)(10-05-2019 12:09:31)
11,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000310083a/c no **8275 debited with rs 129-- by atm pos/ubyzaakp/10:56:35/485190 (clr bal 5971.58cr)(11-05-2019 10:54:25)
12,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000441936a/c no **8275 debited with rs 88-- by atm pos/utis2i21/16:31:47/967191 (clr bal 5883.58cr)(11-05-2019 16:29:36)
13,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000786797a/c no **8275 debited with rs 148-- by atm pos/89050623/18:42:58/195534 (clr bal 5735.58cr)(12-05-2019 18:40:44)
14,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000860841a/c no **8275 debited with rs 142-- by atm pos/89050623/23:23:48/331523 (clr bal 5593.58cr)(12-05-2019 23:21:33)
15,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000586234a/c no **8275 debited with rs 119-- by atm pos/89050623/17:43:15/442606 (clr bal 5474.58cr)(15-05-2019 17:40:49)
16,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000114521a/c no **8275 debited with rs 251-- by atm pos/41219124/20:55:03/882802 (clr bal 3371.58cr)(20-05-2019 20:52:20)
17,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000273769a/c no **8275 debited with rs 138-- by atm pos/89050623/12:04:32/5988 (clr bal 3233.58cr)(22-05-2019 12:01:42)
18,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000841483a/c no **8275 debited with rs 129-- by atm pos/ubyzaakp/20:41:45/68899 (clr bal 3104.58cr)(22-05-2019 20:38:54)
19,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000142482a/c no **8275 debited with rs 72.46-- by atm pos/88075696/13:11:08/158824 (clr bal 3032.12cr)(23-05-2019 13:08:15)
20,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000165337a/c no **8275 debited with rs 155.4-- by atm pos/88075696/13:28:26/160865 (clr bal 2876.72cr)(23-05-2019 13:25:33)
21,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000326855a/c no **8275 debited with rs 149-- by atm pos/78003697/19:14:44/480431 (clr bal 2727.72cr)(24-05-2019 19:11:46)
22,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"dear customer, you recently completed a transaction at a kotak bank atm. help us improve your experience by providing feedback at http://ltms.io/hyeux5mpag?n."
23,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"dear customer, you recently completed a transaction at a kotak bank atm. help us improve your experience by providing feedback at http://ltms.io/r1qmxa_cam?n."
24,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx9265 on 22-05-2018 08:50:55 at cpaw02214.combined balance in a/c xx4079 is rs 9411.12.
25,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx9265 on 26-05-2018 18:13:44 at 7014.combined balance in a/c xx4079 is rs 8914.1.
26,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx9265 on 09-06-2018 22:03:25 at 504492.combined balance in a/c xx4079 is rs 32101.71.
27,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx9265 on 15-06-2018 21:18:36 at 1fnndl51.combined balance in a/c xx4079 is rs 10223.9.
28,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.2000 made on kotak debit card xx9265 on 24-06-2018 19:05:21 at 1fnndl51.combined balance in a/c xx4079 is rs 9718.45.
29,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.1000 made on kotak debit card xx9265 on 28-06-2018 09:32:09 at d blok vasant vihar.combined balance in a/c xx4079 is rs 7988.6.
...,...,...,...,...,...,...,...,...,...
49970,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 500 withdrawn from a/c xxxx 0746 on 050617 at inb atm s1aj0292.txn# 715623004827 .avl bal rs 2700.85.
49971,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49972,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49973,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 500 withdrawn from a/c xxxx 0746 on 090617 at inb atm s1aj0292.txn# 716022005433 .avl bal rs 2003.25.
49974,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 1000 withdrawn from a/c xxxx 0746 on 150617 at hdf atm p1tnde05.txn# 5999 .avl bal rs 5484.75.
49975,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49976,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 500 withdrawn from a/c xxxx 0746 on 240617 at inb atm s1aj0292.txn# 717511027691 .avl bal rs 4963.4.
49977,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49978,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49979,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 500 withdrawn from a/c xxxx 0746 on 010717 at inb atm s1aj0292.txn# 718210006065 .avl bal rs 3574.04.
49980,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49981,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 1000 withdrawn from a/c xxxx 0746 on 010717 at inb atm s1aj0292.txn# 718210006367 .avl bal rs 2574.04.
49982,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 1000 withdrawn from a/c xxxx 0746 on 010717 at atm s1n2000726150.txn# 4059 .avl bal rs 3074.04.
49983,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49984,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 2000 withdrawn from a/c xxxx 0746 on 050717 at inb atm s1aj0291.txn# 718610030950 .avl bal rs 17541.04.
49985,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49986,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 2000 withdrawn from a/c xxxx 0746 on 090717 at ici atm s1cwk293.txn# 719012001313 .avl bal rs 15341.04.
49987,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49988,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49989,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 1000 withdrawn from a/c xxxx 0746 on 090717 at ici atm s1cwk293.txn# 719016001355 .avl bal rs 14291.04.
49990,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 1000 withdrawn from a/c xxxx 0746 on 180717 at axs atm tpcn1326.txn# 719920032371 .avl bal rs 11744.19.
49991,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49992,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49993,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 2000 withdrawn from a/c xxxx 0746 on 230717 at axs atm bpcn1326.txn# 720412009246 .avl bal rs 3026.41.
49994,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 2000 withdrawn from a/c xxxx 0746 on 310717 at jcb atm jcbd003.txn# 721220958494 .avl bal rs 1002.81.
49995,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49996,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"rs 14000 withdrawn at sbi atm hfbc000727216 h.no. 05, mehar niwas, , delhi from a/c xxxx 0746 on 070817.txn#4567 .avl bal rs 19737.46."
49997,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 1000 withdrawn from a/c xxxx 0746 on 120917 at hdf atm p1ewdl53.txn# 725520011424 .avl bal rs 15094.6.
49998,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49999,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"

In [80]:
# Finding the withdrawl city
# Matching the city name
df['Withdrawl_City'] = df['body'].apply(lambda x:''.join ([i+"," if i in x else '' for i in my_list]))

In [81]:
df.head()

,user_id,address_type,building,locality,city,state,row_status,source,body,Withdrawl_City
0,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"cash withdrawal of rs1,500.00 made on kotak debit card x7239 on 24-09-2019 at maharana pratap.avl bal is rs 2,623.58.not you?visit kotak.com/fraud",
1,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx7309 on 29-01-2019 11:53:06 at ghitorni dmrc.combined balance in a/c xx7187 is rs 5277.71.,
2,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx7309 on 06-02-2019 21:48:35 at icici bank.combined balance in a/c xx7187 is rs 13025.11.,
3,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"you have successfully registered for upi payment on google pay. if not you, please report immediately to your bank. do not share your card details/otp/atm pin with anyone.",
4,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"you have successfully registered for upi payment on google pay. if not you, please report immediately to your bank. do not share your card details/otp/atm pin with anyone.",

In [82]:
df.tail()

,user_id,address_type,building,locality,city,state,row_status,source,body,Withdrawl_City
49995,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable",
49996,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"rs 14000 withdrawn at sbi atm hfbc000727216 h.no. 05, mehar niwas, , delhi from a/c xxxx 0746 on 070817.txn#4567 .avl bal rs 19737.46.","delhi,"
49997,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 1000 withdrawn from a/c xxxx 0746 on 120917 at hdf atm p1ewdl53.txn# 725520011424 .avl bal rs 15094.6.,
49998,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable",
49999,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable",

In [83]:
df['Withdrawl_City'] = df['body'].apply(lambda x:''.join ([i+" " if i in x else '' for i in my_list]))

In [84]:
df.head()

,user_id,address_type,building,locality,city,state,row_status,source,body,Withdrawl_City
0,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"cash withdrawal of rs1,500.00 made on kotak debit card x7239 on 24-09-2019 at maharana pratap.avl bal is rs 2,623.58.not you?visit kotak.com/fraud",
1,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx7309 on 29-01-2019 11:53:06 at ghitorni dmrc.combined balance in a/c xx7187 is rs 5277.71.,
2,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx7309 on 06-02-2019 21:48:35 at icici bank.combined balance in a/c xx7187 is rs 13025.11.,
3,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"you have successfully registered for upi payment on google pay. if not you, please report immediately to your bank. do not share your card details/otp/atm pin with anyone.",
4,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"you have successfully registered for upi payment on google pay. if not you, please report immediately to your bank. do not share your card details/otp/atm pin with anyone.",

In [85]:
df.tail()

,user_id,address_type,building,locality,city,state,row_status,source,body,Withdrawl_City
49995,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable",
49996,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"rs 14000 withdrawn at sbi atm hfbc000727216 h.no. 05, mehar niwas, , delhi from a/c xxxx 0746 on 070817.txn#4567 .avl bal rs 19737.46.",delhi
49997,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 1000 withdrawn from a/c xxxx 0746 on 120917 at hdf atm p1ewdl53.txn# 725520011424 .avl bal rs 15094.6.,
49998,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable",
49999,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable",

In [86]:
df.head()

,user_id,address_type,building,locality,city,state,row_status,source,body,Withdrawl_City
0,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"cash withdrawal of rs1,500.00 made on kotak debit card x7239 on 24-09-2019 at maharana pratap.avl bal is rs 2,623.58.not you?visit kotak.com/fraud",
1,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx7309 on 29-01-2019 11:53:06 at ghitorni dmrc.combined balance in a/c xx7187 is rs 5277.71.,
2,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx7309 on 06-02-2019 21:48:35 at icici bank.combined balance in a/c xx7187 is rs 13025.11.,
3,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"you have successfully registered for upi payment on google pay. if not you, please report immediately to your bank. do not share your card details/otp/atm pin with anyone.",
4,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"you have successfully registered for upi payment on google pay. if not you, please report immediately to your bank. do not share your card details/otp/atm pin with anyone.",

In [89]:
df.to_csv('View.csv')

In [92]:
[i for i in my_list if i == 'lar']

[]

In [93]:
[i for i in my_list if i == 'wani']

['wani']

In [94]:
pd.read_sql_query("""select * from v3_user_address_data where city ='wani'""", conn)

,id,address_type,building,locality,city,state,affluency_metric,comments,created_at,updated_at,user_id,row_status,pin,lat,lng,source,landmark,performed_by,extra_details
0,1269332,permanent address,22,warora road pragati nagar ward no.5 wani yavatmal,wani,maharashtra,NaN,aadhar,2019-03-01 05:56:32.335658,2019-03-01 05:56:32.335658,440619,active,445304,None,None,kyc,near sai mandir,NaN,{}
1,226025,Home with family,ward no 11,wani,wani,None,1.0,None,2018-05-22 23:48:59.461509,2018-05-22 23:50:19.109275,134360,inactive,445304,None,None,None,None,NaN,{}
2,226022,Home with family,ward no 11,wani,wani,None,1.0,None,2018-05-22 23:45:20.395143,2018-05-22 23:50:19.109275,134360,inactive,445304,None,None,None,None,NaN,{}
3,808013,,ward no 22,tagore chowk ganesgpur road,wani,None,1.0,None,2018-12-08 12:18:45.884570,2019-01-05 11:11:39.778676,314862,inactive,445304,None,None,None,None,NaN,{}
4,226026,Home with family,ward no 11,wani,wani,None,1.0,None,2018-05-22 23:49:13.666906,2018-05-22 23:50:19.109275,134360,inactive,445304,None,None,None,None,NaN,{}
5,1130988,Home with family,mq-48,wani,wani,None,1.0,None,2019-02-08 10:52:10.336079,2019-02-27 10:53:18.319317,419195,inactive,445304,None,None,None,None,NaN,{}
6,808020,Home with family,ward no 22,tagore chowk ganesgpur road,wani,None,1.0,None,2018-12-08 12:19:55.142530,2019-01-05 11:11:39.778676,314862,inactive,445304,None,None,None,None,NaN,{}
7,885331,permanent address,ward no-2,virkund,wani,maharashtra,NaN,aadhar,2018-12-22 17:19:35.796519,2018-12-22 17:19:35.796519,341590,active,445304,None,None,kyc,None,NaN,{}
8,819057,Home with family,ward no 22,tagore chowk ganesgpur road,wani,None,1.0,None,2018-12-10 16:57:24.299425,2019-01-05 11:11:39.778676,314862,inactive,445304,None,None,None,None,NaN,{}
9,1421254,Home with family,305 a murkute house lalguda hn,kalar,wani,None,1.0,None,2019-03-18 23:49:05.473552,2019-03-18 23:50:40.432448,508642,inactive,445304,None,None,None,None,NaN,{}
10,1421212,Home with family,305 a murkute house lalguda hn,kalar,wani,None,1.0,None,2019-03-18 23:41:39.956404,2019-03-18 23:50:40.432448,508642,inactive,445304,None,None,None,None,NaN,{}
11,1421250,Home with family,305 a murkute house lalguda hn,kalar,wani,None,1.0,None,2019-03-18 23:48:18.976997,2019-03-18 23:50:40.432448,508642,inactive,445304,None,None,None,None,NaN,{}
12,1421248,Home with family,305 a murkute house lalguda hn,kalar,wani,None,1.0,None,2019-03-18 23:48:10.896219,2019-03-18 23:50:40.432448,508642,inactive,445304,None,None,None,None,NaN,{}
13,1421261,Home with family,305 a murkute house lalguda hn,kalar,wani,None,1.0,None,2019-03-18 23:49:48.714993,2019-03-18 23:50:40.432448,508642,inactive,445304,None,None,None,None,NaN,{}
14,2541245,Home with family,165,samrat Ashok Nagar wani,wani,None,1.0,None,2019-07-23 08:30:00.383298,2019-07-23 08:54:57.112058,814075,inactive,445304,None,None,None,None,NaN,{}
15,1567194,Home with family,kurai plot no 42,yavatmal,wani,None,1.0,None,2019-04-03 14:45:22.540376,2019-04-03 16:03:36.013497,553947,inactive,445307,None,None,None,None,NaN,{}
16,2094890,Home with family,pragatinagar,warora road,wani,None,1.0,None,2019-06-11 13:06:07.455317,2019-06-11 13:08:16.454841,705881,inactive,445304,None,None,None,None,NaN,{}
17,2056823,permanent address,jain layout ward no 6,bramhani road,wani,maharashtra,NaN,aadhar,2019-06-05 15:28:58.259597,2019-06-05 15:28:58.259597,494712,active,445304,None,None,kyc,near hanuman mandir,NaN,{}
18,1415693,Home with family,sai nagari bamni road wani,wani,wani,None,1.0,None,2019-03-18 14:42:01.989788,2019-03-18 14:43:02.153257,506641,inactive,445304,None,None,None,None,NaN,{}
19,1566663,Home with family,kurai plot no 42,yavatmal,wani,None,1.0,None,2019-04-03 14:10:31.801013,2019-04-03 16:03:36.013497,553947,inactive,445307,None,None,None,None,NaN,{}
20,1865569,Home with family,warat.post Bhalar Ta.wani dist yavatmal,water tank,wani,None,1.0,None,2019-05-10 07:32:42.672894,2019-05-10 07:34:27.124901,643275,inactive,445304,None,None,None,None,NaN,{}
21,2506148,Home with family,165,samart Ashok nagar wani,wani,None,1.0,None,2019-07-20 11:55:37.457439,2019-07-23 08:54:57.112058,814075,inactive,445304,None,None,None,None,NaN,{}
22,2541239,Home with family,165,samart Ashok nagar wani,wani,None,1.0,None,2019-07-23 08:28:52.345186,2019-07-23 08:54:57.112058,814075,inactive,445304,None,None,None,None,NaN,{}
23,1415713,Home with family,sai nagari bamni road wani,wani,wani,MAHARASHTRA,1.0,None,2019-03-18 14:43:02.153257,2019-11-07 16:57:45.364981,506641,active,445304,None,None,None,None,147779.0,{}
24,2094900,Home with family,pragatinagar,warora road,wani,MAHARASHTRA,1.0,None,2019-06-11 13:08:16.454841,2019-11-07 16:57:45.364981,705881,active,445304,None,None,None,None,147779.0,{}
25,1421267,Home with family,305 a murkute house lalguda hn,kalar,wani,MAHARASHTRA,1.0,None,2019-03-18 23:50:40.432448,2019-11-07 16:57:45.364981,508642,active,445304,None,None,None,None,147779.0,{}
26,226030,Home with family,ward no 11,wani,wani,MAHARASHTRA,1.0,None,2018-05-22 23:50:19.109275,2019-11-07 16:57:45.364981,134360,active,445304,None,None,None,None,147779.0,{}
27,1865571,Home with family,warat.post Bhalar Ta.wani dist yavatmal,water tank,wani,MAHARASHTRA,1.0,None,2019-05-10 07:34:27.124901,2019-11-07 16:57:45.364981,643275,active,445304,None,None,None,None,147779.0,{}
28,2541415,Home with family,165,samrat Ashok Nagar wani,wani,MAHARASHTRA,1.0,None,2019-07-23 08:54:57.112058,2019-11-07 16:57:45.364981,814075,active,445304,None,None,None,None,147779.0,{}

In [95]:
df_2[df_2['Withdrawl_City']=='wani,']

,body,Withdrawl_City
277,rs.10000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-08-09:12:26:12 at ybl bhawani. avl bal: rs.13470.00,"wani,"
278,rs.10000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-08-09:12:27:34 at ybl bhawani. avl bal: rs.3470.00,"wani,"
279,rs.3000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-08-20:18:06:10 at ybl bhawani. avl bal: rs.470.00,"wani,"
302,rs.10000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-08-01:19:12:37 at ybl bhawani. avl bal: rs.44001.00,"wani,"
305,rs.10000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-08-09:12:26:12 at ybl bhawani. avl bal: rs.13470.00,"wani,"
306,rs.10000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-08-09:12:27:34 at ybl bhawani. avl bal: rs.3470.00,"wani,"
307,rs.3000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-08-20:18:06:10 at ybl bhawani. avl bal: rs.470.00,"wani,"
329,rs.10000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-08-01:19:12:37 at ybl bhawani. avl bal: rs.44001.00,"wani,"
549,rs.10000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-08-09:12:26:12 at ybl bhawani. avl bal: rs.13470.00,"wani,"
550,rs.10000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-08-09:12:27:34 at ybl bhawani. avl bal: rs.3470.00,"wani,"
551,rs.3000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-08-20:18:06:10 at ybl bhawani. avl bal: rs.470.00,"wani,"
574,rs.10000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-08-01:19:12:37 at ybl bhawani. avl bal: rs.44001.00,"wani,"
577,rs.10000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-08-09:12:26:12 at ybl bhawani. avl bal: rs.13470.00,"wani,"
578,rs.10000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-08-09:12:27:34 at ybl bhawani. avl bal: rs.3470.00,"wani,"
579,rs.3000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-08-20:18:06:10 at ybl bhawani. avl bal: rs.470.00,"wani,"
601,rs.10000.00 was withdrawn using your hdfc bank card ending 2754 on 2018-08-01:19:12:37 at ybl bhawani. avl bal: rs.44001.00,"wani,"

In [96]:
[i for i in my_list if i== 'bhawani']

[]

In [97]:
# Wani in withdrawl_city is coming from word in sms bhawani
# Replacing wani from my_list
my_list.remove('wani')

In [99]:
[i for i in my_list if i == 'wani']

[]

In [100]:
[i for i in my_list if i == 'ashok nagar']

['ashok nagar']

In [101]:
pd.read_sql_query("""select * from v3_user_address_data where city ='ashok nagar'""", conn)

,id,address_type,building,locality,city,state,affluency_metric,comments,created_at,updated_at,user_id,row_status,pin,lat,lng,source,landmark,performed_by,extra_details
0,579489,permanent address,31,gram semra bamora tehseel ashoknagar semra bamora,ashok nagar,madhya pradesh,NaN,aadhar,2018-10-18 06:15:39.002003,2018-10-30 22:10:13.837680,252948,inactive,473331.0,None,None,kyc,None,NaN,{}
1,637648,permanent address,31,gram semra bamora tehseel ashoknagar semra bamora,ashok nagar,madhya pradesh,NaN,aadhar,2018-10-30 22:10:13.837680,2018-10-30 22:10:13.837680,252948,active,473331.0,None,None,kyc,None,NaN,{}
2,384113,permanent address,chamumda vihar room no.3,sawarkar ngar,ashok nagar,maharashtra,NaN,aadhar,2018-08-28 06:07:03.172276,2018-08-28 06:07:03.172276,188140,active,422012.0,None,None,kyc,near nilkantheshwar mandir,NaN,{}
3,478073,Rented with friends,A-340 streen 17,optical shop,ashok nagar,None,1.0,None,2018-09-26 18:30:38.788000,2018-09-26 19:16:05.016521,217951,inactive,110092.0,None,None,None,None,NaN,{}
4,390916,permanent address,ward no -22,"life line hospital ke pass, ashok nagar, guna , ashok nagar",ashok nagar,madhya pradesh,NaN,aadhar,2018-08-30 13:42:16.507651,2018-08-30 13:42:16.507651,173027,active,473331.0,None,None,kyc,None,NaN,{}
5,406290,permanent address,ward no-17,moti mohalla ashoknagar,ashok nagar,madhya pradesh,NaN,aadhar,2018-09-05 13:30:00.667709,2018-09-05 13:30:00.667709,194908,active,473331.0,None,None,kyc,None,NaN,{}
6,608101,permanent address,14/6,"bahadurpur road, mungaoli",ashok nagar,madhya pradesh,NaN,aadhar,2018-10-25 04:54:24.907621,2018-10-25 04:54:24.907621,258662,active,473443.0,None,None,kyc,None,NaN,{}
7,478140,Rented with friends,A-340 streen 17,optical shop,ashok nagar,None,1.0,None,2018-09-26 18:38:25.156161,2018-09-26 19:16:05.016521,217951,inactive,110092.0,None,None,None,None,NaN,{}
8,478079,Rented with friends,A-340 streen 17,optical shop,ashok nagar,None,1.0,None,2018-09-26 18:30:59.792862,2018-09-26 19:16:05.016521,217951,inactive,110092.0,None,None,None,None,NaN,{}
9,478341,Rented with friends,A-340 streen 17,Pal optical & watch,ashok nagar,None,1.0,None,2018-09-26 19:13:17.900900,2018-09-26 19:16:05.016521,217951,inactive,110092.0,None,None,None,None,NaN,{}
10,704453,permanent address,room no 2 swastik apart,"plot no 103,gate no 2017",ashok nagar,maharashtra,NaN,aadhar,2018-11-18 02:10:31.865176,2018-11-18 02:10:31.865176,292047,active,422012.0,None,None,kyc,shramik nagar satpur,NaN,{}
11,648469,permanent address,27,"gandhi road , mungaoli , ashok nagar",ashok nagar,madhya pradesh,NaN,aadhar,2018-11-02 12:03:58.920894,2018-11-02 12:03:58.920894,261452,active,473443.0,None,None,kyc,None,NaN,{}
12,633770,permanent address,09,poonam park a,ashok nagar,None,NaN,student id,2018-10-30 10:04:49.650031,2018-10-30 10:07:24.491484,246118,inactive,NaN,None,None,kyc,None,NaN,{}
13,737682,permanent address,room no 2,"swastik apart ,plot no 103,gat no 207,shramik nagar,satpur",ashok nagar,maharashtra,NaN,aadhar,2018-11-24 15:26:50.444500,2018-11-24 15:26:50.444500,301531,active,422012.0,None,None,kyc,None,NaN,{}
14,716963,Hostel/PG,mohan singh raghuwanshi,jaleshwar,ashok nagar,None,1.0,None,2018-11-20 19:48:52.183678,2018-11-20 19:50:20.416155,295462,inactive,473330.0,None,None,None,None,NaN,{}
15,774218,permanent address,ward no-11,matamad colony,ashok nagar,madhya pradesh,NaN,aadhar,2018-12-01 17:24:52.372085,2018-12-02 15:45:00.033488,306735,inactive,473446.0,None,None,kyc,None,NaN,{}
16,674114,permanent address,45/kh,malhargarh road ward ni 08 mungaoli,ashok nagar,madhya pradesh,NaN,aadhar,2018-11-10 20:13:20.193619,2018-11-10 20:13:20.193619,266445,active,473443.0,None,None,kyc,None,NaN,{}
17,722433,permanent address,mohan singh raghuwanshi,jaleshwar,ashok nagar,madhya pradesh,NaN,aadhar,2018-11-21 18:42:13.098673,2018-12-01 16:56:28.015926,295462,inactive,473330.0,None,None,kyc,None,NaN,{}
18,774053,permanent address,mohan singh raghuwanshi,jaleshwar,ashok nagar,madhya pradesh,NaN,aadhar,2018-12-01 16:56:28.015926,2018-12-01 16:56:28.015926,295462,active,473330.0,None,None,kyc,None,NaN,{}
19,778154,permanent address,ward no-11,matamad colony,ashok nagar,madhya pradesh,NaN,aadhar,2018-12-02 15:45:00.033488,2018-12-02 15:45:00.033488,306735,active,473446.0,None,None,kyc,None,NaN,{}
20,735355,permanent address,ward no 4,"purana bazar,mungaoli",ashok nagar,madhya pradesh,NaN,aadhar,2018-11-24 09:00:59.774742,2018-11-24 09:00:59.774742,300878,active,473443.0,None,None,kyc,None,NaN,{}
21,716227,permanent address,mohan singh raghuwanshi,jaleshwar,ashok nagar,madhya pradesh,NaN,aadhar,2018-11-20 17:56:05.567136,2018-11-20 19:50:20.416155,295462,inactive,473330.0,None,None,kyc,None,NaN,{}
22,1196199,permanent address,6 manasa,ullasa 2nd cross,ashok nagar,tumkur,NaN,driving,2019-02-18 17:51:48.754236,2019-02-18 17:53:27.011030,278952,inactive,572102.0,None,None,kyc,None,NaN,{}
23,1930330,permanent address,plot no 49,signode colony,ashok nagar,hyderabad,NaN,student id,2019-05-19 12:42:43.276456,2019-05-19 12:42:43.276456,660261,active,NaN,None,None,kyc,None,NaN,{}
24,980183,permanent address,a-591,"new ashok nagar, vasundhra enclave, east delhi",ashok nagar,delhi,NaN,aadhar,2019-01-11 13:36:25.116334,2019-01-11 13:36:25.116334,374678,active,110096.0,None,None,kyc,None,NaN,{}
25,813096,permanent address,ward no-3,mungaoli,ashok nagar,madhya pradesh,NaN,aadhar,2018-12-09 12:32:08.066309,2018-12-09 12:32:08.066309,322558,active,473443.0,None,None,kyc,None,NaN,{}
26,2086992,permanent address,25 karamai village karamai tehsil,chanderi,ashok nagar,madhya pradesh,NaN,voter,2019-06-10 12:12:35.229180,2019-06-10 12:14:55.666613,454395,inactive,473446.0,None,None,kyc,None,NaN,{}
27,1050909,Rented with family,b95 ground floor,noida,ashok nagar,None,1.0,None,2019-01-25 16:35:51.799250,2019-01-25 16:37:41.358521,396213,inactive,110096.0,None,None,None,None,NaN,{}
28,935944,permanent address,ward no. 09,mohalla esnagarh,ashok nagar,madhya perdesh,NaN,aadhar,2019-01-02 19:58:43.294870,2019-01-02 19:58:43.294870,359104,active,473335.0,None,None,kyc,None,NaN,{}
29,1316562,permanent address,705,kodus road,ashok nagar,madhya pradesh,NaN,aadhar,2019-03-07 16:17:48.461681,2019-03-07 16:17:48.461681,471246,active,473331.0,None,None,kyc,new bus stand behind shiv mandhir,NaN,{}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48,1881091,permanent address,gram kunwarpur,pranpur chanderi,ashok nagar,madhya pradesh,NaN,aadhar,2019-05-12 12:41:43.813239,2019-05-12 12:41:43.813239,645930,active,473446.0,None,None,kyc,None,NaN,{}
49,2280581,Rented with family,3-8-22,srinivas hotel,ashok nagar,None,1.0,None,2019-07-01 22:46:11.771738,2019-07-27 09:02:41.844793,745468,inactive,500062.0,None,None,None,None,NaN,{}
50,1760877,permanent address,a 650,block a,ashok nagar,delhi,NaN,driving,2019-04-26 17:11:37.174874,2019-04-26 17:11:37.174874,605269,active,110096.0,None,None,kyc,None,NaN,{}
51,1354595,permanent address,86,"mahuan makan kra, 1se 106 tak, village mahuan, tehsil, eshagarh",ashok nagar,madhya pradesh,NaN,voter,2019-03-12 12:56:04.492563,2019-06-23 17:25:52.372151,479030,inactive,473335.0,None,None,kyc,None,NaN,{}
52,2280588,Rented with family,3-8-22,srinivas hotel,ashok nagar,None,1.0,None,2019-07-01 22:48:14.582325,2019-07-27 09:02:41.844793,745468,inactive,500062.0,None,None,None,None,NaN,{}
53,1995423,permanent address,h no 6-50,bhavani puram,ashok nagar,None,NaN,student id,2019-05-27 19:15:27.408465,2019-05-27 19:17:13.170245,678557,inactive,NaN,None,None,kyc,None,NaN,{}
54,1978532,permanent address,gram mahuan,"post mahuan tehseel esagarh ,mahuwan",ashok nagar,madhya pradesh,NaN,aadhar,2019-05-25 13:11:11.613343,2019-05-25 13:11:11.613343,673280,active,473335.0,None,None,kyc,None,NaN,{}
55,1987096,permanent address,"gram mahuan ,gram",mahuan post mahuan tahseel esagarh mahuwan,ashok nagar,madhya pradesh,NaN,aadhar,2019-05-26 19:02:29.757925,2019-05-26 19:02:29.757925,674954,active,473335.0,None,None,kyc,None,NaN,{}
56,2016166,permanent address,gram-mahuan,post mahuan tehseel esagarh mahuwan,ashok nagar,madhya pradesh,NaN,aadhar,2019-05-30 15:02:03.874935,2019-05-30 15:02:03.874935,681937,active,473335.0,None,None,kyc,None,NaN,{}
57,2173949,permanent address,61,"gram kethan, garethi",ashok nagar,madhya pradesh,NaN,aadhar,2019-06-21 11:01:03.044474,2019-06-21 11:01:03.044474,721295,active,473440.0,None,None,kyc,None,NaN,{}
58,1362776,permanent address,ashok nagar,ashok nagar,ashok nagar,madhya pradesh,NaN,student id,2019-03-13 10:38:49.047490,2019-06-25 19:54:37.099826,361988,inactive,473331.0,None,None,kyc,infront of rto office by pass road,NaN,{}
59,2058854,permanent address,thane ke paas ward no 5,piprayi ashok nagar,ashok nagar,madhya pradesh,NaN,aadhar,2019-06-05 19:42:35.249706,2019-06-05 19:42:35.249706,695168,active,473440.0,None,None,kyc,None,NaN,{}
60,2333857,permanent address,ward no 09,bohare colony,ashok nagar,m p,NaN,student id,2019-07-08 09:51:39.341906,2019-07-08 13:41:47.992384,482520,inactive,473331.0,None,None,kyc,None,NaN,{}
61,2338323,permanent address,ward no 09,bohare colony,ashok nagar,madhya pradesh,NaN,student id,2019-07-08 13:42:41.607421,2019-07-08 13:42:41.607421,482520,active,473331.0,None,None,kyc,None,NaN,{}
62,2411116,permanent address,68/k,cor ganj esagarh tehsil- eshagarh,ashok nagar,madhya pradesh,NaN,voter,2019-07-13 15:56:54.999006,2019-07-13 15:56:54.999006,1822,active,473335.0,None,None,kyc,None,NaN,{}
63,2330156,permanent address,bhare colony ashok nagar,teh ashok nagar,ashok nagar,madhya pradesh,NaN,driving,2019-07-07 15:52:56.398887,2019-07-07 15:56:29.877545,482520,inactive,0.0,None,None,kyc,None,NaN,{}
64,2376244,permanent address,post v tehsil v jila ashok nagar,"ward no 12, h no 157 dr ambetkar mohila ashok nagar",ashok nagar,madhya pradesh,NaN,aadhar,2019-07-11 09:49:48.724552,2019-07-11 09:49:48.724552,735609,active,473331.0,None,None,kyc,None,NaN,{}
65,2530437,Home with family,gram sawan ward no.1,gram sawan,ashok nagar,None,1.0,None,2019-07-22 11:27:57.105078,2019-07-22 11:28:21.351408,823882,inactive,473331.0,None,None,None,None,NaN,{}
66,2512982,permanent address,86,"mahuan makan kra, 1 se 106 tak,eshagarh",ashok nagar,madhya pradesh,NaN,voter,2019-07-20 18:48:17.759269,2019-07-20 18:51:23.815047,796261,inactive,473335.0,None,None,kyc,None,NaN,{}
67,2530425,Home with family,gram sawan ward no.1,gram sawan,ashok nagar,None,1.0,None,2019-07-22 11:27:15.680713,2019-07-22 11:28:21.351408,823882,inactive,473331.0,None,None,None,None,NaN,{}
68,2530440,Home with family,gram sawan ward no.1,gram sawan,ashok nagar,None,1.0,None,2019-07-22 11:28:11.619778,2019-07-22 11:28:21.351408,823882,inactive,473331.0,None,None,None,None,NaN,{}
69,2596113,Home with family,3-8-22,srinivas hotel,ashok nagar,TELANGANA,1.0,None,2019-07-27 09:02:41.844793,2019-11-07 16:57:45.364981,745468,active,500062.0,None,None,None,None,147779.0,{}
70,2714387,permanent address,ashok nagar idgah road,pathaar mohalla ward no 10,ashok nagar,madhya pradesh,NaN,aadhar,2019-08-07 16:32:19.439173,2019-08-07 16:32:19.968120,874809,inactive,473331.0,None,None,kyc,None,NaN,{}
71,2714389,permanent address,ashok nagar idgah road,pathaar mohalla ward no 10,ashok nagar,madhya pradesh,NaN,aadhar,2019-08-07 16:32:19.968120,2019-08-07 16:32:19.968120,874809,active,473331.0,None,None,kyc,None,NaN,{}
72,1639623,permanent address,seji,seji,ashok nagar,madhya pradesh,NaN,aadhar,2019-04-12 10:00:41.623051,2019-11-07 17:25:12.921522,573726,active,473330.0,None,None,kyc,None,147779.0,{}
73,1549978,permanent address,86,"mahuan makan kra, 1se 106 tak, village mahuan, tehsil, eshagarh",ashok nagar,madhya pradesh,NaN,voter,2019-04-01 17:19:06.363228,2019-11-07 17:25:12.921522,479030,active,473335.0,None,None,kyc,None,147779.0,{}
74,1050923,Rented with family,b95 ground floor,noida,ashok nagar,DELHI,1.0,None,2019-01-25 16:37:41.358521,2019-11-07 16:57:45.364981,396213,active,110096.0,None,None,None,None,147779.0,{}
75,2530443,Home with family,gram sawan ward no.1,gram sawan,ashok nagar,MADHYA PRADESH,1.0,None,2019-07-22 11:28:21.351408,2019-11-07 16:57:45.364981,823882,active,473331.0,None,None,None,None,147779.0,{}
76,1131118,Home with family,h no-300 ward no-20,dharmendra choudhary ka bagicha aron roa,ashok nagar,MADHYA PRADESH,1.0,None,2019-02-08 11:13:03.720830,2019-11-07 16:57:45.364981,275001,active,473331.0,None,None,None,None,147779.0,{}
77,1201799,Home with family,HOUSE NO.68 BAJARIYA MOHLLA,isagarh,ashok nagar,MADHYA PRADESH,1.0,None,2019-02-19 14:31:25.020910,2019-11-07 16:57:45.364981,439515,active,473335.0,None,None,None,None,147779.0,{}

In [106]:
df_2[df_2['Withdrawl_City']=='ashok nagar,']

Empty DataFrame
Columns: [body, Withdrawl_City]
Index: []

In [107]:
# Removing ashok nagar from my_list
my_list.remove('ashok nagar')

In [108]:
[i for i in my_list if i == 'ashok nagar']

[]

In [109]:
[i for i in my_list if i == 'wadi']

['wadi']

In [110]:
pd.read_sql_query("""select * from v3_user_address_data where city ='wadi'""", conn)

,id,address_type,building,locality,city,state,affluency_metric,comments,created_at,updated_at,user_id,row_status,pin,lat,lng,source,landmark,performed_by,extra_details
0,2450670,Home with family,wadi s.n road near panigate vadodara.,indian,wadi,None,1.0,None,2019-07-16 17:55:48.722561,2019-08-06 11:47:28.839109,791837,inactive,390017,None,None,None,None,NaN,{}
1,1633109,permanent address,4/114,ward no 4 rc tabda wadi gulbarga,wadi,karnataka,NaN,aadhar,2019-04-11 11:49:29.161713,2019-04-11 18:39:18.750431,555627,inactive,585225,None,None,kyc,None,NaN,{}
2,1636966,permanent address,4/114,ward no 4 rc tabda wadi gulbarga,wadi,karnataka,NaN,aadhar,2019-04-11 18:39:18.750431,2019-04-11 18:39:18.750431,555627,active,585225,None,None,kyc,None,NaN,{}
3,2501744,Home with family,wadi s.n road near panigate vadodara.,indian,wadi,None,1.0,None,2019-07-19 23:23:22.351487,2019-08-06 11:47:28.839109,791837,inactive,390023,None,None,None,None,NaN,{}
4,2450598,Home with family,dabi faliya haran khana road,vaddodara,wadi,None,1.0,None,2019-07-16 17:53:06.103143,2019-08-06 11:47:28.839109,791837,inactive,390017,None,None,None,None,NaN,{}
5,1257866,permanent address,14,"amravati road, chandrabhagaappartment surksha nagar dattawadi, wadi, nagpur",wadi,maharashtra,NaN,aadhar,2019-02-27 14:52:54.091139,2019-02-27 14:52:54.091139,453148,active,440023,None,None,kyc,None,NaN,{}
6,2517485,Home with family,mallikarjun Gudi hattira,wadi,wadi,None,1.0,None,2019-07-21 09:39:18.520309,2019-07-21 09:39:34.771280,818498,inactive,585225,None,None,None,None,NaN,{}
7,2520101,Home with family,Dabi Faliya Haran Khana Road Panigate,indian,wadi,None,1.0,None,2019-07-21 13:05:19.374541,2019-08-06 11:47:28.839109,791837,inactive,390023,None,None,None,None,NaN,{}
8,2450577,Home with family,dabi faliya haran khana road,vaddodara,wadi,None,1.0,None,2019-07-16 17:52:31.027446,2019-08-06 11:47:28.839109,791837,inactive,390017,None,None,None,None,NaN,{}
9,2450529,Home with family,dabi faliya haran khana road,vaddodara,wadi,None,1.0,None,2019-07-16 17:50:08.162124,2019-08-06 11:47:28.839109,791837,inactive,390017,None,None,None,None,NaN,{}
10,2501732,Home with family,wadi s.n road near panigate vadodara.,indian,wadi,None,1.0,None,2019-07-19 23:21:52.081758,2019-08-06 11:47:28.839109,791837,inactive,390017,None,None,None,None,NaN,{}
11,2450557,Home with family,dabi faliya haran khana road,vaddodara,wadi,None,1.0,None,2019-07-16 17:51:09.868388,2019-08-06 11:47:28.839109,791837,inactive,390017,None,None,None,None,NaN,{}
12,2699144,Home with family,sbh bank road,near old police station road,wadi,None,1.0,None,2019-08-06 10:43:42.892113,2019-08-06 10:43:56.471442,872071,inactive,585225,None,None,None,None,NaN,{}
13,2450636,Home with family,Dabi faliya haran khana wadi s.n road,indian,wadi,None,1.0,None,2019-07-16 17:54:27.207394,2019-08-06 11:47:28.839109,791837,inactive,390017,None,None,None,None,NaN,{}
14,2450562,Home with family,dabi faliya haran khana road,vaddodara,wadi,None,1.0,None,2019-07-16 17:51:36.978873,2019-08-06 11:47:28.839109,791837,inactive,390017,None,None,None,None,NaN,{}
15,2450831,Home with family,wadi s.n road near panigate vadodara.,indian,wadi,None,1.0,None,2019-07-16 18:03:00.586917,2019-08-06 11:47:28.839109,791837,inactive,390017,None,None,None,None,NaN,{}
16,2517488,Home with family,mallikarjun Gudi hattira,wadi,wadi,KARNATAKA,1.0,None,2019-07-21 09:39:34.771280,2019-11-07 16:57:45.364981,818498,active,585225,None,None,None,None,147779.0,{}
17,2699147,Home with family,sbh bank road,near old police station road,wadi,KARNATAKA,1.0,None,2019-08-06 10:43:56.471442,2019-11-07 16:57:45.364981,872071,active,585225,None,None,None,None,147779.0,{}

In [111]:
df_2[df_2['Withdrawl_City']=='wadi,']

,body,Withdrawl_City
6952,"rs 1500 withdrawn at sbi atm s10a001469017 untawadi nasik , nasik from a/c xxxx 4843 on 230817.txn#2597 .avl bal rs 98.8.","wadi,"
6995,"rs 5000 withdrawn at sbg atm s10a001469017 untawadi nasik , nasik from a/c xxxx 3876 on 060317.txn#6941 .avl bal rs 667.67.","wadi,"
6998,"rs 1000 withdrawn at sbg atm s10a001469017 untawadi nasik , nasik from a/c xxxx 4843 on 090317.txn#8212 .avl bal rs 500.0.","wadi,"
7004,"rs 1000 withdrawn at sbi atm s10a001469017 untawadi nasik , nasik from a/c xxxx 3876 on 030417.txn#6949 .avl bal rs 109.67.","wadi,"
7066,"rs 1000 withdrawn at sbi atm s10a001469017 untawadi nasik , nasik from a/c xxxx 3876 on 030417.txn#6949 .avl bal rs 109.67.","wadi,"
7069,"rs 1000 withdrawn at sbg atm s10a001469017 untawadi nasik , nasik from a/c xxxx 4843 on 090317.txn#8212 .avl bal rs 500.0.","wadi,"
7075,"rs 5000 withdrawn at sbg atm s10a001469017 untawadi nasik , nasik from a/c xxxx 3876 on 060317.txn#6941 .avl bal rs 667.67.","wadi,"

In [113]:
df_2[df_2['Withdrawl_City']=='nasik,']

Empty DataFrame
Columns: [body, Withdrawl_City]
Index: []

In [114]:
# Spelling of nasik is wrong in message so adding nasik in my_list
my_list.append('nasik')

In [115]:
[i for i in my_list if i == 'nasik']

['nasik']

In [116]:
# Wadi is coming in withdrawl_city from untawadi
# Replacing wadi from my_list
my_list.remove('wadi')

In [117]:
[i for i in my_list if i == 'wadi']

[]

In [118]:
[i for i in my_list if i == 'pali']

[]

In [119]:
[i for i in my_list if i == 'nirmal']

['nirmal']

In [120]:
pd.read_sql_query("""select * from v3_user_address_data where city ='nirmal'""", conn)

,id,address_type,building,locality,city,state,affluency_metric,comments,created_at,updated_at,user_id,row_status,pin,lat,lng,source,landmark,performed_by,extra_details
0,69443,Home,lokeshwar,nirmak,nirmal,None,1.0,None,2017-11-04 16:57:13.870370,2018-07-14 14:34:10.974324,74808,inactive,504104.0,NaN,NaN,None,None,NaN,{}
1,2465756,permanent address,h no 2-119,dilawarpoor,nirmal,None,NaN,driving,2019-07-17 16:32:13.175950,2019-07-17 16:32:13.175950,714933,active,504306.0,NaN,NaN,kyc,None,NaN,{}
2,2072472,permanent address,1-2-43/2a,shastri nagar,nirmal,None,NaN,student id,2019-06-07 20:53:23.804146,2019-06-07 20:53:23.804146,336822,active,NaN,NaN,NaN,kyc,None,NaN,{}
3,81080,Home with family,h.no : 5-5-27/95a gandhinagar,nirmal,nirmal,None,1.0,None,2017-12-10 00:00:31.768522,2019-04-09 10:48:59.141702,81402,inactive,504106.0,NaN,NaN,None,None,NaN,{}
4,1373401,Home with family,"H:no:1-1-5/10,eidgoan",NiRmal,nirmal,None,1.0,None,2019-03-14 11:08:17.708665,2019-04-06 21:45:00.175611,482431,inactive,504106.0,NaN,NaN,None,None,NaN,{}
5,1373426,Home with family,"H:no:1-1-5/10,eidgoan",NiRmal,nirmal,None,1.0,None,2019-03-14 11:10:23.649739,2019-04-06 21:45:00.175611,482431,inactive,504106.0,NaN,NaN,None,None,NaN,{}
6,194843,permanent address,7-2-83/51/d5,indiranagar,nirmal,telanagana,NaN,student id,2018-05-03 10:48:07.229994,2018-07-19 13:19:57.384222,119672,inactive,NaN,NaN,NaN,kyc,None,NaN,{}
7,1373427,Home with family,"H:no:1-1-5/10,eidgoan",NiRmal,nirmal,None,1.0,None,2019-03-14 11:10:24.265343,2019-04-06 21:45:00.175611,482431,inactive,504106.0,NaN,NaN,None,None,NaN,{}
8,2072401,permanent address,1-2-43/2a,shastri nagar,nirmal,None,NaN,student id,2019-06-07 20:40:01.303733,2019-06-07 20:53:23.804146,336822,inactive,NaN,NaN,NaN,kyc,None,NaN,{}
9,2026222,Home with family,plotno:645,nirmal,nirmal,None,1.0,None,2019-05-31 23:29:56.674466,2019-05-31 23:31:38.423735,687191,inactive,504106.0,NaN,NaN,None,None,NaN,{}
10,2026224,Home with family,plotno:645,nirmal,nirmal,None,1.0,None,2019-05-31 23:30:38.690636,2019-05-31 23:31:38.423735,687191,inactive,504106.0,NaN,NaN,None,None,NaN,{}
11,1375949,permanent address,3-3-76,siddharthanagar bhainsa,nirmal,None,NaN,student id,2019-03-14 14:34:18.904685,2019-03-14 14:37:43.143320,483751,inactive,NaN,NaN,NaN,kyc,None,NaN,{}
12,913531,Home with family,"1-84,venkatapur,nirmal",venkatapur,nirmal,None,1.0,None,2018-12-28 14:33:17.016795,2018-12-28 15:26:51.281486,356898,inactive,504106.0,NaN,NaN,None,None,NaN,{}
13,913534,Home with family,"1-84,venkatapur,nirmal",venkatapur,nirmal,None,1.0,None,2018-12-28 14:33:50.946705,2018-12-28 15:26:51.281486,356898,inactive,504106.0,NaN,NaN,None,None,NaN,{}
14,913543,Home with family,"1-84,venkatapur,nirmal",venkatapur,nirmal,None,1.0,None,2018-12-28 14:35:40.025441,2018-12-28 15:26:51.281486,356898,inactive,504106.0,NaN,NaN,None,None,NaN,{}
15,913860,Home with family,"1-84,venkatapur,nirmal",venkatapur,nirmal,None,1.0,None,2018-12-28 15:26:14.025975,2018-12-28 15:26:51.281486,356898,inactive,504106.0,NaN,NaN,None,None,NaN,{}
16,913529,Home with family,"1-84,venkatapur,nirmal",venkatapur,nirmal,None,1.0,None,2018-12-28 14:32:58.244996,2018-12-28 15:26:51.281486,356898,inactive,504106.0,NaN,NaN,None,None,NaN,{}
17,441035,permanent address,7-157/1,sarangapur,nirmal,telangana,NaN,student id,2018-09-16 15:21:05.239062,2018-09-16 15:23:21.530016,178445,inactive,NaN,NaN,NaN,kyc,None,NaN,{}
18,913525,Home with family,"1-84,venkatapur,nirmal",venkatapur,nirmal,None,1.0,None,2018-12-28 14:32:39.546969,2018-12-28 15:26:51.281486,356898,inactive,504106.0,NaN,NaN,None,None,NaN,{}
19,650464,Home with family,8-1-301,nirmal,nirmal,None,1.0,None,2018-11-02 19:31:37.709895,2018-11-29 22:05:57.904290,276261,inactive,504106.0,NaN,NaN,None,None,NaN,{}
20,861428,Home with family,ravinagar,hindu,nirmal,None,1.0,None,2018-12-18 15:20:44.935240,2018-12-18 15:27:55.872960,341029,inactive,504106.0,NaN,NaN,None,None,NaN,{}
21,1379597,Home with family,5-11-51/3a5/8,priyadarshini nagar,nirmal,None,1.0,None,2019-03-14 19:12:41.957853,2019-03-14 19:17:16.876012,493453,inactive,504106.0,NaN,NaN,None,None,NaN,{}
22,1379632,Home with family,5-11-51/3a5/8,priyadarshini nagar,nirmal,None,1.0,None,2019-03-14 19:16:13.067523,2019-03-14 19:17:16.876012,493453,inactive,504106.0,NaN,NaN,None,None,NaN,{}
23,1379558,Home with family,5-11-51/3a5/8,priyadarshini nagar,nirmal,None,1.0,None,2019-03-14 19:09:54.528796,2019-03-14 19:17:16.876012,493453,inactive,504106.0,NaN,NaN,None,None,NaN,{}
24,681088,Rented with friends,6-35/1,basar,nirmal,None,1.0,None,2018-11-12 20:53:26.212327,2018-11-14 17:05:32.010694,285863,inactive,504101.0,NaN,NaN,None,None,NaN,{}
25,681079,,6-35/1,basar,nirmal,None,1.0,None,2018-11-12 20:51:13.723094,2018-11-14 17:05:32.010694,285863,inactive,504101.0,NaN,NaN,None,None,NaN,{}
26,1783849,Home with family,1-2-91,muslim,nirmal,None,1.0,None,2019-04-29 16:43:13.014427,2019-04-29 16:57:49.915155,619135,inactive,504105.0,NaN,NaN,None,None,NaN,{}
27,861421,Home with family,ravinagar,hindu,nirmal,None,1.0,None,2018-12-18 15:19:53.255931,2018-12-18 15:27:55.872960,341029,inactive,504106.0,NaN,NaN,None,None,NaN,{}
28,793982,permanent address,h no 3-2-58,bangalpet nirmal,nirmal,telangana,NaN,student id,2018-12-05 16:20:16.827790,2019-02-28 13:20:09.994401,295811,inactive,504106.0,NaN,NaN,kyc,None,NaN,{}
29,861424,Home with family,ravinagar,hindu,nirmal,None,1.0,None,2018-12-18 15:20:15.429499,2018-12-18 15:27:55.872960,341029,inactive,504106.0,NaN,NaN,None,None,NaN,{}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,3788987,permanent address,6-18,"gulmadgu, gollamada",nirmal,telangana,NaN,voter,2019-11-03 10:50:06.995584,2019-11-03 10:50:06.995584,1247205,active,504109.0,NaN,NaN,kyc,None,NaN,{}
252,2062548,Home with family,3-3-44,bangalpet,nirmal,None,1.0,None,2019-06-06 13:05:19.701166,2019-08-17 09:30:07.875805,696754,inactive,600062.0,NaN,NaN,None,None,NaN,{}
253,2723560,permanent address,h no 7-2-82/29 b3,indira nagar,nirmal,telangana,NaN,student id,2019-08-08 11:59:39.129805,2019-08-08 11:59:39.129805,564395,active,504106.0,NaN,NaN,kyc,None,NaN,{}
254,2733819,permanent address,1-3-131/136b,"shastri nagar south,adilabad",nirmal,telangana,NaN,aadhar,2019-08-08 22:58:30.439387,2019-08-08 23:12:18.545798,595913,inactive,504106.0,NaN,NaN,fi,None,NaN,{}
255,3655843,permanent address,6-18 golamadugu,"gulnadgu , gollamada",nirmal,telangana,NaN,voter,2019-10-27 11:43:13.173181,2019-11-03 10:50:06.995584,1247205,inactive,504109.0,NaN,NaN,kyc,None,NaN,{}
256,1084530,Home with family,7-51 beeravelly nirmal dist,khammam,nirmal,TELANGANA,1.0,None,2019-01-31 20:00:01.767787,2019-11-07 16:57:45.364981,406083,active,504106.0,NaN,NaN,None,None,147779.0,{}
257,1895907,Home with family,2-45/1,laxmanchanda,nirmal,TELANGANA,1.0,None,2019-05-14 16:00:06.630177,2019-11-07 16:57:45.364981,652122,active,504106.0,NaN,NaN,None,None,147779.0,{}
258,688482,Rented with friends,6-35/1,basar,nirmal,TELANGANA,1.0,None,2018-11-14 17:05:32.010694,2019-11-07 16:57:45.364981,285863,active,504101.0,NaN,NaN,None,None,147779.0,{}
259,2755062,permanent address,2-1/1,jan sarangapoor,nirmal,None,NaN,student id,2019-08-10 14:06:14.840529,2019-11-07 17:25:12.921522,889617,active,NaN,NaN,NaN,kyc,None,147779.0,{}
260,2443415,Home with family,1-291,nirmal,nirmal,TELANGANA,1.0,None,2019-07-16 10:52:21.872951,2019-11-07 16:57:45.364981,788360,active,504106.0,NaN,NaN,None,None,147779.0,{}
261,1615554,Home with family,h.no : 5-5-27/95a gandhinagar,nirmal,nirmal,TELANGANA,1.0,None,2019-04-09 10:48:59.141702,2019-11-07 16:57:45.364981,81402,active,504106.0,NaN,NaN,None,None,147779.0,{}
262,1903444,Home with family,7-2-74,Nirmal,nirmal,TELANGANA,1.0,None,2019-05-15 16:19:48.252051,2019-11-07 16:57:45.364981,616468,active,504106.0,NaN,NaN,None,None,147779.0,{}
263,1717656,Hostel/PG,1/47gundampally,telangana,nirmal,TELANGANA,1.0,None,2019-04-21 19:22:00.963596,2019-11-07 16:57:45.364981,597541,active,504306.0,NaN,NaN,None,None,147779.0,{}
264,1010723,Hostel/PG,5-6-98/4a1,nirmal,nirmal,TELANGANA,1.0,None,2019-01-18 14:54:09.418608,2019-11-07 16:57:45.364981,384636,active,504106.0,NaN,NaN,None,None,147779.0,{}
265,2087139,Home with family,1-15,gundampally,nirmal,TELANGANA,1.0,None,2019-06-10 12:40:14.833006,2019-11-07 16:57:45.364981,703858,active,504306.0,NaN,NaN,None,None,147779.0,{}
266,2843976,permanent address,3-67 rendlaguda,rendlaguda,nirmal,None,NaN,voter,2019-08-17 23:05:21.459998,2019-11-07 17:25:12.921522,924172,active,504205.0,NaN,NaN,kyc,dharmaram,147779.0,{}
267,1439646,Home with family,"indranagar,nirmal",nirmal,nirmal,TELANGANA,1.0,None,2019-03-20 13:39:11.852226,2019-11-07 16:57:45.364981,514853,active,504106.0,NaN,NaN,None,None,147779.0,{}
268,2120191,Home with family,vijetha apartments,priyadarshini nagar,nirmal,TELANGANA,1.0,None,2019-06-14 14:12:00.307722,2019-11-07 16:57:45.364981,712151,active,504106.0,NaN,NaN,None,None,147779.0,{}
269,2596009,Home with family,5-11-51,priyadarshinagar,nirmal,TELANGANA,1.0,None,2019-07-27 08:32:22.896509,2019-11-07 16:57:45.364981,815053,active,504106.0,NaN,NaN,None,None,147779.0,{}
270,917063,Hostel/PG,1-149/a/1,nirmal,nirmal,TELANGANA,1.0,None,2018-12-29 09:45:55.447367,2019-11-07 16:57:45.364981,357907,active,504106.0,NaN,NaN,None,None,147779.0,{}
271,1197633,Hostel/PG,hno 2-130,new bopparam soan,nirmal,TELANGANA,1.0,None,2019-02-18 20:37:52.923229,2019-11-07 16:57:45.364981,357310,active,500059.0,NaN,NaN,None,None,147779.0,{}
272,2381876,Home with family,6-2-5,Chintakunta wada,nirmal,TELANGANA,1.0,None,2019-07-11 14:16:36.205318,2019-11-07 16:57:45.364981,763458,active,504106.0,NaN,NaN,None,None,147779.0,{}
273,1260207,Home with family,3-1-11/14,bestawarpet,nirmal,TELANGANA,1.0,None,2019-02-27 18:52:37.801435,2019-11-07 16:57:45.364981,457131,active,504106.0,NaN,NaN,None,None,147779.0,{}
274,1440129,Home with family,5-6-98/1,nirmal,nirmal,TELANGANA,1.0,None,2019-03-20 13:51:46.367086,2019-11-07 16:57:45.364981,515573,active,504106.0,NaN,NaN,None,None,147779.0,{}
275,1368149,permanent address,2 -00,"halda, pardi b",nirmal,None,NaN,voter,2019-03-13 16:30:04.904793,2019-11-07 17:25:12.921522,486959,active,504103.0,NaN,NaN,kyc,None,147779.0,{}
276,1625457,Rented with friends,1-127/1,lokeshwaram,nirmal,TELANGANA,1.0,None,2019-04-10 12:19:34.468452,2019-11-07 16:57:45.364981,570411,active,500020.0,NaN,NaN,None,None,147779.0,{}
277,1560564,Home with family,"8-1-306,shanthinagar,nirmal",nirmal,nirmal,TELANGANA,1.0,None,2019-04-02 18:53:57.789674,2019-11-07 16:57:45.364981,327502,active,504106.0,NaN,NaN,None,None,147779.0,{}
278,2115950,Home with family,"2-75,pendapally,bhainsa nirmal",nirmal,nirmal,TELANGANA,1.0,None,2019-06-14 11:13:32.788105,2019-11-07 16:57:45.364981,711680,active,504109.0,NaN,NaN,None,None,147779.0,{}
279,1499987,permanent address,4-1-91,naiduwada,nirmal,telangana,NaN,student id,2019-03-27 13:09:08.626169,2019-11-07 17:25:12.921522,513634,active,504106.0,NaN,NaN,kyc,None,147779.0,{}
280,766334,Home with family,8-1-301,nirmal,nirmal,TELANGANA,1.0,None,2018-11-29 22:05:57.904290,2019-11-07 16:57:45.364981,276261,active,504106.0,NaN,NaN,None,None,147779.0,{}

In [121]:
df_2[df_2['Withdrawl_City']=='nirmal,']

,body,Withdrawl_City
43703,"dear customer,rs.6500 debited from your a/c xx3886 via nirmala hei atm on 12mar2019 22:45:35.bal-rs.6004.24.if this transaction is not done by you, call 18004251199 or sms to 9895088888 from your registered mobile number in the format no<space>last four digits of your a/c number-federal bank","nirmal,"
43729,"dear customer,rs.6500 debited from your a/c xx3886 via nirmala hei atm on 12mar2019 22:45:35.bal-rs.6004.24.if this transaction is not done by you, call 18004251199 or sms to 9895088888 from your registered mobile number in the format no<space>last four digits of your a/c number-federal bank","nirmal,"

In [122]:
# Nirmal is coming in withdrawl city column from word nirmala
# Replacing the nirmal from my_list
my_list.remove('nirmal')

In [123]:
[i for i in my_list if i =='nirmal']

[]

In [124]:
[i for i in my_list if i =='lar']

[]

In [125]:
[i for i in my_list if i =='wani']

[]

In [126]:
[i for i in my_list if i == 'anand']

['anand']

In [127]:
pd.read_sql_query("""select * from v3_user_address_data where city ='anand'""", conn)

,id,address_type,building,locality,city,state,affluency_metric,comments,created_at,updated_at,user_id,row_status,pin,lat,lng,source,landmark,performed_by,extra_details
0,112227,Home with family,12581,loteswar bhagol,anand,None,1.0,None,2018-02-15 09:09:49.287951,2018-02-15 09:12:01.114560,93945,inactive,388001,None,None,None,None,NaN,{}
1,112226,Home with family,12581,loteswar bhagol,anand,None,1.0,None,2018-02-15 09:09:21.535426,2018-02-15 09:12:01.114560,93945,inactive,388001,None,None,None,None,NaN,{}
2,112228,Home with family,12581,loteswar bhagol,anand,None,1.0,None,2018-02-15 09:10:06.268497,2018-02-15 09:12:01.114560,93945,inactive,388001,None,None,None,None,NaN,{}
3,112229,Home with family,12581,loteswar bhagol,anand,None,1.0,None,2018-02-15 09:11:32.394133,2018-02-15 09:12:01.114560,93945,inactive,388001,None,None,None,None,NaN,{}
4,117301,Rented with friends,"room No.8,upar Krishna Electronic.",N.S.patel circle,anand,None,1.0,None,2018-02-23 02:55:09.128215,2018-02-25 22:58:44.107068,95587,inactive,388001,None,None,None,None,NaN,{}
5,117302,Rented with friends,"room No.8,upar Krishna Electronic.",N.S.patel circle,anand,None,1.0,None,2018-02-23 02:55:39.982314,2018-02-25 22:58:44.107068,95587,inactive,388001,None,None,None,None,NaN,{}
6,118857,Rented with friends,"room No.8,upar Krishna Electronic.",N.S.patel circle,anand,None,1.0,None,2018-02-25 22:57:56.834311,2018-02-25 22:58:44.107068,95587,inactive,388001,None,None,None,None,NaN,{}
7,224054,Rented with family,35 shantikunj,shantikunj society,anand,None,1.0,None,2018-05-21 18:33:03.116863,2018-05-21 18:33:37.793919,133602,inactive,388001,None,None,None,None,NaN,{}
8,180050,Home with family,G 1 SHAPATH residency,karamsad,anand,None,1.0,None,2018-04-21 23:23:25.229935,2018-04-21 23:24:08.515236,117891,inactive,388325,None,None,None,None,NaN,{}
9,180052,Home with family,G 1 SHAPATH residency,karamsad,anand,None,1.0,None,2018-04-21 23:23:45.965948,2018-04-21 23:24:08.515236,117891,inactive,388325,None,None,None,None,NaN,{}
10,224055,Rented with family,35 shantikunj,shantikunj society,anand,None,1.0,None,2018-05-21 18:33:23.714419,2018-05-21 18:33:37.793919,133602,inactive,388001,None,None,None,None,NaN,{}
11,651002,Rented with friends,bloke 3/room 3,near bhai kak,anand,None,1.0,None,2018-11-02 21:58:15.499923,2018-11-02 22:01:03.354789,276437,inactive,388120,None,None,None,None,NaN,{}
12,286301,Rented with friends,sarsa chokdi,sarsa,anand,None,1.0,None,2018-07-09 10:11:38.696136,2018-07-09 10:18:30.742536,153996,inactive,388365,None,None,None,None,NaN,{}
13,3950173,Home with family,Nana bazar,7-Arihant society,anand,GUJARAT,1.0,None,2019-11-11 15:18:42.218285,2019-11-11 15:18:42.218285,1366721,active,388120,None,None,None,None,1366721.0,{}
14,325948,Home with family,old karamsad road.v.v.nagar.anand,No.8 kalyan society,anand,None,1.0,None,2018-08-03 13:19:22.907652,2018-09-09 10:07:12.058130,169105,inactive,388001,None,None,None,None,NaN,{}
15,325956,Home with family,old karamsad road.v.v.nagar.anand,No.8 kalyan society,anand,None,1.0,None,2018-08-03 13:23:01.667569,2018-09-09 10:07:12.058130,169105,inactive,388001,None,None,None,None,NaN,{}
16,463141,Home with family,christian chal polsn diary road anand,gujrat,anand,None,1.0,None,2018-09-22 20:33:04.215822,2018-09-22 20:34:11.510384,213258,inactive,388001,None,None,None,None,NaN,{}
17,651003,Rented with friends,bloke 3/room 3,near bhai kak,anand,None,1.0,None,2018-11-02 21:58:34.319392,2018-11-02 22:01:03.354789,276437,inactive,388120,None,None,None,None,NaN,{}
18,3949658,Home with family,2895,anand,anand,gujarat,1.0,show,2019-11-11 15:00:52.542031,2019-11-11 15:00:52.542031,1366231,active,388001,None,None,user,None,NaN,{}
19,325957,Home with family,old karamsad road.v.v.nagar.anand,No.8 kalyan society,anand,None,1.0,None,2018-08-03 13:23:12.282499,2018-09-09 10:07:12.058130,169105,inactive,388001,None,None,None,None,NaN,{}
20,3962715,permanent address,jalaram society,navli-388355,anand,gujarat,NaN,aadhar,2019-11-11 22:23:09.183293,2019-11-11 22:23:09.183293,1352273,active,388355,None,None,kyc,None,NaN,{}
21,423625,Home with family,"no.8,kalyan society karamsad road v.v na",indian,anand,None,1.0,None,2018-09-11 10:00:32.508752,2018-09-11 10:06:04.628430,200540,inactive,388001,None,None,None,None,NaN,{}
22,608968,permanent address,c-24,"avni bunglowa, jitodiya road, jitodiya (part),",anand,gujarat,NaN,aadhar,2018-10-25 11:48:30.022682,2018-10-25 11:48:30.022682,261246,active,388001,None,None,kyc,None,NaN,{}
23,651004,Rented with friends,bloke 3/room 3,near bhai kak,anand,None,1.0,None,2018-11-02 21:58:47.380818,2018-11-02 22:01:03.354789,276437,inactive,388120,None,None,None,None,NaN,{}
24,651012,Rented with friends,bloke 3/room 3,near bhai kak,anand,None,1.0,None,2018-11-02 22:00:29.414530,2018-11-02 22:01:03.354789,276437,inactive,388120,None,None,None,None,NaN,{}
25,1084778,Home with family,bolck 2 house1,sanadher,anand,None,1.0,None,2019-01-31 20:46:35.480699,2019-02-07 20:40:17.581389,402551,inactive,388320,None,None,None,None,NaN,{}
26,746870,Home with family,b44 Prarambh tenements,anand,anand,None,1.0,None,2018-11-26 14:12:23.579162,2018-11-26 14:14:02.316301,306271,inactive,388001,None,None,None,None,NaN,{}
27,4033553,Home with family,121,thasra,anand,GUJARAT,1.0,None,2019-11-15 09:45:54.139793,2019-11-15 09:52:25.060635,1391249,inactive,388250,None,None,None,None,1391249.0,{}
28,1078253,Home with family,bolck 2 house1,sanadher,anand,None,1.0,None,2019-01-30 20:17:18.669585,2019-02-07 20:40:17.581389,402551,inactive,388320,None,None,None,None,NaN,{}
29,1078254,Home with family,bolck 2 house1,sanadher,anand,None,1.0,None,2019-01-30 20:17:24.151373,2019-02-07 20:40:17.581389,402551,inactive,388320,None,None,None,None,NaN,{}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,1839251,Home with family,"2b, Shanti kunj society",Mogri,anand,GUJARAT,1.0,None,2019-05-06 18:47:58.797304,2019-11-07 16:57:45.364981,632830,active,388345,None,None,None,None,147779.0,{}
151,463144,Home with family,christian chal polsn diary road anand,gujrat,anand,GUJARAT,1.0,None,2018-09-22 20:34:11.510384,2019-11-07 16:57:45.364981,213258,active,388001,None,None,None,None,147779.0,{}
152,112230,Home with family,12581,loteswar bhagol,anand,GUJARAT,1.0,None,2018-02-15 09:12:01.114560,2019-11-07 16:57:45.364981,93945,active,388001,None,None,None,None,147779.0,{}
153,423637,Home with family,"no.8,kalyan society karamsad road v.v na",indian,anand,GUJARAT,1.0,None,2018-09-11 10:06:04.628430,2019-11-07 16:57:45.364981,200540,active,388001,None,None,None,None,147779.0,{}
154,2426627,Home with family,391,pansora,anand,GUJARAT,1.0,None,2019-07-15 00:41:38.455984,2019-11-07 16:57:45.364981,782295,active,388220,None,None,None,None,147779.0,{}
155,180054,Home with family,G 1 SHAPATH residency,karamsad,anand,GUJARAT,1.0,None,2018-04-21 23:24:08.515236,2019-11-07 16:57:45.364981,117891,active,388325,None,None,None,None,147779.0,{}
156,2413290,Home with family,4 sachidanand society,100ftroad,anand,GUJARAT,1.0,None,2019-07-13 18:13:39.144106,2019-11-07 16:57:45.364981,775810,active,388001,None,None,None,None,147779.0,{}
157,746890,Home with family,b44 Prarambh tenements,anand,anand,GUJARAT,1.0,None,2018-11-26 14:14:02.316301,2019-11-07 16:57:45.364981,306271,active,388001,None,None,None,None,147779.0,{}
158,1129014,Home with family,bolck 2 house1,sanadher,anand,GUJARAT,1.0,None,2019-02-07 20:40:17.581389,2019-11-07 16:57:45.364981,402551,active,388320,None,None,None,None,147779.0,{}
159,1827906,Home with family,12 govardhan park bh vaibhav cinema,anand,anand,GUJARAT,1.0,None,2019-05-05 10:21:27.038968,2019-11-07 16:57:45.364981,632555,active,388120,None,None,None,None,147779.0,{}
160,2086761,Home with family,200,anand,anand,GUJARAT,1.0,None,2019-06-10 11:33:54.874580,2019-11-07 16:57:45.364981,703010,active,388350,None,None,None,None,147779.0,{}
161,2526901,Home with family,302424,reddartexpresa,anand,GUJARAT,1.0,None,2019-07-22 00:03:22.632937,2019-11-07 16:57:45.364981,822513,active,388001,None,None,None,None,147779.0,{}
162,2016119,Home with family,"212, khandeshwar mahadev",ode,anand,GUJARAT,1.0,None,2019-05-30 14:56:21.110533,2019-11-07 16:57:45.364981,684372,active,388210,None,None,None,None,147779.0,{}
163,2478256,Home with family,"11, kalptaru bungalows",the grand hotel,anand,GUJARAT,1.0,None,2019-07-18 15:36:18.172432,2019-11-07 16:57:45.364981,785771,active,388001,None,None,None,None,147779.0,{}
164,651016,Rented with friends,bloke 3/room 3,near bhai kak,anand,GUJARAT,1.0,None,2018-11-02 22:01:03.354789,2019-11-07 16:57:45.364981,276437,active,388120,None,None,None,None,147779.0,{}
165,2452276,Home with family,8-12-108,Gopi sinema,anand,GUJARAT,1.0,None,2019-07-16 19:15:03.433942,2019-11-07 16:57:45.364981,792590,active,388001,None,None,None,None,147779.0,{}
166,2435538,Hostel/PG,aastha hospital pase,new bus stop pase,anand,GUJARAT,1.0,None,2019-07-15 16:49:28.992516,2019-11-07 16:57:45.364981,784109,active,388001,None,None,None,None,147779.0,{}
167,2517294,Home with family,009,borsad,anand,GUJARAT,1.0,None,2019-07-21 09:12:11.064178,2019-11-07 16:57:45.364981,818399,active,388430,None,None,None,None,147779.0,{}
168,1844781,Home with family,3 trupti co op society,jitodia,anand,GUJARAT,1.0,None,2019-05-07 14:52:48.878332,2019-11-07 16:57:45.364981,637324,active,388345,None,None,None,None,147779.0,{}
169,2132211,Home with family,Virol 50,virol so,anand,GUJARAT,1.0,None,2019-06-15 21:07:20.503557,2019-11-07 16:57:45.364981,715048,active,387240,None,None,None,None,147779.0,{}
170,2439601,Home with family,001,garden society near old water tank,anand,GUJARAT,1.0,None,2019-07-16 00:02:56.910373,2019-11-07 16:57:45.364981,787119,active,388001,None,None,None,None,147779.0,{}
171,417913,Home with family,old karamsad road.v.v.nagar.anand,No.8 kalyan society,anand,GUJARAT,1.0,None,2018-09-09 10:07:12.058130,2019-11-07 16:57:45.364981,169105,active,388001,None,None,None,None,147779.0,{}
172,2448400,Home with family,napad talpad,Anand - Umeta Rd,anand,GUJARAT,1.0,None,2019-07-16 15:59:37.394270,2019-11-07 16:57:45.364981,784855,active,388001,None,None,None,None,147779.0,{}
173,2675589,Rented with friends,"Uday Hostel-white house,room no.315",vallabh vidyanagar,anand,GUJARAT,1.0,None,2019-08-03 17:03:06.496158,2019-11-07 16:57:45.364981,866591,active,388120,None,None,None,None,147779.0,{}
174,2001593,Rented with family,B-304,anand,anand,GUJARAT,1.0,None,2019-05-28 15:36:19.062182,2019-11-07 16:57:45.364981,680569,active,388001,None,None,None,None,147779.0,{}
175,2327342,Rented with friends,a85 pranjal society,karmasad,anand,GUJARAT,1.0,None,2019-07-07 08:00:14.951750,2019-11-07 16:57:45.364981,755849,active,388325,None,None,None,None,147779.0,{}
176,2651676,Home with family,borsd,borsd,anand,GUJARAT,1.0,None,2019-08-01 14:36:13.450062,2019-11-07 16:57:45.364981,859693,active,388540,None,None,None,None,147779.0,{}
177,1219000,Home with family,block no 8,purshotam nagar,anand,GUJARAT,1.0,None,2019-02-21 18:03:31.217897,2019-11-07 16:57:45.364981,444823,active,388001,None,None,None,None,147779.0,{}
178,2389258,Home with family,173,ganesh cicle,anand,GUJARAT,1.0,None,2019-07-12 00:39:42.844426,2019-11-07 16:57:45.364981,766466,active,388001,None,None,None,None,147779.0,{}
179,3894327,Home with family,291-k,rasulpur thasra,anand,GUJARAT,1.0,None,2019-11-08 17:10:35.922801,2019-11-08 17:10:35.922801,1146471,active,388250,None,None,None,None,1146471.0,{}

In [128]:
df_2[df_2['Withdrawl_City']=='anand,']

,body,Withdrawl_City
407,rs.600.00 was withdrawn using your hdfc bank card ending 0850 on 2018-10-09:19:03:58 at +hiranandani offsite. avl bal: rs.10116.31,"anand,"
408,rs.600.00 was withdrawn using your hdfc bank card ending 0850 on 2018-10-29:14:15:53 at +ybl hiranandani. avl bal: rs.2035.36,"anand,"
409,rs.1000.00 was withdrawn using your hdfc bank card ending 0850 on 2018-10-31:13:51:45 at +ybl hiranandani. avl bal: rs.1006.36,"anand,"
679,rs.600.00 was withdrawn using your hdfc bank card ending 0850 on 2018-10-09:19:03:58 at +hiranandani offsite. avl bal: rs.10116.31,"anand,"
680,rs.600.00 was withdrawn using your hdfc bank card ending 0850 on 2018-10-29:14:15:53 at +ybl hiranandani. avl bal: rs.2035.36,"anand,"
681,rs.1000.00 was withdrawn using your hdfc bank card ending 0850 on 2018-10-31:13:51:45 at +ybl hiranandani. avl bal: rs.1006.36,"anand,"

In [129]:
# anand in withdrawn city is coming from word hiranandani
# Removing anand from my list
my_list.remove('anand')

In [130]:
[i for i in my_list if i =='anand']

[]

In [131]:
[i for i in my_list if i=='puri']

['puri']

In [132]:
pd.read_sql_query("""select * from v3_user_address_data where city ='puri'""", conn)

,id,address_type,building,locality,city,state,affluency_metric,comments,created_at,updated_at,user_id,row_status,pin,lat,lng,source,landmark,performed_by,extra_details
0,96764,permanent address,c-28,bel colony,puri,garhwal,NaN,aadhar,2018-01-20 17:04:08.721681,2018-01-20 17:04:08.721681,86526,active,246149.0,NaN,NaN,kyc,village-balbhadrpur post-kotdwar,NaN,{}
1,93332,Rented with friends,126/e,sidhamahavir,puri,None,1.0,None,2018-01-13 00:13:51.435749,2018-03-16 13:22:19.517289,86175,inactive,752002.0,NaN,NaN,None,None,NaN,{}
2,223113,Rented with friends,kusanaprasad,panasapada,puri,None,1.0,None,2018-05-21 02:07:22.511498,2018-05-21 02:09:52.150474,133253,inactive,752011.0,NaN,NaN,None,None,NaN,{}
3,93333,Rented with friends,126/e,sidhamahavir,puri,None,1.0,None,2018-01-13 00:14:45.153795,2018-03-16 13:22:19.517289,86175,inactive,752002.0,NaN,NaN,None,None,NaN,{}
4,94204,Rented with friends,126/e,sidhamahavir,puri,None,1.0,None,2018-01-15 23:47:43.860735,2018-03-16 13:22:19.517289,86175,inactive,752002.0,NaN,NaN,None,None,NaN,{}
5,61854,None,"174/26, Gali Number 12, Madanpuri, Sector 7, Gurugram, Haryana 122022, India",None,puri,ODISHA,NaN,None,2017-11-01 20:57:27.123844,2018-03-20 19:37:44.947040,20365,active,122022.0,NaN,NaN,swagat-gps,None,NaN,{}
6,94205,Rented with friends,126/e,sidhamahavir,puri,None,1.0,None,2018-01-15 23:48:09.741570,2018-03-16 13:22:19.517289,86175,inactive,752002.0,NaN,NaN,None,None,NaN,{}
7,58954,None,"1136A, Block F, Carterpuri Village, Sector 23A, Gurugram, Haryana 122021, India",None,puri,ODISHA,NaN,None,2017-11-01 20:57:27.123844,2018-03-20 19:37:44.947040,36692,active,122021.0,NaN,NaN,swagat-gps,None,NaN,{}
8,223114,Rented with friends,kusanaprasad,panasapada,puri,None,1.0,None,2018-05-21 02:09:04.975016,2018-05-21 02:09:52.150474,133253,inactive,752011.0,NaN,NaN,None,None,NaN,{}
9,223115,Rented with friends,kusanaprasad,panasapada,puri,None,1.0,None,2018-05-21 02:09:24.591436,2018-05-21 02:09:52.150474,133253,inactive,752011.0,NaN,NaN,None,None,NaN,{}
10,223116,Rented with friends,kusanaprasad,panasapada,puri,None,1.0,None,2018-05-21 02:09:42.170748,2018-05-21 02:09:52.150474,133253,inactive,752011.0,NaN,NaN,None,None,NaN,{}
11,347425,Home with family,old sadar thana,puri,puri,None,1.0,None,2018-08-13 05:58:38.574453,2019-07-18 08:36:52.244538,176505,inactive,752001.0,NaN,NaN,None,None,NaN,{}
12,196399,Home with family,jeepur,satyabadi,puri,None,1.0,None,2018-05-04 08:30:47.714073,2018-05-04 08:31:07.303442,123244,inactive,752014.0,NaN,NaN,None,None,NaN,{}
13,62499,None,"840, Block F, Carterpuri Village, Sector 23A, Gurugram, Haryana 122022, India",None,puri,ODISHA,NaN,None,2017-11-01 20:57:27.123844,2018-03-20 19:37:44.947040,267,active,122022.0,NaN,NaN,swagat-gps,None,NaN,{}
14,64558,None,"1085, Block F, Carterpuri Village, Sector 23A, Gurugram, Haryana 122022, India",None,puri,ODISHA,NaN,None,2017-11-01 20:57:27.123844,2018-03-20 19:37:44.947040,4763,active,122022.0,NaN,NaN,swagat-gps,None,NaN,{}
15,64759,None,"840, Block F, Carterpuri Village, Sector 23A, Gurugram, Haryana 122022, India",None,puri,ODISHA,NaN,None,2017-11-01 20:57:27.123844,2018-03-20 19:37:44.947040,5167,active,122022.0,NaN,NaN,swagat-gps,None,NaN,{}
16,68166,None,"538/1A/21, Baldev Nagar Rd, Madanpuri, Sector 7, Gurugram, Haryana 122022, India",Dev Nagar,puri,ODISHA,NaN,None,2017-11-01 20:57:27.123844,2018-03-20 19:37:44.947040,14164,active,122022.0,NaN,NaN,swagat-gps,None,NaN,{}
17,196398,Home with family,jeepur,satyabadi,puri,None,1.0,None,2018-05-04 08:30:21.383659,2018-05-04 08:31:07.303442,123244,inactive,752014.0,NaN,NaN,None,None,NaN,{}
18,374077,Hostel/PG,vinyaka mission engineering girls hostel,odisha,puri,None,1.0,None,2018-08-23 19:34:49.574727,2019-02-23 04:12:16.845313,185194,inactive,752001.0,NaN,NaN,None,None,NaN,{}
19,1265281,permanent address,podana tampalo,nimapara,puri,odisha,NaN,aadhar,2019-02-28 15:07:52.580758,2019-02-28 15:07:52.580758,456180,active,752110.0,NaN,NaN,kyc,None,NaN,{}
20,1643291,permanent address,purana sadar thana riad,police line puri(m),puri,odisha,NaN,aadhar,2019-04-12 16:12:59.335859,2019-04-12 16:12:59.335859,184615,active,752001.0,NaN,NaN,kyc,None,NaN,{}
21,313062,Home with family,kanas,Nandigoda,puri,None,1.0,None,2018-07-27 13:55:58.417726,2018-07-27 13:57:21.144557,164113,inactive,752017.0,NaN,NaN,None,None,NaN,{}
22,313063,Home with family,kanas,Nandigoda,puri,None,1.0,None,2018-07-27 13:56:19.332201,2018-07-27 13:57:21.144557,164113,inactive,752017.0,NaN,NaN,None,None,NaN,{}
23,313054,Home with family,kanas,Nandigoda,puri,None,1.0,None,2018-07-27 13:51:59.520655,2018-07-27 13:57:21.144557,164113,inactive,752017.0,NaN,NaN,None,None,NaN,{}
24,313061,Home with family,kanas,Nandigoda,puri,None,1.0,None,2018-07-27 13:55:41.539891,2018-07-27 13:57:21.144557,164113,inactive,752017.0,NaN,NaN,None,None,NaN,{}
25,313064,Home with family,kanas,Nandigoda,puri,None,1.0,None,2018-07-27 13:56:47.912577,2018-07-27 13:57:21.144557,164113,inactive,752017.0,NaN,NaN,None,None,NaN,{}
26,544708,Home with family,astarang,astarang,puri,None,1.0,None,2018-10-11 15:08:16.413886,2018-10-11 15:12:49.283453,242938,inactive,752109.0,NaN,NaN,None,None,NaN,{}
27,544701,Home with family,astarang,astarang,puri,None,1.0,None,2018-10-11 15:07:18.815741,2018-10-11 15:12:49.283453,242938,inactive,752109.0,NaN,NaN,None,None,NaN,{}
28,544696,Home with family,astarang,astarang,puri,None,1.0,None,2018-10-11 15:06:28.546596,2018-10-11 15:12:49.283453,242938,inactive,752109.0,NaN,NaN,None,None,NaN,{}
29,544711,Home with family,astarang,astarang,puri,None,1.0,None,2018-10-11 15:08:42.902553,2018-10-11 15:12:49.283453,242938,inactive,752109.0,NaN,NaN,None,None,NaN,{}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,1722237,Home with family,swarna villa,kumbharapada,puri,ODISHA,1.0,None,2019-04-22 14:12:37.701611,2019-11-07 16:57:45.364981,600197,active,752002.0,NaN,NaN,None,None,147779.0,{}
395,881277,Home with family,pipili,"sampur,post-pipili,Police station-pipili",puri,ODISHA,1.0,None,2018-12-21 21:18:09.916126,2019-11-07 16:57:45.364981,347207,active,752104.0,NaN,NaN,None,None,147779.0,{}
396,131960,Rented with friends,126/e,sidhamahavir,puri,ODISHA,1.0,None,2018-03-16 13:22:19.517289,2019-11-07 16:57:45.364981,86175,active,752002.0,NaN,NaN,None,None,147779.0,{}
397,426144,Home with family,Nimapara,Brahmakundi,puri,ODISHA,1.0,None,2018-09-11 21:45:21.666795,2019-11-07 16:57:45.364981,201336,active,752113.0,NaN,NaN,None,None,147779.0,{}
398,1378287,Home with family,house no7,Kanthapur Khadipada puri,puri,ODISHA,1.0,None,2019-03-14 17:38:18.745588,2019-11-07 16:57:45.364981,494108,active,752002.0,NaN,NaN,None,None,147779.0,{}
399,2415009,Home with family,eight,"budhiabar, gorual",puri,ODISHA,1.0,None,2019-07-13 21:05:30.098895,2019-11-07 16:57:45.364981,773338,active,752002.0,NaN,NaN,None,None,147779.0,{}
400,544732,Home with family,astarang,astarang,puri,ODISHA,1.0,None,2018-10-11 15:12:49.283453,2019-11-07 16:57:45.364981,242938,active,752109.0,NaN,NaN,None,None,147779.0,{}
401,2632823,Home with family,803,satasankha,puri,ODISHA,1.0,None,2019-07-30 17:15:18.845332,2019-11-07 16:57:45.364981,853846,active,752100.0,NaN,NaN,None,None,147779.0,{}
402,2885842,permanent address,khatiakudi,parikuda krushnaprasad khatiakudi,puri,odisha,NaN,aadhar,2019-08-20 15:45:08.557563,2019-11-07 17:25:12.921522,943048,active,752011.0,NaN,NaN,kyc,None,147779.0,{}
403,679328,Home with family,birla guest house,birla guest house,puri,ODISHA,1.0,None,2018-11-12 15:15:33.048385,2019-11-07 16:57:45.364981,285302,active,752001.0,NaN,NaN,None,None,147779.0,{}
404,2934610,permanent address,at - bhubanapati,manapada,puri,odisha,NaN,student id,2019-08-23 12:48:41.674189,2019-11-07 17:25:12.921522,961767,active,752011.0,NaN,NaN,kyc,None,147779.0,{}
405,752904,Home with family,Jagulai temple,"at- Singhama pur, Post- birabalabhadra p",puri,ODISHA,1.0,None,2018-11-27 15:00:39.227709,2019-11-07 16:57:45.364981,294951,active,752012.0,NaN,NaN,None,None,147779.0,{}
406,3120619,permanent address,06,"naipulapatna, gadisagoda",puri,odisha,NaN,voter,2019-09-05 23:13:44.532006,2019-11-07 17:25:12.921522,1018592,active,0.0,NaN,NaN,kyc,None,147779.0,{}
407,29175,Home,infront of omm maa tarini medical store,balisahi near swetaganga pond,puri,ODISHA,1.0,None,2017-10-08 13:55:37.480883,2019-11-07 16:57:45.364981,72612,active,752001.0,NaN,NaN,None,None,147779.0,{}
408,2538198,Home with family,A-32 pipili,satasankha,puri,ODISHA,1.0,None,2019-07-22 20:25:49.231304,2019-11-07 16:57:45.364981,817950,active,752046.0,NaN,NaN,None,None,147779.0,{}
409,1466254,Home with family,Dolagobinda pur,chandan pur,puri,ODISHA,1.0,None,2019-03-23 17:03:19.483774,2019-11-07 16:57:45.364981,208492,active,752001.0,NaN,NaN,None,None,147779.0,{}
410,196400,Home with family,jeepur,satyabadi,puri,ODISHA,1.0,None,2018-05-04 08:31:07.303442,2019-11-07 16:57:45.364981,123244,active,752014.0,NaN,NaN,None,None,147779.0,{}
411,986026,Rented with family,level train crossed,matiapada,puri,ODISHA,1.0,None,2019-01-12 16:27:55.517720,2019-11-07 16:57:45.364981,377274,active,752002.0,NaN,NaN,None,None,147779.0,{}
412,2888920,permanent address,dandamkunda pur,kulasekharapatana,puri,odisha,NaN,aadhar,2019-08-20 19:41:38.548996,2019-11-07 17:25:12.921522,944132,active,752104.0,NaN,NaN,kyc,None,147779.0,{}
413,710763,Home with family,madhuban 1st lane,nabakalebar road,puri,ODISHA,1.0,None,2018-11-19 16:47:44.370665,2019-11-07 16:57:45.364981,294957,active,752002.0,NaN,NaN,None,None,147779.0,{}
414,1163771,Home with family,nimapada,nimapada,puri,ODISHA,1.0,None,2019-02-13 15:47:50.701518,2019-11-07 16:57:45.364981,428553,active,752106.0,NaN,NaN,None,None,147779.0,{}
415,2434155,Home with family,gop block house-30,milk moo factory,puri,ODISHA,1.0,None,2019-07-15 15:09:44.527265,2019-11-07 16:57:45.364981,784866,active,752110.0,NaN,NaN,None,None,147779.0,{}
416,2496142,Rented with friends,A29,nilachakra nagar,puri,ODISHA,1.0,None,2019-07-19 15:57:40.003833,2019-11-07 16:57:45.364981,798283,active,752002.0,NaN,NaN,None,None,147779.0,{}
417,2515624,Home with family,180,sarvodaya nagar,puri,ODISHA,1.0,None,2019-07-20 23:24:36.392253,2019-11-07 16:57:45.364981,817543,active,752002.0,NaN,NaN,None,None,147779.0,{}
418,1519284,Home with family,p-21/9,puri,puri,ODISHA,1.0,None,2019-03-29 08:51:16.719694,2019-11-07 16:57:45.364981,540201,active,752011.0,NaN,NaN,None,None,147779.0,{}
419,2408053,Home with family,pipili,pipili,puri,ODISHA,1.0,None,2019-07-13 12:39:41.806702,2019-11-07 16:57:45.364981,774208,active,752104.0,NaN,NaN,None,None,147779.0,{}
420,1602564,permanent address,konarka( n a c),konark,puri,odisha,NaN,aadhar,2019-04-07 16:07:49.924985,2019-11-07 17:25:12.921522,561108,active,752111.0,NaN,NaN,kyc,None,147779.0,{}
421,3895423,Home with family,ward.no.14,sukal,puri,ODISHA,1.0,None,2019-11-08 17:54:42.452370,2019-11-08 17:54:42.452370,1349668,active,752014.0,NaN,NaN,None,None,1349668.0,{}
422,2472405,Home with family,old sadar thana,puri,puri,ODISHA,1.0,None,2019-07-18 08:36:52.244538,2019-11-07 16:57:45.364981,176505,active,752001.0,NaN,NaN,None,None,147779.0,{}
423,2582700,Rented with family,bns95 puri,puri,puri,ODISHA,1.0,None,2019-07-26 04:00:49.390124,2019-11-07 16:57:45.364981,839469,active,752002.0,NaN,NaN,None,None,147779.0,{}

In [133]:
df_2[df_2['Withdrawl_City']=='puri,']

,body,Withdrawl_City
2247,rs.1400.00 was withdrawn using your hdfc bank card ending 9639 on 2017-08-10:17:55:32 at janakpuri west metro. avl bal: rs.640.47,"puri,"
2248,your unsuccessful atm wdl txn on hdfc bank debit/atm card ending 9639 of rs. 1400.00 at location janakpuri west metro on 2017-08-10:18:00:48 is reversed to a/c. regret inconvenience.,"puri,"
2259,rs.1400.00 was withdrawn using your hdfc bank card ending 9639 on 2017-08-10:17:55:32 at janakpuri west metro. avl bal: rs.640.47,"puri,"
2260,your unsuccessful atm wdl txn on hdfc bank debit/atm card ending 9639 of rs. 1400.00 at location janakpuri west metro on 2017-08-10:18:00:48 is reversed to a/c. regret inconvenience.,"puri,"
2288,rs.1400.00 was withdrawn using your hdfc bank card ending 9639 on 2017-08-10:17:55:32 at janakpuri west metro. avl bal: rs.640.47,"puri,"
2289,your unsuccessful atm wdl txn on hdfc bank debit/atm card ending 9639 of rs. 1400.00 at location janakpuri west metro on 2017-08-10:18:00:48 is reversed to a/c. regret inconvenience.,"puri,"
2300,rs.1400.00 was withdrawn using your hdfc bank card ending 9639 on 2017-08-10:17:55:32 at janakpuri west metro. avl bal: rs.640.47,"puri,"
2301,your unsuccessful atm wdl txn on hdfc bank debit/atm card ending 9639 of rs. 1400.00 at location janakpuri west metro on 2017-08-10:18:00:48 is reversed to a/c. regret inconvenience.,"puri,"
2329,rs.1400.00 was withdrawn using your hdfc bank card ending 9639 on 2017-08-10:17:55:32 at janakpuri west metro. avl bal: rs.640.47,"puri,"
2330,your unsuccessful atm wdl txn on hdfc bank debit/atm card ending 9639 of rs. 1400.00 at location janakpuri west metro on 2017-08-10:18:00:48 is reversed to a/c. regret inconvenience.,"puri,"
2341,rs.1400.00 was withdrawn using your hdfc bank card ending 9639 on 2017-08-10:17:55:32 at janakpuri west metro. avl bal: rs.640.47,"puri,"
2342,your unsuccessful atm wdl txn on hdfc bank debit/atm card ending 9639 of rs. 1400.00 at location janakpuri west metro on 2017-08-10:18:00:48 is reversed to a/c. regret inconvenience.,"puri,"
2370,rs.1400.00 was withdrawn using your hdfc bank card ending 9639 on 2017-08-10:17:55:32 at janakpuri west metro. avl bal: rs.640.47,"puri,"
2371,your unsuccessful atm wdl txn on hdfc bank debit/atm card ending 9639 of rs. 1400.00 at location janakpuri west metro on 2017-08-10:18:00:48 is reversed to a/c. regret inconvenience.,"puri,"
2382,rs.1400.00 was withdrawn using your hdfc bank card ending 9639 on 2017-08-10:17:55:32 at janakpuri west metro. avl bal: rs.640.47,"puri,"
2383,your unsuccessful atm wdl txn on hdfc bank debit/atm card ending 9639 of rs. 1400.00 at location janakpuri west metro on 2017-08-10:18:00:48 is reversed to a/c. regret inconvenience.,"puri,"
2411,rs.1400.00 was withdrawn using your hdfc bank card ending 9639 on 2017-08-10:17:55:32 at janakpuri west metro. avl bal: rs.640.47,"puri,"
2412,your unsuccessful atm wdl txn on hdfc bank debit/atm card ending 9639 of rs. 1400.00 at location janakpuri west metro on 2017-08-10:18:00:48 is reversed to a/c. regret inconvenience.,"puri,"
2423,rs.1400.00 was withdrawn using your hdfc bank card ending 9639 on 2017-08-10:17:55:32 at janakpuri west metro. avl bal: rs.640.47,"puri,"
2424,your unsuccessful atm wdl txn on hdfc bank debit/atm card ending 9639 of rs. 1400.00 at location janakpuri west metro on 2017-08-10:18:00:48 is reversed to a/c. regret inconvenience.,"puri,"
2452,rs.1400.00 was withdrawn using your hdfc bank card ending 9639 on 2017-08-10:17:55:32 at janakpuri west metro. avl bal: rs.640.47,"puri,"
2453,your unsuccessful atm wdl txn on hdfc bank debit/atm card ending 9639 of rs. 1400.00 at location janakpuri west metro on 2017-08-10:18:00:48 is reversed to a/c. regret inconvenience.,"puri,"
2464,rs.1400.00 was withdrawn using your hdfc bank card ending 9639 on 2017-08-10:17:55:32 at janakpuri west metro. avl bal: rs.640.47,"puri,"
2465,your unsuccessful atm wdl txn on hdfc bank debit/atm card ending 9639 of rs. 1400.00 at location janakpuri west metro on 2017-08-10:18:00:48 is reversed to a/c. regret inconvenience.,"puri,"
8721,rs.4000.00 was withdrawn using your hdfc bank card ending 8901 on 2017-12-26:13:39:54 at +janakpuri east. avl bal: rs.8467.63,"puri,"
10989,"syn- inr 200.00 dr to a/c ***7468 on 23-05-2017 20:32-for atm txn at nvipb405-vikaspuri-+ybl vikaspuri avl bal:17,416.66. helpline 18004250585","puri,"
10990,"syn- inr 100.00 dr to a/c ***7468 on 11-05-2017 19:23-for atm txn at s1cni222-s1cni222-+g2 vikaspuri newavl bal:18,416.66. helpline 18004250585","puri,"
23077,cash withdrawal of rs.500 made on kotak debit card xx5436 on 03-10-2018 11:34:05 at lsc mrkt jahangiri puri.combined balance in a/c xx2408 is rs 25.,"puri,"
23649,cash withdrawal of rs.500 made on kotak debit card xx5436 on 03-10-2018 11:34:05 at lsc mrkt jahangiri puri.combined balance in a/c xx2408 is rs 25.,"puri,"
26093,"rs.500.00 was withdrawn using your hdfc bank card ending 1853 on 2016-08-30:19:26:08 at +krishna puri,cd. avl bal: rs.2519.72","puri,"
26099,"rs.1000.00 was withdrawn using your hdfc bank card ending 1853 on 2016-10-09:13:01:21 at +krishna puri,cd. avl bal: rs.3008.72","puri,"
26100,"rs.3000.00 was withdrawn using your hdfc bank card ending 1853 on 2016-10-06:17:25:42 at +krishna puri,cd. avl bal: rs.4068.72","puri,"
26106,"rs.500.00 was withdrawn using your hdfc bank card ending 1853 on 2016-09-30:08:24:09 at +krishna puri,cd. avl bal: rs.16049.72","puri,"
26107,"rs.500.00 was withdrawn using your hdfc bank card ending 1853 on 2016-09-22:18:47:19 at +krishna puri,cd. avl bal: rs.1818.72","puri,"
26109,"rs.500.00 was withdrawn using your hdfc bank card ending 1853 on 2016-09-26:17:28:43 at +krishna puri,cd. avl bal: rs.1300.72","puri,"
26337,"rs 300 withdrawn at sbi atm s1bb004208001 intouch janakpuri , rajouri garden from a/c xxxx 9995 on 110717.txn#2128 .avl bal rs 602.6.","puri,"
26342,"rs 1500 withdrawn at sbi atm hfbc017036447 517 janakpuri , rajouri garden from a/c xxxx 9995 on 030717.txn#2074 .avl bal rs 10649.2.","puri,"
26343,"rs 200 withdrawn at sbi atm s1bb004208001 intouch janakpuri , rajouri garden from a/c xxxx 9995 on 290617.txn#55 .avl bal rs 184.2.","puri,"
26344,"rs 200 withdrawn at sbi atm s1bb004208001 intouch janakpuri , rajouri garden from a/c xxxx 9995 on 230617.txn#8873 .avl bal rs 218.2.","puri,"
26538,"rs 5000 w/d at sbi atm s1bb014960150 alkapuri city center,gird fm a/cx7503on21/11/18.txn#7022.avl bal rs173481.79.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","puri,"
26540,"rs 1000 w/d at sbi atm s1bb014960150 alkapuri city center,gird fm a/cx7503on14/12/18.txn#5302.avl bal rs157270.79.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","puri,"
26541,"rs 12000 w/d at sbi atm s1bb014960150 alkapuri city center,gird fm a/cx7503on15/12/18.txn#5414.avl bal rs144770.79.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","puri,"
26544,"rs 1000 w/d at sbi atm s1bb014960150 alkapuri city center,gird fm a/cx7503on04/01/19.txn#2553.avl bal rs2944.79.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","puri,"
26548,"rs 2500 w/d at sbi atm s1bb014960150 alkapuri city center,gird fm a/cx7503on11/01/19.txn#5651.avl bal rs282504.7.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","puri,"
26549,"rs 500 w/d at sbi atm s1bb014960150 alkapuri city center,gird fm a/cx7503on17/01/19.txn#7629.avl bal rs218998.34.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","puri,"
26609,"rs 4000 withdrawn at sbi atm s1bg016534474 govindpuri , hauz khas from a/c xxxx 5127 on 230917.txn#5987 .avl bal rs 10011.64.","puri,"
33961,"rs 1000 withdrawn at sbg atm s1bg000727474 govindpuri , hauz khas from a/c xxxx 0488 on 130317.txn#933 .avl bal rs 1553.04.","puri,"
33962,"rs 1000 withdrawn at sbg atm s1bg000727474 govindpuri , hauz khas from a/c xxxx 0488 on 130317.txn#933 .avl bal rs 1553.04.","puri,"
33963,"rs 1000 withdrawn at sbg atm s1bg000727474 govindpuri , hauz khas from a/c xxxx 0488 on 130317.txn#933 .avl bal rs 1553.04.","puri,"

In [143]:
# Dropping the Withdrawl_city column

In [144]:
df['Withdrawl_City'] = df['body'].apply(lambda x:''.join ([i+" " if i in x else '' for i in my_list]))

[]

In [145]:
df.drop(['Withdrawl_City'], axis =1)

,user_id,address_type,building,locality,city,state,row_status,source,body
0,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"cash withdrawal of rs1,500.00 made on kotak debit card x7239 on 24-09-2019 at maharana pratap.avl bal is rs 2,623.58.not you?visit kotak.com/fraud"
1,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx7309 on 29-01-2019 11:53:06 at ghitorni dmrc.combined balance in a/c xx7187 is rs 5277.71.
2,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx7309 on 06-02-2019 21:48:35 at icici bank.combined balance in a/c xx7187 is rs 13025.11.
3,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"you have successfully registered for upi payment on google pay. if not you, please report immediately to your bank. do not share your card details/otp/atm pin with anyone."
4,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"you have successfully registered for upi payment on google pay. if not you, please report immediately to your bank. do not share your card details/otp/atm pin with anyone."
5,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"you have successfully registered for upi payment on google pay. if not you, please report immediately to your bank. do not share your card details/otp/atm pin with anyone."
6,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"cash withdrawal of rs.1,000.00 made on kotak debit card xx7309 on 07-03-2019 22:26:29 at icici bank.combined balance in a/c xx7187 is rs 11,109.22. to report fraud or raise dispute, click kotak.com/fraud"
7,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"cash withdrawal of rs.5,000.00 made on kotak debit card xx7309 on 08-03-2019 17:38:10 at icici bank.combined balance in a/c xx7187 is rs 5,893.35. to report fraud or raise dispute, click kotak.com/fraud"
8,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000091626a/c no **8275 debited with rs 592-- by atm pos/11113565/19:43:36/607265 (clr bal 6303.88cr)(09-05-2019 19:41:26)
9,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000334513a/c no **8275 debited with rs 73-- by atm pos/89050623/11:09:09/846095 (clr bal 6230.88cr)(10-05-2019 11:06:57)
10,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000471557a/c no **8275 debited with rs 130.3-- by atm pos/ubyzaakp/12:11:43/954358 (clr bal 6100.58cr)(10-05-2019 12:09:31)
11,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000310083a/c no **8275 debited with rs 129-- by atm pos/ubyzaakp/10:56:35/485190 (clr bal 5971.58cr)(11-05-2019 10:54:25)
12,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000441936a/c no **8275 debited with rs 88-- by atm pos/utis2i21/16:31:47/967191 (clr bal 5883.58cr)(11-05-2019 16:29:36)
13,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000786797a/c no **8275 debited with rs 148-- by atm pos/89050623/18:42:58/195534 (clr bal 5735.58cr)(12-05-2019 18:40:44)
14,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000860841a/c no **8275 debited with rs 142-- by atm pos/89050623/23:23:48/331523 (clr bal 5593.58cr)(12-05-2019 23:21:33)
15,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000586234a/c no **8275 debited with rs 119-- by atm pos/89050623/17:43:15/442606 (clr bal 5474.58cr)(15-05-2019 17:40:49)
16,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000114521a/c no **8275 debited with rs 251-- by atm pos/41219124/20:55:03/882802 (clr bal 3371.58cr)(20-05-2019 20:52:20)
17,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000273769a/c no **8275 debited with rs 138-- by atm pos/89050623/12:04:32/5988 (clr bal 3233.58cr)(22-05-2019 12:01:42)
18,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000841483a/c no **8275 debited with rs 129-- by atm pos/ubyzaakp/20:41:45/68899 (clr bal 3104.58cr)(22-05-2019 20:38:54)
19,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000142482a/c no **8275 debited with rs 72.46-- by atm pos/88075696/13:11:08/158824 (clr bal 3032.12cr)(23-05-2019 13:08:15)
20,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000165337a/c no **8275 debited with rs 155.4-- by atm pos/88075696/13:28:26/160865 (clr bal 2876.72cr)(23-05-2019 13:25:33)
21,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000326855a/c no **8275 debited with rs 149-- by atm pos/78003697/19:14:44/480431 (clr bal 2727.72cr)(24-05-2019 19:11:46)
22,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"dear customer, you recently completed a transaction at a kotak bank atm. help us improve your experience by providing feedback at http://ltms.io/hyeux5mpag?n."
23,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"dear customer, you recently completed a transaction at a kotak bank atm. help us improve your experience by providing feedback at http://ltms.io/r1qmxa_cam?n."
24,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx9265 on 22-05-2018 08:50:55 at cpaw02214.combined balance in a/c xx4079 is rs 9411.12.
25,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx9265 on 26-05-2018 18:13:44 at 7014.combined balance in a/c xx4079 is rs 8914.1.
26,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx9265 on 09-06-2018 22:03:25 at 504492.combined balance in a/c xx4079 is rs 32101.71.
27,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx9265 on 15-06-2018 21:18:36 at 1fnndl51.combined balance in a/c xx4079 is rs 10223.9.
28,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.2000 made on kotak debit card xx9265 on 24-06-2018 19:05:21 at 1fnndl51.combined balance in a/c xx4079 is rs 9718.45.
29,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.1000 made on kotak debit card xx9265 on 28-06-2018 09:32:09 at d blok vasant vihar.combined balance in a/c xx4079 is rs 7988.6.
...,...,...,...,...,...,...,...,...,...
49970,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 500 withdrawn from a/c xxxx 0746 on 050617 at inb atm s1aj0292.txn# 715623004827 .avl bal rs 2700.85.
49971,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49972,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49973,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 500 withdrawn from a/c xxxx 0746 on 090617 at inb atm s1aj0292.txn# 716022005433 .avl bal rs 2003.25.
49974,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 1000 withdrawn from a/c xxxx 0746 on 150617 at hdf atm p1tnde05.txn# 5999 .avl bal rs 5484.75.
49975,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49976,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 500 withdrawn from a/c xxxx 0746 on 240617 at inb atm s1aj0292.txn# 717511027691 .avl bal rs 4963.4.
49977,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49978,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49979,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 500 withdrawn from a/c xxxx 0746 on 010717 at inb atm s1aj0292.txn# 718210006065 .avl bal rs 3574.04.
49980,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49981,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 1000 withdrawn from a/c xxxx 0746 on 010717 at inb atm s1aj0292.txn# 718210006367 .avl bal rs 2574.04.
49982,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 1000 withdrawn from a/c xxxx 0746 on 010717 at atm s1n2000726150.txn# 4059 .avl bal rs 3074.04.
49983,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49984,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 2000 withdrawn from a/c xxxx 0746 on 050717 at inb atm s1aj0291.txn# 718610030950 .avl bal rs 17541.04.
49985,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49986,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 2000 withdrawn from a/c xxxx 0746 on 090717 at ici atm s1cwk293.txn# 719012001313 .avl bal rs 15341.04.
49987,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49988,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49989,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 1000 withdrawn from a/c xxxx 0746 on 090717 at ici atm s1cwk293.txn# 719016001355 .avl bal rs 14291.04.
49990,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 1000 withdrawn from a/c xxxx 0746 on 180717 at axs atm tpcn1326.txn# 719920032371 .avl bal rs 11744.19.
49991,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49992,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49993,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 2000 withdrawn from a/c xxxx 0746 on 230717 at axs atm bpcn1326.txn# 720412009246 .avl bal rs 3026.41.
49994,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 2000 withdrawn from a/c xxxx 0746 on 310717 at jcb atm jcbd003.txn# 721220958494 .avl bal rs 1002.81.
49995,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49996,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"rs 14000 withdrawn at sbi atm hfbc000727216 h.no. 05, mehar niwas, , delhi from a/c xxxx 0746 on 070817.txn#4567 .avl bal rs 19737.46."
49997,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 1000 withdrawn from a/c xxxx 0746 on 120917 at hdf atm p1ewdl53.txn# 725520011424 .avl bal rs 15094.6.
49998,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49999,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"

In [146]:
df['Withdrawl_City'] = df['body'].apply(lambda x:''.join ([i+" " if i in x else '' for i in my_list]))

In [147]:
df.head()

,user_id,address_type,building,locality,city,state,row_status,source,body,Withdrawl_City
0,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"cash withdrawal of rs1,500.00 made on kotak debit card x7239 on 24-09-2019 at maharana pratap.avl bal is rs 2,623.58.not you?visit kotak.com/fraud",
1,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx7309 on 29-01-2019 11:53:06 at ghitorni dmrc.combined balance in a/c xx7187 is rs 5277.71.,
2,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx7309 on 06-02-2019 21:48:35 at icici bank.combined balance in a/c xx7187 is rs 13025.11.,
3,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"you have successfully registered for upi payment on google pay. if not you, please report immediately to your bank. do not share your card details/otp/atm pin with anyone.",
4,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"you have successfully registered for upi payment on google pay. if not you, please report immediately to your bank. do not share your card details/otp/atm pin with anyone.",

In [148]:
df.tail()

,user_id,address_type,building,locality,city,state,row_status,source,body,Withdrawl_City
49995,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable",
49996,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"rs 14000 withdrawn at sbi atm hfbc000727216 h.no. 05, mehar niwas, , delhi from a/c xxxx 0746 on 070817.txn#4567 .avl bal rs 19737.46.",delhi
49997,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 1000 withdrawn from a/c xxxx 0746 on 120917 at hdf atm p1ewdl53.txn# 725520011424 .avl bal rs 15094.6.,
49998,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable",
49999,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable",

In [149]:
df['Withdrawl_City'].value_counts()

                           46333
delhi                       1105
noida                        570
allahabad                    501
gurgaon                      200
mul                           90
bangalore                     80
faridabad                     74
indore                        73
mul ambala                    66
meerut noida                  66
agra                          63
thane                         59
jaipur                        49
rewa                          47
patna                         43
udaipur                       40
meerut                        38
delhi mul                     26
aligarh                       26
vidisha                       24
noida rampur                  21
karimganj                     18
uran                          17
imphal                        17
maharajpur                    16
delhi nangal                  15
pune                          14
nangal                        13
sagar                         13
                           ...
purnia                         2
srinagar                       2
zira                           2
jaipur ramgarh                 2
nagaon adra                    2
begusarai                      2
mudhol                         2
dhanbad                        2
nashik                         2
panipat                        2
nagaon marigaon                2
pilani                         1
robertsganj                    1
chennai vita                   1
patna muzaffarpur              1
delhi durg bahadurgarh         1
mundi                          1
korba                          1
samastipur                     1
renukoot                       1
moga                           1
nadiad                         1
mumbai delhi                   1
mathura                        1
jamshedpur                     1
pasan                          1
delhi sultanpur                1
nainital                       1
mandawa                        1
yavatmal                       1
Name: Withdrawl_City, Length: 105, dtype: int64

In [150]:
[i for i in my_list if i == 'mul']

['mul']

In [151]:
df_2[df_2['Withdrawl_City']=='mul,']

,body,Withdrawl_City
1363,"rs 12000 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on20/01/18.txn#3479.avl bal rs506.47.download yono @ www.yonosbi.com","mul,"
1364,"rs 500 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on20/01/18.txn#3481.avl bal rs6.47.download yono @ www.yonosbi.com","mul,"
1365,"rs 3500 w/d at sbi atm s1na000608023 mm medical college,mullana fm a/cx1419on02/02/18.txn#8340.avl bal rs500.0.download yono @ www.yonosbi.com","mul,"
1372,"rs 500 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on04/03/18.txn#8893.avl bal rs5.17.download yono @ www.yonosbi.com.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109","mul,"
1373,"rs 5400 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on11/03/18.txn#2971.avl bal rs60.97.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1374,"rs 1000 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on23/03/18.txn#2573.avl bal rs3.17.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1377,"rs 1000 w/d at sbi atm s1na000608023 mm medical college,mullana fm a/cx1419on30/03/18.txn#5163.avl bal rs9.17.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1383,"rs 1000 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on25/04/18.txn#9939.avl bal rs0.57.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1385,"rs 500 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on07/05/18.txn#5758.avl bal rs530.57.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1386,"rs 3000 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on10/05/18.txn#7161.avl bal rs3005.57.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1387,"rs 500 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on15/05/18.txn#9017.avl bal rs1005.57.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1389,"rs 1000 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on18/05/18.txn#6313.avl bal rs505.57.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1391,"rs 500 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on20/05/18.txn#1277.avl bal rs2025.57.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1392,"rs 1500 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on22/05/18.txn#8640.avl bal rs17.57.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1407,"rs 6000 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on21/07/18.txn#2740.avl bal rs0.41.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1409,"rs 1000 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on24/07/18.txn#3615.avl bal rs15.81.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1411,"rs 500 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on30/07/18.txn#5022.avl bal rs15.81.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1412,"rs 200 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on02/08/18.txn#989.avl bal rs55.65.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com@","mul,"
1413,"rs 500 w/d at sbi atm s1na000608023 mm medical college,mullana fm a/cx1419on03/08/18.txn#4440.avl bal rs5005.65.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1427,"rs 1000 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on15/08/18.txn#9813.avl bal rs6.65.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1435,"rs 200 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on22/08/18.txn#1443.avl bal rs556.65.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1437,"rs 200 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on23/08/18.txn#9703.avl bal rs256.65.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1438,"rs 200 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on24/08/18.txn#2025.avl bal rs56.65.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1442,"rs 400 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on01/09/18.txn#3265.avl bal rs27.0.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com@","mul,"
1455,"rs 100 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on21/09/18.txn#2091.avl bal rs0.29.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
1489,"rs 12000 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on20/01/18.txn#3479.avl bal rs506.47.download yono @ www.yonosbi.com","mul,"
1490,"rs 500 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on20/01/18.txn#3481.avl bal rs6.47.download yono @ www.yonosbi.com","mul,"
1491,"rs 3500 w/d at sbi atm s1na000608023 mm medical college,mullana fm a/cx1419on02/02/18.txn#8340.avl bal rs500.0.download yono @ www.yonosbi.com","mul,"
1498,"rs 500 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on04/03/18.txn#8893.avl bal rs5.17.download yono @ www.yonosbi.com.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109","mul,"
1499,"rs 5400 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on11/03/18.txn#2971.avl bal rs60.97.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
...,...,...
2000,"rs 500 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on20/01/18.txn#3481.avl bal rs6.47.download yono @ www.yonosbi.com","mul,"
2001,"rs 3500 w/d at sbi atm s1na000608023 mm medical college,mullana fm a/cx1419on02/02/18.txn#8340.avl bal rs500.0.download yono @ www.yonosbi.com","mul,"
2008,"rs 500 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on04/03/18.txn#8893.avl bal rs5.17.download yono @ www.yonosbi.com.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109","mul,"
2009,"rs 5400 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on11/03/18.txn#2971.avl bal rs60.97.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2010,"rs 1000 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on23/03/18.txn#2573.avl bal rs3.17.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2013,"rs 1000 w/d at sbi atm s1na000608023 mm medical college,mullana fm a/cx1419on30/03/18.txn#5163.avl bal rs9.17.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2019,"rs 1000 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on25/04/18.txn#9939.avl bal rs0.57.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2021,"rs 500 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on07/05/18.txn#5758.avl bal rs530.57.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2022,"rs 3000 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on10/05/18.txn#7161.avl bal rs3005.57.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2023,"rs 500 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on15/05/18.txn#9017.avl bal rs1005.57.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2025,"rs 1000 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on18/05/18.txn#6313.avl bal rs505.57.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2027,"rs 500 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on20/05/18.txn#1277.avl bal rs2025.57.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2028,"rs 1500 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on22/05/18.txn#8640.avl bal rs17.57.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2043,"rs 6000 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on21/07/18.txn#2740.avl bal rs0.41.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2045,"rs 1000 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on24/07/18.txn#3615.avl bal rs15.81.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2047,"rs 500 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on30/07/18.txn#5022.avl bal rs15.81.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2048,"rs 200 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on02/08/18.txn#989.avl bal rs55.65.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com@","mul,"
2049,"rs 500 w/d at sbi atm s1na000608023 mm medical college,mullana fm a/cx1419on03/08/18.txn#4440.avl bal rs5005.65.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2064,"rs 1000 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on15/08/18.txn#9813.avl bal rs6.65.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2072,"rs 200 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on22/08/18.txn#1443.avl bal rs556.65.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2074,"rs 200 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on23/08/18.txn#9703.avl bal rs256.65.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2075,"rs 200 w/d at sbi atm bhnf000608030 mullana,ambala fm a/cx1419on24/08/18.txn#2025.avl bal rs56.65.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
2079,"rs 400 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on01/09/18.txn#3265.avl bal rs27.0.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com@","mul,"
2092,"rs 100 w/d at sbi atm s1nw011843005 mmu mullana,barara fm a/cx1419on21/09/18.txn#2091.avl bal rs0.29.if not done by you, forward this sms from mobile number registered with sbi to 9223008333 to block your card. you may also call 1-800-111109.download yono @ www.yonosbi.com","mul,"
11516,"rs 500 w/d at sbi atm s1b4016534007 sec-18,rohini,multit,saraswati fm a/cx0578on02/02/18.txn#6109.avl bal rs8832.68.download yono @ www.yonosbi.com","mul,"
11636,"rs 500 w/d at sbi atm s1b4016534007 sec-18,rohini,multit,saraswati fm a/cx0578on02/02/18.txn#6109.avl bal rs8832.68.download yono @ www.yonosbi.com","mul,"
11756,"rs 500 w/d at sbi atm s1b4016534007 sec-18,rohini,multit,saraswati fm a/cx0578on02/02/18.txn#6109.avl bal rs8832.68.download yono @ www.yonosbi.com","mul,"
11876,"rs 500 w/d at sbi atm s1b4016534007 sec-18,rohini,multit,saraswati fm a/cx0578on02/02/18.txn#6109.avl bal rs8832.68.download yono @ www.yonosbi.com","mul,"
11996,"rs 500 w/d at sbi atm s1b4016534007 sec-18,rohini,multit,saraswati fm a/cx0578on02/02/18.txn#6109.avl bal rs8832.68.download yono @ www.yonosbi.com","mul,"
35564,"dear customer, your account has more than one active atm cards. to avoid amc on multiple debitcards next year. please block cards which is not in use by you.","mul,"

In [152]:
# removing mul from the my_list
my_list.remove('mul')

In [153]:
[i for i in my_list if i == 'mul']

[]

In [154]:
df['Withdrawl_City'].value_counts()

                           46333
delhi                       1105
noida                        570
allahabad                    501
gurgaon                      200
mul                           90
bangalore                     80
faridabad                     74
indore                        73
mul ambala                    66
meerut noida                  66
agra                          63
thane                         59
jaipur                        49
rewa                          47
patna                         43
udaipur                       40
meerut                        38
delhi mul                     26
aligarh                       26
vidisha                       24
noida rampur                  21
karimganj                     18
uran                          17
imphal                        17
maharajpur                    16
delhi nangal                  15
pune                          14
nangal                        13
sagar                         13
                           ...
purnia                         2
srinagar                       2
zira                           2
jaipur ramgarh                 2
nagaon adra                    2
begusarai                      2
mudhol                         2
dhanbad                        2
nashik                         2
panipat                        2
nagaon marigaon                2
pilani                         1
robertsganj                    1
chennai vita                   1
patna muzaffarpur              1
delhi durg bahadurgarh         1
mundi                          1
korba                          1
samastipur                     1
renukoot                       1
moga                           1
nadiad                         1
mumbai delhi                   1
mathura                        1
jamshedpur                     1
pasan                          1
delhi sultanpur                1
nainital                       1
mandawa                        1
yavatmal                       1
Name: Withdrawl_City, Length: 105, dtype: int64

In [157]:
# Dropping the withdrawl city column

In [158]:
df.drop(['Withdrawl_City'], axis =1)

,user_id,address_type,building,locality,city,state,row_status,source,body
0,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"cash withdrawal of rs1,500.00 made on kotak debit card x7239 on 24-09-2019 at maharana pratap.avl bal is rs 2,623.58.not you?visit kotak.com/fraud"
1,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx7309 on 29-01-2019 11:53:06 at ghitorni dmrc.combined balance in a/c xx7187 is rs 5277.71.
2,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx7309 on 06-02-2019 21:48:35 at icici bank.combined balance in a/c xx7187 is rs 13025.11.
3,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"you have successfully registered for upi payment on google pay. if not you, please report immediately to your bank. do not share your card details/otp/atm pin with anyone."
4,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"you have successfully registered for upi payment on google pay. if not you, please report immediately to your bank. do not share your card details/otp/atm pin with anyone."
5,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"you have successfully registered for upi payment on google pay. if not you, please report immediately to your bank. do not share your card details/otp/atm pin with anyone."
6,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"cash withdrawal of rs.1,000.00 made on kotak debit card xx7309 on 07-03-2019 22:26:29 at icici bank.combined balance in a/c xx7187 is rs 11,109.22. to report fraud or raise dispute, click kotak.com/fraud"
7,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"cash withdrawal of rs.5,000.00 made on kotak debit card xx7309 on 08-03-2019 17:38:10 at icici bank.combined balance in a/c xx7187 is rs 5,893.35. to report fraud or raise dispute, click kotak.com/fraud"
8,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000091626a/c no **8275 debited with rs 592-- by atm pos/11113565/19:43:36/607265 (clr bal 6303.88cr)(09-05-2019 19:41:26)
9,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000334513a/c no **8275 debited with rs 73-- by atm pos/89050623/11:09:09/846095 (clr bal 6230.88cr)(10-05-2019 11:06:57)
10,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000471557a/c no **8275 debited with rs 130.3-- by atm pos/ubyzaakp/12:11:43/954358 (clr bal 6100.58cr)(10-05-2019 12:09:31)
11,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000310083a/c no **8275 debited with rs 129-- by atm pos/ubyzaakp/10:56:35/485190 (clr bal 5971.58cr)(11-05-2019 10:54:25)
12,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000441936a/c no **8275 debited with rs 88-- by atm pos/utis2i21/16:31:47/967191 (clr bal 5883.58cr)(11-05-2019 16:29:36)
13,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000786797a/c no **8275 debited with rs 148-- by atm pos/89050623/18:42:58/195534 (clr bal 5735.58cr)(12-05-2019 18:40:44)
14,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000860841a/c no **8275 debited with rs 142-- by atm pos/89050623/23:23:48/331523 (clr bal 5593.58cr)(12-05-2019 23:21:33)
15,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000586234a/c no **8275 debited with rs 119-- by atm pos/89050623/17:43:15/442606 (clr bal 5474.58cr)(15-05-2019 17:40:49)
16,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000114521a/c no **8275 debited with rs 251-- by atm pos/41219124/20:55:03/882802 (clr bal 3371.58cr)(20-05-2019 20:52:20)
17,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000273769a/c no **8275 debited with rs 138-- by atm pos/89050623/12:04:32/5988 (clr bal 3233.58cr)(22-05-2019 12:01:42)
18,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000841483a/c no **8275 debited with rs 129-- by atm pos/ubyzaakp/20:41:45/68899 (clr bal 3104.58cr)(22-05-2019 20:38:54)
19,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000142482a/c no **8275 debited with rs 72.46-- by atm pos/88075696/13:11:08/158824 (clr bal 3032.12cr)(23-05-2019 13:08:15)
20,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000165337a/c no **8275 debited with rs 155.4-- by atm pos/88075696/13:28:26/160865 (clr bal 2876.72cr)(23-05-2019 13:25:33)
21,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,psb000000000326855a/c no **8275 debited with rs 149-- by atm pos/78003697/19:14:44/480431 (clr bal 2727.72cr)(24-05-2019 19:11:46)
22,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"dear customer, you recently completed a transaction at a kotak bank atm. help us improve your experience by providing feedback at http://ltms.io/hyeux5mpag?n."
23,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"dear customer, you recently completed a transaction at a kotak bank atm. help us improve your experience by providing feedback at http://ltms.io/r1qmxa_cam?n."
24,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx9265 on 22-05-2018 08:50:55 at cpaw02214.combined balance in a/c xx4079 is rs 9411.12.
25,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx9265 on 26-05-2018 18:13:44 at 7014.combined balance in a/c xx4079 is rs 8914.1.
26,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx9265 on 09-06-2018 22:03:25 at 504492.combined balance in a/c xx4079 is rs 32101.71.
27,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx9265 on 15-06-2018 21:18:36 at 1fnndl51.combined balance in a/c xx4079 is rs 10223.9.
28,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.2000 made on kotak debit card xx9265 on 24-06-2018 19:05:21 at 1fnndl51.combined balance in a/c xx4079 is rs 9718.45.
29,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.1000 made on kotak debit card xx9265 on 28-06-2018 09:32:09 at d blok vasant vihar.combined balance in a/c xx4079 is rs 7988.6.
...,...,...,...,...,...,...,...,...,...
49970,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 500 withdrawn from a/c xxxx 0746 on 050617 at inb atm s1aj0292.txn# 715623004827 .avl bal rs 2700.85.
49971,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49972,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49973,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 500 withdrawn from a/c xxxx 0746 on 090617 at inb atm s1aj0292.txn# 716022005433 .avl bal rs 2003.25.
49974,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 1000 withdrawn from a/c xxxx 0746 on 150617 at hdf atm p1tnde05.txn# 5999 .avl bal rs 5484.75.
49975,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49976,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 500 withdrawn from a/c xxxx 0746 on 240617 at inb atm s1aj0292.txn# 717511027691 .avl bal rs 4963.4.
49977,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49978,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49979,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 500 withdrawn from a/c xxxx 0746 on 010717 at inb atm s1aj0292.txn# 718210006065 .avl bal rs 3574.04.
49980,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49981,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 1000 withdrawn from a/c xxxx 0746 on 010717 at inb atm s1aj0292.txn# 718210006367 .avl bal rs 2574.04.
49982,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 1000 withdrawn from a/c xxxx 0746 on 010717 at atm s1n2000726150.txn# 4059 .avl bal rs 3074.04.
49983,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49984,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 2000 withdrawn from a/c xxxx 0746 on 050717 at inb atm s1aj0291.txn# 718610030950 .avl bal rs 17541.04.
49985,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49986,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 2000 withdrawn from a/c xxxx 0746 on 090717 at ici atm s1cwk293.txn# 719012001313 .avl bal rs 15341.04.
49987,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49988,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49989,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 1000 withdrawn from a/c xxxx 0746 on 090717 at ici atm s1cwk293.txn# 719016001355 .avl bal rs 14291.04.
49990,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 1000 withdrawn from a/c xxxx 0746 on 180717 at axs atm tpcn1326.txn# 719920032371 .avl bal rs 11744.19.
49991,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49992,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49993,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 2000 withdrawn from a/c xxxx 0746 on 230717 at axs atm bpcn1326.txn# 720412009246 .avl bal rs 3026.41.
49994,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 2000 withdrawn from a/c xxxx 0746 on 310717 at jcb atm jcbd003.txn# 721220958494 .avl bal rs 1002.81.
49995,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49996,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"rs 14000 withdrawn at sbi atm hfbc000727216 h.no. 05, mehar niwas, , delhi from a/c xxxx 0746 on 070817.txn#4567 .avl bal rs 19737.46."
49997,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 1000 withdrawn from a/c xxxx 0746 on 120917 at hdf atm p1ewdl53.txn# 725520011424 .avl bal rs 15094.6.
49998,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"
49999,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable"

In [159]:
df['Withdrawl_City'] = df['body'].apply(lambda x:''.join ([i+" " if i in x else '' for i in my_list]))

In [160]:
df.head()

,user_id,address_type,building,locality,city,state,row_status,source,body,Withdrawl_City
0,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"cash withdrawal of rs1,500.00 made on kotak debit card x7239 on 24-09-2019 at maharana pratap.avl bal is rs 2,623.58.not you?visit kotak.com/fraud",
1,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx7309 on 29-01-2019 11:53:06 at ghitorni dmrc.combined balance in a/c xx7187 is rs 5277.71.,
2,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx7309 on 06-02-2019 21:48:35 at icici bank.combined balance in a/c xx7187 is rs 13025.11.,
3,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"you have successfully registered for upi payment on google pay. if not you, please report immediately to your bank. do not share your card details/otp/atm pin with anyone.",
4,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"you have successfully registered for upi payment on google pay. if not you, please report immediately to your bank. do not share your card details/otp/atm pin with anyone.",

In [161]:
df.tail()

,user_id,address_type,building,locality,city,state,row_status,source,body,Withdrawl_City
49995,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable",
49996,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"rs 14000 withdrawn at sbi atm hfbc000727216 h.no. 05, mehar niwas, , delhi from a/c xxxx 0746 on 070817.txn#4567 .avl bal rs 19737.46.",delhi
49997,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 1000 withdrawn from a/c xxxx 0746 on 120917 at hdf atm p1ewdl53.txn# 725520011424 .avl bal rs 15094.6.,
49998,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable",
49999,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable",

In [162]:
df['Withdrawl_City'].value_counts()

                           46436
delhi                       1146
noida                        591
allahabad                    501
gurgaon                      200
bangalore                     80
ambala                        78
faridabad                     74
indore                        73
meerut noida                  66
agra                          63
thane                         59
jaipur                        49
rewa                          47
patna                         43
udaipur                       40
meerut                        38
aligarh                       26
vidisha                       24
karimganj                     18
uran                          17
imphal                        17
maharajpur                    16
pune                          14
roorkee                       13
sagar                         13
jehanabad                     12
sikanderpur                   12
delhi bhopal                  10
rohtak                        10
                           ...
jaipur ramgarh                 2
dhanbad                        2
karur                          2
begusarai                      2
nashik                         2
srinagar                       2
mudhol                         2
zira                           2
nagaon marigaon                2
panipat                        2
delhi karur                    2
pilani                         1
chennai vita                   1
nainital                       1
mundi                          1
robertsganj                    1
moga                           1
jamshedpur                     1
samastipur                     1
nadiad                         1
pasan                          1
delhi sultanpur                1
patna muzaffarpur              1
delhi durg bahadurgarh         1
korba                          1
renukoot                       1
mumbai delhi                   1
mathura                        1
mandawa                        1
yavatmal                       1
Name: Withdrawl_City, Length: 99, dtype: int64

In [164]:
# Verifying the results
df.head()

,user_id,address_type,building,locality,city,state,row_status,source,body,Withdrawl_City
0,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"cash withdrawal of rs1,500.00 made on kotak debit card x7239 on 24-09-2019 at maharana pratap.avl bal is rs 2,623.58.not you?visit kotak.com/fraud",
1,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx7309 on 29-01-2019 11:53:06 at ghitorni dmrc.combined balance in a/c xx7187 is rs 5277.71.,
2,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,cash withdrawal of rs.500 made on kotak debit card xx7309 on 06-02-2019 21:48:35 at icici bank.combined balance in a/c xx7187 is rs 13025.11.,
3,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"you have successfully registered for upi payment on google pay. if not you, please report immediately to your bank. do not share your card details/otp/atm pin with anyone.",
4,21,Home with family,jvjvjgjgggbbbbb,New ashok nagar,New Delhi West,DELHI,active,None,"you have successfully registered for upi payment on google pay. if not you, please report immediately to your bank. do not share your card details/otp/atm pin with anyone.",

In [165]:
df.tail()

,user_id,address_type,building,locality,city,state,row_status,source,body,Withdrawl_City
49995,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable",
49996,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"rs 14000 withdrawn at sbi atm hfbc000727216 h.no. 05, mehar niwas, , delhi from a/c xxxx 0746 on 070817.txn#4567 .avl bal rs 19737.46.",delhi
49997,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,rs 1000 withdrawn from a/c xxxx 0746 on 120917 at hdf atm p1ewdl53.txn# 725520011424 .avl bal rs 15094.6.,
49998,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable",
49999,4032,Rented with friends,"Jamia millia islamia, okhla",ghaffar manzil,new delhi,DELHI,active,None,"use sbi atms for better security, convenience & faster complaint resolution. as per rbi directive, more than 3 txns in metro & 5 in non-metro are chargeable",

In [175]:
df.to_csv('Final.csv')